<div class="region region-content">
    <div class="net-terms-wrapper">
        <div class="nets-terms-description">
            <p><strong>{{'payment-service-provider' | translate}}</strong></p>
        
            <p>{{'paytrail-plc-acts-as-a-collecating' | translate}}</p>
            
            <p [innerHTML]="str | translate"></p>
        </div>
        <div class="case-payment-link text-center bold">
            <a routerLink="/overview/{{msg}}">{{'back-to-payment' | translate}}</a>
        </div>
    </div>
</div>


