<button mat-icon-button class="close-button matClose" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>

<div>
    <form class="poa-form poa-toggle" Role="presentation" autocomplete="off" id="profile-form" [formGroup]="notificationChannelForm">

        <div class="notification-dropdown notification-form-field">
            <div class="form-group">
                <label for="notification-option" class="control-label">
                    Notification Channel
                </label>
                <select class="form-select form-control" id="notification-option"
                    formControlName='notificationsDropdown' (change)="notificationChannelChanged($event.srcElement.value,debtors)">
                    <option value="{{notificationChannel.key}}"
                        *ngFor="let notificationChannel of notificationChannels">
                        {{notificationChannel.value}}
                    </option>
                </select>
            </div>
        </div>
        <div class="email notification-form-field" *ngIf="showEmail">
            <div class="form-group">
                <label for="email" class="control-label js-form-required form-required">
                    Email
                </label>
                <input placeholder="abc@mail.com" autocomplete="chrome-off" formControlName="email"
                    class="form-text required form-control" type="text" id="email" size="60"
                    maxlength="128" required="required">
                <app-ErrorMessage [control]="notificationChannelForm.controls.email"></app-ErrorMessage>
            </div>
        </div>

        <div class="phone-number notification-form-field" *ngIf="showPhone">
            <div class="form-group">
                <label for="phone" class="control-label js-form-required form-required">
                    Phone
                </label>
                <input autocomplete="chrome-off" placeholder="+987654321" title="Phone" formControlName="phone"
                    class="form-text form-control" type="text" id="phone" size="60" maxlength="15">
                    <app-ErrorMessage [control]="notificationChannelForm.controls.phone"></app-ErrorMessage>
            </div>
        </div>

        <div class="btn-wrapr-poa">
            <button class="button btn-default btn" [ngClass]="!notificationChannelForm.valid ? 'disabledBtn' :'' " [disabled]="!notificationChannelForm.valid" 
                type="submit" class="edit-profile-submit" (click)="submitNotice()">Save</button>
        </div>
    </form>
</div>