label{
    font-family: 'Roboto-bold'
  }
  .notification-dropdown{
    display: block;
  }
  
  .notification-form-field{
    padding: 5px 10px 5px 0px;
  }
  
  .profile-section{
    border-bottom: 2px solid #D8D8D8;
  }
  .profile-section-notification{
    border-bottom: 2px solid #D8D8D8;
    padding-bottom: 70px;
  }
  
  .matClose{
    border-radius: 50%;
    padding-top: 5px;
    float: right;
    border: none;
  }

  .profile-tabGroup{
    margin-top: 40px;
  }

  #profile-form{
    background: white;
    border-radius: 4px;
    padding:6%;
  }
  
  
  .edit-profile-submit{
    background-color: #250e62;
    margin-bottom: 15px !important;
    border-radius: 20px;
    position: relative;
    margin-top: 15px;
    color: white;
    padding: 7px 20px;
    font-weight: bold;
    float: right;
    margin-right: 150px;
    top: 150px;
    left: 140px;
  }

  .disabledBtn{
    opacity: 0.65;
  }