<div class="highlighted">  
    <div class="region region-highlighted" *ngIf="errorMessage">
    <div class="hidden"></div>      
    <div class="alert alert-danger alert-dismissible">
      <button role="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="sr-only">Error message</h4>
       {{errorMessage}}
      </div>
  </div>
  </div>
