.navbar-default{
    .navbar-collapse{
        &.inactive{
            display: none !important;
        }
    }
    .sergel-title{
        &.inactive{
            display: none !important;
        }
    }
    .navbar-toggle{
        &.inactive{
            display: none !important;
        }
    }
    .navbar-header{
        .block-sergel-messaging{
            &.inactive{
                display: none !important;
            }
        }
        .block-sergel-messaging{
            &.inactive{
                display: none !important;
            }
        }
        .block-language-blocklanguage-interface{
            &.active{
                display: none !important;
            }
        }
    }
    .account-link{
        cursor: pointer;
    }

    .logout-dropdown{
        margin-left: 0px;
    }
    .account-dropdown{
        left:8px;
    }
    .logout-dropdown{
        margin-left: 0px;
    }
    .account-dropdown{
        left:8px;
    }
  
}
.dropdown-menu.open{

}

.vertical-separator-header{
    font-weight: lighter;
    font-size: 18px;
    opacity: 0.3;
}
