<header class="navbar navbar-default container" id="navbar" role="banner">
  <div class="navbar-header">
    <!-- Header Logo Start -->
    <div class="region region-navigation">
      <a class="logo navbar-btn pull-left" routerLink="/overview" title="Home" rel="home">
        <img src="../../assets/images/logo.svg" alt="Home">
      </a>
      <a id="block-messagesicon" class="block block-sergel-messaging block-messages-icon-block clearfix">
        <!-- <a  class="message-icon active"> -->
          <span class="badge badge-light block-messages-icon-block-label" *ngIf="messageCount!=0" style="border-bottom: 0px;position: absolute;right: 17%;top:8px;">{{messageCount}}</span>
          <i routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="icofont-ui-message mobile-message  menu-ico"></i>
        <!-- </a> -->
        </a>
    </div>
    <!-- Header Logo End -->
    <!-- Toggle Menu Button -->
    <button type="button" class="navbar-toggle" (click)="toogleClass()" data-toggle="collapse" data-target="#navbar-collapse"  [ngClass]=" [toogleMenu ? 'open' :'collapsed' ]" [attr.aria-expanded]="toogleMenu ? 'true' : 'false' " >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <div class="menu-toggle sr-only">
        <span class="menu">MENU</span>
        <span class="closeMenu">CLOSE</span>
      </div>
    </button>
  </div>
  <!-- Mobile Bottom Menu Start -->
  <div id="navbar-collapse" class="navbar-collapse collapse" [ngClass]="[toogleMenu ? 'collapsed in' : 'collapsed']" [attr.aria-expanded]="toogleMenu ? 'true' : 'false' ">
    <div class="visible-xs mob-nav-title" role="heading">
      <div class="region m-region region-header">
        <nav role="navigation" aria-labelledby="block-sergel-main-menu-menu" id="block-sergel-main-menu">
          <h2 class="sr-only" id="block-sergel-main-menu-menu">Main navigation</h2>
          <ul class="menu menu--main nav navbar-nav">
            <li *ngFor="let item of navigateList">
              <a routerLink="/{{item.path}}"  routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: false }">{{item.name | translate}}</a>
            </li>
            <li>
              <a class="message" routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"> {{'Messages' | translate }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Left Navigation start -->
    <div class="region region-navigation-collapsible">
      <nav role="navigation" aria-labelledby="block-sergel-account-menu-menu" id="block-sergel-account-menu">
        <h2 class="sr-only" id="block-sergel-account-menu-menu">User account menu</h2>
        <ul class="menu menu--account nav navbar-nav navbar-right c-menu-account">                                       
          <li class="hidden-xs">
            <span class="badge badge-light block-messages-icon-block-label" *ngIf="messageCount!=0" style="border-bottom:0px">{{messageCount}}</span>
            <a class="message" style="padding-left: 5px !important;" routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"><span>{{'Messages' | translate }}</span><i class="icofont-ui-message menu-ico"></i></a>
          </li>
          <li class="dropwon" (click)="toogleSwitch()" [ngClass]="{'open':toogleLngMenu}">
            <a class="switch">{{switcherLang}}<i class="icofont-globe menu-ico" ></i>&nbsp;<i class="menu-ico icofont-rounded-down" [ngClass]="toogleLngMenu ? 'icofont-rounded-up' : 'icofont-rounded-down'"></i></a>
            <ul class="dropdown-menu">
              <li class="en is-active" (click)="switchLanguage(switcherLngOption)" *ngFor=" let switcherLngOption of switcherLngOptions">
                <a  class="language-link session-active is-active"  ><i class="icofont-globe menu-ico"></i>&nbsp;{{switcherLngOption}}</a>
               </li>
            </ul>
          </li>
         
          <!-- <li class="dropwon" (click)="toggleAccountOption()" [ngClass]="{'open':toogleAccountMenu}">
            <a class="username">{{userName}}&nbsp;<i class="menu-ico icofont-rounded-down" [ngClass]="toogleAccountMenu ? 'icofont-rounded-up' : 'icofont-rounded-down'"></i></a>
            <ul class="dropdown-menu account-dropdown">
              <li class="en is-active">
                <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="language-link session-active is-active"><i class="icofont-ui-user menu-ico"></i>&nbsp;Profile</a>
              </li>
               <li class="en is-active" (click)="logOut()">
                <a class="language-link session-active is-active"><i class="logout-dropdown logout menu-ico icofont-logout"></i>&nbsp;LogOut</a>
               </li>
            </ul>
          </li> -->

          <li>
            <a style="padding-right: 4px !important;cursor: auto;" class="username">{{userName}}</a>
            <span (click)="logOut()"><i  class="logout menu-ico icofont-logout"></i></span>             
            <!-- <a style="padding-right: 4px !important" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" class="username">{{userName}} &nbsp;<i class="icofont-ui-user menu-ico"></i></a>
            <span class="vertical-separator-header">|</span>
            <span (click)="logOut()"><i  class="logout menu-ico icofont-logout"></i></span> -->
          </li>
         
        </ul>
      </nav>
    </div>
    <!--Left Navigation End-->
  </div>
  <!-- Mobile Bottom Menu End -->
  <!-- Bottom Menu Start -->
  <div class="col-sm-12 hidden-xs sergel-title"  role="heading">
    <div class="region d-region region-header">
      <nav role="navigation" aria-labelledby="block-sergel-main-menu-menu" id="block-sergel-main-menu">
        <h2 class="sr-only" id="block-sergel-main-menu-menu">Main navigation</h2>
        <ul class="menu menu--main nav navbar-nav">
          <li *ngFor="let item of navigateList">
            <a routerLink="/{{item.path}}"  routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: false }">{{item.name | translate}}</a>
          </li>
         </ul>
      </nav>
    </div>
  </div>
  <!-- Bottom Menu End -->
</header>
