<!-- <mat-tab-group [(selectedIndex)]="ProfileTabIndex">
    <mat-tab label="Name">
        {{fullName}}
    </mat-tab>
    <mat-tab label="Notification Channel">
        <div>
            <form class="poa-form poa-toggle" Role="presentation" autocomplete="off" id="profile-form" [formGroup]="notificationChannelForm">

                <div class="notification-dropdown notification-form-field">
                    <div class="form-group">
                        <label for="notification-option" class="control-label">
                            Notification Channel
                        </label>
                        <select class="form-select form-control" id="notification-option"
                            formControlName='notificationsDropdown' (change)="notificationChannelChanged($event.srcElement.value,debtors)">
                            <option value="{{notificationChannel.key}}"
                                *ngFor="let notificationChannel of notificationChannels">
                                {{notificationChannel.value}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="email notification-form-field" *ngIf="showEmail">
                    <div class="form-group">
                        <label for="email" class="control-label js-form-required form-required">
                            Email
                        </label>
                        <input placeholder="abc@mail.com" autocomplete="chrome-off" formControlName="email"
                            class="form-text required form-control" type="text" id="email" size="60"
                            maxlength="128" required="required">
                        <app-ErrorMessage [control]="notificationChannelForm.controls.email"></app-ErrorMessage>
                    </div>
                </div>

                <div class="phone-number notification-form-field" *ngIf="showPhone">
                    <div class="form-group">
                        <label for="phone" class="control-label js-form-required form-required">
                            Phone
                        </label>
                        <input autocomplete="chrome-off" placeholder="Phone" title="Phone" formControlName="phone"
                            class="form-text form-control" type="text" id="phone" size="60" maxlength="15">
                            <app-ErrorMessage [control]="notificationChannelForm.controls.phone"></app-ErrorMessage>
                    </div>
                </div>

                <div class="btn-wrapr-poa">
                    <button class="button btn-default btn" [ngClass]="!notificationChannelForm.valid ? 'disabledBtn' :'' " [disabled]="!notificationChannelForm.valid" 
                        type="submit" class="edit-profile-submit" (click)="submitNotice()">Save</button>
                </div>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Bank Details">
        <div>
            Bank details section
        </div>
    </mat-tab>
</mat-tab-group> -->

<section class="views-element-container block block-views block-views-blockpayment-options-block-1 clearfix"
          id="notification-channel-section">
          <div class="form-group">
            <div class="notification-accordian-header-container view view-payment-options view-id-payment_options view-display-id-block_1 ">
              <div class="view-header">
                <h3 class="notification-channel-title accordian-header font-18" (click)="accordian(this,'bank-payments')">
                    Notification Channel
                </h3>
              </div>

              <div class="view-content open-elaborate collapse bank-payments">
                <form class="poa-form poa-toggle" Role="presentation" autocomplete="off" id="profile-form" [formGroup]="notificationChannelForm">
    
                    <div class="notification-dropdown notification-form-field">
                        <div class="form-group">
                            <select class="form-select form-control" id="notification-option"
                                formControlName='notificationsDropdown' (change)="notificationChannelChanged($event.srcElement.value,debtors)">
                                <option value="{{notificationChannel.key}}"
                                    *ngFor="let notificationChannel of notificationChannels">
                                    {{notificationChannel.value}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="email notification-form-field" *ngIf="showEmail">
                        <div class="form-group">
                            <label for="email" class="control-label js-form-required form-required">
                                Email
                            </label>
                            <input placeholder="abc@mail.com" autocomplete="chrome-off" formControlName="email"
                                class="form-text required form-control" type="text" id="email" size="60"
                                maxlength="128" required="required">
                            <app-ErrorMessage [control]="notificationChannelForm.controls.email"></app-ErrorMessage>
                        </div>
                    </div>
    
                    <div class="phone-number notification-form-field" *ngIf="showPhone">
                        <div class="form-group">
                            <label for="phone" class="control-label js-form-required form-required">
                                Phone
                            </label>
                            <input autocomplete="chrome-off" placeholder="+987654321" title="Phone" formControlName="phone"
                                class="form-text form-control" type="text" id="phone" size="60" maxlength="15">
                                <app-ErrorMessage [control]="notificationChannelForm.controls.phone"></app-ErrorMessage>
                        </div>
                    </div>
    
                    <div class="btn-wrapr-poa">
                        <button class="button btn-default btn" [ngClass]="!notificationChannelForm.valid ? 'disabledBtn' :'' " [disabled]="!notificationChannelForm.valid" 
                            type="submit" class="edit-profile-submit" (click)="submitNotice()">Save</button>
                    </div>
                </form>
            </div>
              
            </div>
          </div>
        </section>