label{
  font-family: 'Roboto-bold'
}
.notification-dropdown{
  display: block;
}

.notification-form-field{
  padding: 5px 10px 5px 0px;
}

.profile-section{
  border-bottom: 2px solid #D8D8D8;
}
.profile-section-notification{
  border-bottom: 2px solid #D8D8D8;
  padding-bottom: 70px;
}

.matClose{
  border-radius: 50%;
  padding-top: 5px;
  float: right;
  border: none;
}

#profile-form{
  background: white;
  border-radius: 4px;
  padding:6%;
}


.edit-profile-submit{
  background-color: #250e62;
  margin-bottom: 15px !important;
  border-radius: 20px;
  position: relative;
  margin-top: 15px;
  color: white;
  padding: 7px 20px;
  font-weight: bold;
  float: right;
  margin-right: 150px;
  top: 150px;
  left: 140px;
}

.disabledBtn{
  opacity: 0.65;
}

h3.notification-channel-title.active + div.bnk-pay-title {
  display: block;
}

.notification-accordian-header-container{
  padding: 6px 0px;
}
.view-header{
  padding: 0px 33px;
}

.accordian-header {
  cursor: pointer;
  padding-left:7px;
}



.accordian-header:after, .sub-accordian-header:after {
  content: " ";
  border-right: 2px solid #250e62;
  border-bottom: 2px solid #250e62;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  left: 96%;
  bottom: 14px;
  display: flex;
  cursor: pointer;
}

.accordian-header.active:after, .sub-accordian-header.active:after {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}

#notification-channel-section{
  background-color: #FFFFFF;
}