<div class="region region-content">
  <div class="payment-options has-glyphicons">
    <div class="well row inst-det">
      <div class="sec-one col-sm-6">
        <div class="debt-to-name">{{caseResult.clientName}}</div>
        <div class="case-numb interest"> {{'case-number' | translate}}: {{caseResult.caseNumber}}</div>
      </div>
      <div class="sec-two col-sm-6">
        <div class="case-numb amount col-sm-6">
          <div><strong>{{'amount-to-pay' | translate}}</strong></div> {{caseResult.debtToPay | currencyPipe |
          currencyPipeFormat}} <span>{{currency}}</span>
        </div>
        <div class="case-numb col-sm-6 ocr-title">
          <div><strong>{{'OCR-number'| translate}}</strong></div>{{ocrNumber}}
        </div>

      </div>
    </div>
    <!-- swidish -->
    <ng-container *ngIf="countrycode=='se' && caseResult.debtToPay>0">
      <!-- how-to-pay-section -->
      <div class="how-to-pay-section">
        <h2 class="payment-block-title">{{'how-can-i-pay' | translate}}</h2>
        <div class="swish-header">
          <h3 class="swish-payment-title accordian-header font-18" (click)="accordian(this,'swish')">Swish</h3>
        </div>
        <section id="block-swishpaymentblock"
          class="block block-swish-payment-block clearfix open-elaborate collapse swish">
          <p></p>
          <form [formGroup]="swishForm" (ngSubmit)="swishPayment()" class="swish-payment-block-form"
            id="swish-payment-block-form">

            <div class="form-inline form-item  form-item-cellphone-number form-group">
              <label for="edit-cellphone-number" class="control-label  form-required">{{'enter-mobile-number' |
                translate}}</label>
              <input formControlName="swishMobile" autocomplete="off" class="form-tel required form-control" type="tel"
                id="edit-cellphone-number" name="cellphone_number" size="24" maxlength="10" placeholder="0123456789">
              <div class="swish-error">
                <app-ErrorMessage [control]="swishForm.controls.swishMobile"></app-ErrorMessage>
              </div>

            </div>
            <button style="display: inline;" class="button btn-default btn  form-submit" type="submit" id="edit-submit"
              name="op" [disabled]="swishForm.invalid ">{{'Submit' | translate}}</button>


          </form>
        </section>
        <section class="views-element-container block block-views block-views-blockpayment-options-block-1 clearfix"
          id="block-views-block-payment-options-block-1">
          <div class="form-group">
            <div class="country-pay-SE view view-payment-options view-id-payment_options view-display-id-block_1 ">
              <div class="view-header">
                <h3 class="bank-payment-title accordian-header font-18" (click)="accordian(this,'bank-payments')">
                  {{'bank-payments' | translate}}</h3>
                <!--<div class="bnk-pay-title">{{'bank-payments-titles' | translate}}</div>-->
              </div>
              <div class="view-content open-elaborate collapse bank-payments">


                <div class="myclass country-se views-row">
                  <div class="col-xs-4 col-sm-3 bank-logo">
                    <img src="../../../../assets/images/plusgirot-black_0.jpg" width="100" height="23" alt=""
                      typeof="foaf:Image" class="img-responsive">
                  </div>
                  <div class="col-xs-8 col-sm-6">
                    <div class="bank-det">
                      <div class="grounds-of-claim font-18">Plusgiro</div>
                      <!--<p>{{'our-plusgiro-number-is' | translate}}</p>-->
                    </div>
                  </div>
                  <div class="bank-no col-xs-8 col-sm-5 col-xs-push-4 col-sm-push-0 col-sm-pull-1">997404-9</div>
                </div>
                <div class="myclass country-se views-row">
                  <div class="col-xs-4 col-sm-3 bank-logo">
                    <img src="../../../../assets/images/bankgirot_rod_rgb_300dpi.png" width="100" height="22" alt=""
                      typeof="foaf:Image" class="img-responsive">
                  </div>
                  <div class="col-xs-8 col-sm-6">
                    <div class="bank-det">
                      <div class="grounds-of-claim font-18">Bankgiro</div>
                      <!--<p>{{'our-bankgiro-number' | translate}}</p>-->
                    </div>
                  </div>
                  <div class="bank-no col-xs-8 col-sm-5 col-xs-push-4 col-sm-push-0 col-sm-pull-1">989-7323</div>
                </div>
                <div class="myclass country-se views-row">
                  <div class="col-xs-4 col-sm-3 bank-logo">
                    <img src="../../../../assets/images/Utlandsbetalning_Black_SE.png" width="70" height="70" alt=""
                      typeof="foaf:Image" class="img-responsive">
                  </div>
                  <div class="col-xs-8 col-sm-6">
                    <div class="bank-det">
                      <div class="grounds-of-claim font-18">{{'paymentBankAbroadLabeltext' | translate }}</div>
                      <div class="abroad-pay"><strong>Bank</strong>: Nordea&nbsp;</div>
                      <div class="abroad-pay"><strong>BIC/Swift</strong>: NDEASESS</div>
                      <div class="abroad-pay"><strong>IBAN</strong>: SE8695000099602600010132</div>
                      <p>&nbsp;</p>
                    </div>
                  </div>
                  <div class="bank-no col-xs-8 col-sm-5 col-xs-push-4 col-sm-push-0 col-sm-pull-1"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- swidish end -->
      </div>
      <!-- Option to pay -->

    </ng-container>

    <!-- swidish end -->
    <!-- finish start -->

    <section *ngIf="countrycode=='fi' && caseResult.debtToPay>0"
      class="views-element-container block block-views block-views-blockpayment-options-block-1 clearfix"
      id="block-views-block-payment-options-block-1">
      <div class="form-group">
        <div class="country-pay-FI view view-payment-options view-id-payment_options view-display-id-block_1 ">
          <div class="view-header">
            <h2 class="header-fi-title">{{'how-can-i-pay' | translate}}</h2>
          </div>
          <div class="view-content">
            <div class="myclass country-fi views-row">
              <div class="col-xs-4 col-sm-3 bank-logo">
                <img src="../../../../assets/images/image-2018-06-07-16-03-02-450.png" width="70" height="70" alt=""
                  typeof="foaf:Image" class="img-responsive">
              </div>
              <div class="col-xs-8 col-sm-6">
                <div class="bank-det">
                  <div class="grounds-of-claim font-18">OP</div>
                  <!--<p>{{'our-account-number' | translate}}</p>-->
                </div>
              </div>
              <div class="bank-no col-xs-8 col-sm-5 col-sm-pull-0">
                FI27 5000 0120 2366 73
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- option to pay -->
    <ng-container
      *ngIf="(countrycode=='se' && caseResult.debtToPay>0 && caseResult.isInstallmentPlanAllowed || caseResult.respiteMaxDaysAllowed>0) || countrycode=='fi' && caseResult.debtToPay>0">
      <div class="split-wrap well" id="nets-payment">
        <div class="split-payment-section">
          <div class="split-payment-header">
            <h2>{{'options-to-pay' | translate}} </h2>
          </div>
          <div class="split-payment-body">
            <ng-container *ngIf="countrycode=='fi'">
              <h3 class="nets-payment-title accordian-header font-18" (click)="accordian(this,'pay-now')">{{'pay-now' |
                translate}}</h3>
              <div class="open-elaborate collapse nets-elaborate pay-now">
                <div class="split-payment-desc">
                  {{'pay-now-for' | translate}} <strong>{{caseResult.clientName}}</strong>
                  {{'case' | translate}}
                   <strong>{{caseResult.caseNumber}}.</strong><br/>
                  
                  <!--<h3> {{caseResult.clientName}}</h3> {{'case' | translate}}
                  <h3> {{caseResult.caseNumber}}:</h3><br>-->
                  {{'paymentPayViaOnlineBanking' | translate}}
                </div>
                <div class="inst-plan-form">
                  <section id="block-netspaymentblock" class="block block-sergel-nets clearfix">
                    <form id="sergel-nets-form">
                      <a href="fi/NetsPayment/Register/{{guid}}/{{ocrNumber}}" (click)="netPaymentButton()"
                        class="button btn-primary btn form-submit" id="edit-nets-submit" type="submit" name="op"
                        value="Proceed to payment">{{'proceed-to-payment' | translate}}</a>

                    </form>
                    <span class="pull-left terms">
                      *
                      <a routerLink="/nets-terms-of-delivery/{{guid}}">{{'terms-of-payment' | translate}}</a>
                    </span><span class="pull-right">
                      <img src="../../../../assets/images/nets_logo.png" width="75" height="50">
                      <img src="../../../../assets/images/paytrail_logo.png" width="50" height="50">
                    </span>
                  </section>
                </div>
              </div>
              <hr
                *ngIf="caseResult.isInstallmentPlanAllowed || caseResult.respiteMaxDaysAllowed>0 && countrycode=='se' || caseResult.promiseToPayMaxDaysAllowed>0 && countrycode=='fi'">
            </ng-container>
            <ng-container *ngIf="caseResult.isInstallmentPlanAllowed">
              <h3 class="split-payment-title accordian-header font-18" (click)="accordian(this,'split-payment')">
                {{'split-payment' | translate}}</h3>
              <div class="open-elaborate collapse split-elaborate split-payment">
                <div class="split-payment-desc">
                  {{'split-the-payment-for' | translate}}
                  <h3>
                    {{caseResult.clientName}}
                  </h3>
                  {{'case' | translate}}
                  <h3>
                    {{caseResult.caseNumber}}:
                  </h3>
                </div>
                <div class="inst-plan-form">
                  <form [formGroup]="splitPaymentForm" class="installment-plan-form form-item-split"
                    id="installment-plan-form" (ngSubmit)="createInstallmentPlan()">
                    <div class="num-months col-sm-12">
                      <div class="form-item  form-type-select  form-item-month  form-group">
                        <label for="edit-month" class="control-label">{{'choose-number-of-months' | translate}}</label>
                        <div class="input-group">
                          <div class="select-wrapper" (click)="init()">
                            <div
                              class="selectric-wrapper  selectric-form-select selectric-form-control selectric-responsive">
                              <div class="selectric-hide-select">
                                <select class="form-select form-control" id="edit-month" name="month"
                                  formControlName='selectMonth'>
                                  <option value="0">{{'select-months' | translate}}</option>
                                  <option value="{{monthList}}" *ngFor="let monthList of monthLists">{{monthList}}
                                    &nbsp; {{'months' | translate}}</option>
                                  <!-- <option value="{{monthList.val}}">{{monthList.name}}</option> -->
                                </select>
                              </div>
                              <div class="selectric">
                                <span class="label">

                                  <span class="month-val"
                                    *ngIf="splitPaymentForm.controls.selectMonth.value">{{monthValue}} </span>
                                  <span class="month-noval" *ngIf="splitPaymentForm.controls.selectMonth.value ==''">
                                    {{selectMonthName | translate}}
                                  </span>
                                </span>
                              </div>
                              <div class="selectric-items" tabindex="-1">
                                <div class="selectric-scroll">
                                  <ul>
                                    <li class="last" (click)="selectedOption(0,0)">
                                      {{'select-months' | translate}}

                                    </li>
                                    <li class="last" (click)="selectedOption(i+1,monthList)"
                                      *ngFor="let monthList of monthLists;let i = index;let first = first;">
                                      {{monthList}} &nbsp;</li>
                                    <!-- <li data-index="1" class="last">{{monthList.name}}</li> -->
                                  </ul>
                                </div>
                              </div>
                              <input autocomplete="off" class="selectric-input" tabindex="0">
                            </div>
                          </div>
                          <span class="input-group-addon">
                            <span class="icon glyphicon glyphicon-refresh ajax-progress ajax-progress-throbber"
                              aria-hidden="true">
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="inst-spec-error">
                      <div id="edit-split" class="form-item    form-no-label form-group">
                        <div class="split-payments fd-lt col-xs-8">
                          <div class="form-item    form-item-payments  form-group">
                            <label for="edit-payments" class="control-label">{{'payments' | translate}}</label>
                            <input autocomplete="off" *ngIf="calculateInstallmentPlan.payments" readonly="readonly"
                              class="form-text form-control" type="text" id="edit-payments" name="payments"
                              value="{{calculateInstallmentPlan.payments }}" size="60" maxlength="128">
                            <input autocomplete="off" *ngIf="!calculateInstallmentPlan.payments" readonly="readonly"
                              class="form-text form-control" type="text" id="edit-payments" name="payments" value="-"
                              size="60" maxlength="128">
                          </div>
                        </div>
                        <div class="split-monthly-payment fd-lt col-xs-4">
                          <div class="form-item form-item-monthly-payment  form-group">
                            <label for="edit-monthly-payment" class="control-label">{{'monthly-payment' |
                              translate}}</label>
                            <input autocomplete="off" *ngIf="calculateInstallmentPlan.monthlyPayment"
                              readonly="readonly" class="form-text form-control" type="text" id="edit-monthly-payment"
                              name="monthly_payment"
                              value="{{calculateInstallmentPlan.monthlyPayment | currencyPipe | currencyPipeFormat}} {{currency}}"
                              size="60" maxlength="128">
                            <input autocomplete="off" *ngIf="!calculateInstallmentPlan.monthlyPayment"
                              readonly="readonly" class="form-text form-control" type="text" id="edit-monthly-payment"
                              name="monthly_payment" value="-" size="60" maxlength="128">
                          </div>
                        </div>

                        <div style="display: none;" class="date-border col-xs-12"></div>
                        <div style="display: none;" class="split-start-date col-xs-8">
                          <div class="form-item form-type-textfield form-item-start-date form-group">
                            <label for="edit-start-date" class="control-label">{{'start-date' | translate}}</label>
                            <input autocomplete="off" readonly="readonly" class="form-text form-control" type="text"
                              id="edit-start-date" name="start_date" value="-" size="60" maxlength="128">
                          </div>
                        </div>
                        <div style="display: none;" class="split-end-date col-xs-4">
                          <div class="form-item  form-type-textfield  form-item-end-date  form-group">
                            <label for="edit-end-date" class="control-label">{{'end-date' | translate}}</label>
                            <input autocomplete="off" readonly="readonly" class="form-text form-control" type="text"
                              id="edit-end-date" name="end_date" value="-" size="60" maxlength="128">
                          </div>
                        </div>
                        <div class="date-border col-xs-12"></div>
                        <ng-container *ngIf="calculateInstallmentPlan">
                          <div class="inst-spec">
                            <div class="inst-plan-spec">
                              <div class="spec-inst-plan  sub-accordian-header chevron-sub"
                                (click)="subaccordian(0,'specification-instalment')">
                                {{'specification-of-the-installment-plan' | translate}}
                              </div>
                              <div class="open-elaborate-second collapse specification-instalment">
                                <!--<div class="col-xs-12 calc-title bold-title">
                                  {{'this-is-how-we-calculated' | translate}}
                                </div>-->


                                <div class="margin-bot-10 col-xs-8">
                                  {{'Debt' | translate}}
                                </div>
                                <div class="col-xs-4">
                                  {{calculateInstallmentPlan.debt | currencyPipe | currencyPipeFormat}}
                                  <span>{{currency}}</span>
                                </div>

                                <div class="margin-bot-10 col-xs-8">
                                  {{'Interest' | translate}}
                                </div>
                                <div class="col-xs-4 amt-paid">
                                  {{calculateInstallmentPlan.interest | currencyPipe | currencyPipeFormat}}
                                  <span>{{currency}}</span>
                                </div>
                                <div class="margin-bot-10 col-xs-8">
                                  {{'debt-collector-fees' | translate}}
                                </div>
                                <div class="col-xs-4 amt-paid">
                                  {{calculateInstallmentPlan.debtCollectionFee | currencyPipe | currencyPipeFormat}}
                                  <span>{{currency}}</span>
                                </div>
                                <div class="margin-bot-10 col-xs-8">
                                  {{'installment-plan-fee' | translate}}
                                </div>
                                <div class="col-xs-4">
                                  {{calculateInstallmentPlan.instalmentPlanFee | currencyPipe | currencyPipeFormat}}
                                  <span>{{currency}}</span>
                                </div>

                                <ng-container *ngIf="calculateInstallmentPlan.administrationFee && countrycode=='se'">
                                  <div class="margin-bot-10 col-xs-9">
                                    {{'administration-fee-60-kr-notification' | translate}}
                                  </div>
                                  <div class="col-xs-3 amt-paid">
                                    {{calculateInstallmentPlan.administrationFee | currencyPipe | currencyPipeFormat}}
                                    <span>{{currency}}</span>
                                  </div>
                                </ng-container>
                                <span class="col-xs-12 total-deb-fee">
                                  <div class="debt-to-pay col-xs-8 bold">
                                    {{'total-debt-including-interest-and-fees' | translate}}
                                  </div>
                                  <div class="col-xs-4 bold-title">
                                    {{calculateInstallmentPlan.totalDebt | currencyPipe | currencyPipeFormat}}
                                    <span class="bold-title">{{currency}}</span>
                                  </div>
                                </span>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                        <div class="alert-cont" *ngIf="countrycode=='fi'">
                          <div class="form-group  form-wrapper" id="edit-alert">
                            <div class="well warning-info text-left">
                              <div class="error-message">
                                {{'paymentSplitClosure' | translate}}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12 split-chk border-top">
                          <div class="form-item   form-item-approval  checkbox">
                            <label for="edit-approval" class="control-label option"
                              [ngClass]="splitPaymentForm.controls.approve.value ? 'checked' :''">
                              <input formControlName="approve" autocomplete="off" class="form-checkbox required"
                                type="checkbox" id="edit-approval" name="approval" value="1" required="required"
                                aria-required="true">
                              {{'inputLableaAproveText' | translate}}
                            </label>
                          </div>
                        </div>
                        <div class="btn-wrapr-inst">
                          <button class="button  form-submit btn-info btn" type="submit" id="edit-plan-submit" name="op"
                            value="Apply for instalment plan"
                            [disabled]="splitPaymentForm.invalid">{{'apply-for-instalment-plan' | translate}}</button>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
              <hr
                *ngIf="caseResult.respiteMaxDaysAllowed>0 && countrycode=='se' || caseResult.promiseToPayMaxDaysAllowed >0 && countrycode=='fi'">
            </ng-container>

            <ng-container *ngIf="caseResult.respiteMaxDaysAllowed>0 && countrycode=='se'">

              <h3 class="post-payment-title accordian-header font-18" (click)="accordian(this,'postpone-payment')">
                {{'postpone-payment' | translate}}</h3>
              <div class="open-elaborate collapse nets-elaborate postpone-payment">
                <div class="respite-form">
                  <form class="respite-form" [formGroup]="postponePaymentForm" id="respite-form"
                    (ngSubmit)="postponePayment()">
                    <div class=" form-item-respite-days form-group">
                      <label for="edit-respite-days" class="control-label">{{'inputLablePostpaymentRespitDaysText' |
                        translate}} </label>
                      <input width="50" autocomplete="off" formControlName="postponepayment"
                        class="form-text form-control" type="text" id="edit-respite-days" name="respite_days" value=""
                        size="60" maxlength="128">
                    </div>
                    <div class="pospone-append-text">
                      &nbsp;<b>{{'days' | translate}}.</b>
                      <p>
                        {{'days-max-days-allowed' | translate}}
                        <b>{{caseResult.respiteMaxDaysAllowed}} {{'days' | translate}}.</b>
                      </p>
                    </div>
                    <p class="pospone-help-text">{{'postponePaymentNoFurtherActionParagraph' | translate}}</p>
                    <div class="new-pay-day">

                    </div>
                    <div class="apply-post">
                      <button class="button  form-submit btn-info btn" id="edit-respite-submit" name="op"
                        [disabled]="postponePaymentForm.invalid">{{'apply-for-postponement' | translate}}</button>
                    </div>

                  </form>
                </div>
              </div>
            </ng-container>

            <!-- postpone payment fi -->
            <ng-container *ngIf="caseResult.promiseToPayMaxDaysAllowed>0 && countrycode=='fi'">
              <!-- <hr> -->
              <h3 class="post-payment-title accordian-header font-18" (click)="accordian(this,'postpone-payment')">
                {{'postpone-payment' | translate}}</h3>
              <div class="open-elaborate country-fi collapse postpone-elaborate postpone-payment">
                <div class="respite-form">
                  <form [formGroup]="postponePaymentForm" class="respite-form" id="respite-form"
                    (ngSubmit)="postponePayment()" accept-charset="UTF-8">
                    <div class="form-item  form-type-textfield  form-item-respite-days  form-group">
                      <label for="edit-respite-days" class="control-label">{{'inputLablePostpaymentRespitDaysText' |
                        translate}}</label>
                      <input readonly="readonly" formControlName="postponepayment" class="form-text form-control"
                        type="text" id="edit-respite-days" name="respite_days" size="60"
                        value="{{caseResult.promiseToPayMaxDaysAllowed}} {{'days' | translate}}" maxlength="128">
                    </div>
                    <p>{{'paymentPostponeFees' | translate}}</p>
                    <p>{{'postponePaymentNoFurtherActionParagraph' | translate}}</p>
                    <div class="new-pay-day">
                      <!--<div class="form-item  form-type-textfield  form-item-respite-date  form-group">
                        <label for="edit-respite-date" class="control-label">{{'new-payment-day' | translate}}</label> &nbsp;
                        <span style="font-weight: bold;font-family: 'Roboto-bold';font-size:16px">{{newPaymentDate | dateFormat:countrycode}}</span>
                      </div>-->
                      <input type="hidden" name="caseNumber" value="72299513">
                      <input type="hidden" name="days" value="14">
                    </div>
                    <div class="form-item  form-type-checkbox  form-item-respite-approval checkbox">
                      <label for="edit-respite-approval" class="control-label option"
                        [ngClass]="postponePaymentForm.controls.approvePostpone.value ? 'checked' :''">
                        <input class="form-checkbox required" formControlName="approvePostpone" type="checkbox"
                          id="edit-respite-approval" name="respite_approval" value="1" required="required"
                          aria-required="true">
                        {{'i-approve-postponement-terms-and-fee' | translate}}
                      </label>
                    </div>
                    <div class="apply-post">
                      <button class="button form-submit btn-info btn form-disabled" type="submit"
                        id="edit-respite-submit" name="op"
                        [disabled]="postponePaymentForm.invalid && !postponePaymentForm.controls.approvePostpone.value">{{'apply-for-postponement'
                        | translate}}</button>
                    </div>
                  </form>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </ng-container>

    <!-- finish end -->
    <!-- Allready pay -->
    <div class="split-wrap well" *ngIf="caseResult.debtToPay>0  && caseResult.alreadyPaid==true">
      <div class="split-payment-section">
        <div class="split-payment-header">
          <h2>{{'already-paid' | translate}}</h2>
        </div>
        <div class="split-payment-body">
          <h3 class="inform-payment-title font-18 accordian-header" (click)="accordian(this,'inform-about-payment')">
            {{'inform-about-payment' | translate}}</h3>
          <div class="open-elaborate collapse open-ap inform-about-payment">
            <div class="split-payment-desc f-16">{{'paymentDebtAlready' | translate}}</div>
            <div class="split-payment-desc-sec" [innerHTML]="paymentIHavePaids">
              <!--{{paymentIHavePaids}}-->

            </div>
            <form [formGroup]="informPaymentForm" (ngSubmit)="informPayment()" class="already-paid-form"
              id="already-paid-form" accept-charset="UTF-8">
              <div id="edit-payment-mode">
                <div class="form-item  form-item-payment-mode  radio">
                  <label class="control-label option">
                    <input formControlName="payment_mode" class="form-radio" type="radio" name="payment_mode" value="FP"
                      (click)="changePartial('FP')" [checked]='true'>
                    {{'payementInformFullRadioLabelText' | translate}}
                  </label>
                </div>
                <div class="form-item  form-item-payment-mode  radio">
                  <label class="control-label option">
                    <input formControlName="payment_mode" class="form-radio" type="radio" name="payment_mode" value="HP"
                      (click)="changePartial('HP')">
                    {{'payementInformPartRadioLabelText' | translate }}
                  </label>
                </div>

              </div>
              <div *ngIf="informPaymentForm.controls.payment_mode.value=='HP'"
                class="form-item  form-type-textfield  form-item-partial-amount  form-disabled">
                <div class="form-item  form-group">
                  <label for="edit-partial-amount" class="control-label">{{'paymentInformAmountInputLabelText' |
                    translate}}</label>
                  <input class="form-text form-control" type="text" id="edit-partial-amount" name="partial_amount"
                    formControlName="partial_amount" autocomplete="off" size="60" maxlength="15"
                    placeholder="{{'paymentInformAmountInputLabelPlaceholder' | translate}}"><span
                    *ngIf="countrycode=='fi'">EUR</span>
                  <span *ngIf="countrycode=='se'">kr</span>
                </div>
                <div class="wrapper-error">
                  <label class="control-label"></label>
                  <div id="edit-partial-amount">
                    <app-ErrorMessage [control]="informPaymentForm.controls.partial_amount"></app-ErrorMessage>
                  </div>
                </div>
                <!-- <div class="form-item-error"></div> -->

              </div>
              <div class="form-item   form-item-payment-date  form-group">
                <div class="form-item">
                  <label for="edit-payment-date" class="control-label ">{{'paymentInformDateInputLabelText' |
                    translate}}</label>
                  <input id="edit-payment-date" class="form-control hasDatepicker" type="text" name="payment_date"
                    size="60" formControlName="payment_date" maxlength="128" readonly
                    placeholder="{{'paymentInformDateInputLabelPlaceholder' | translate}}" required="required"
                    [max]="maxIHaveDate" aria-required="true" (click)="picker.open()" [matDatepicker]="picker">
                  <mat-datepicker #picker></mat-datepicker>
                </div>
                <div class="wrapper-error">
                  <label class="control-label"></label>
                  <div id="edit-partial-amount">
                    <app-ErrorMessage [control]="informPaymentForm.controls.payment_date"></app-ErrorMessage>
                  </div>
                </div>
                <div class="form-item-error">

                </div>

              </div>
              <!--Commented checkbox for notification-->
              <!-- <div class="form-group">
                <input type="checkbox" [checked]="notificationChecked" formControlName='checkInformPayment' id="notification-checkbox" (change)="notificationChecked = !notificationChecked">
                <span for="notification-checkbox" class="informPayment-checkbox-label">Please check to confirm payment</span>
              </div> -->

              <div *ngIf='(this.debtorDetail[0].conversationNotificationChannel == 0 || this.debtorDetail[0].conversationNotificationChannel == 2) && notificationChecked == true '>
                Select notification channel other than None or Email in your profile.<a style="font-weight: 600;text-decoration: underline !important;" (click)="openProfileModal()">Click</a> here to set now.
              </div>

              <div *ngIf='this.debtorDetail[0].conversationNotificationChannel != 0 && this.debtorDetail[0].conversationNotificationChannel != 2 && notificationChecked == true '>
                You will receive notification on your selected notification channel as set up in your profile.
              </div>
              
              <div class="btn-wrapr">
                <button class="button  form-submit btn-primary btn" type="submit" id="edit-info-submit" name="op"
                  [disabled]="informPaymentForm.invalid">{{'payemntInformButtonText' | translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>