.payment-options {
  #installment-plan-form .form-item-month .input-group {
    float: none;
  }

  .inst-det.row {
    margin-left: 0;
    margin-right: 0;
  }

  .debt-to-name {
    font-family: "Roboto-Bold";
    font-weight: normal;
    top: 3px;
    position: relative;
    margin-bottom: 5px;
    color: #2d3642;
  }

  .interest {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Roboto';
  }

  .well {
    background-color: #fff !important;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  .how-to-pay-section {
    padding: 3% 5%;
    background: white;
    margin: 5% 0%;
  }

  .payment-block-title {
    padding: 15px 0px;
  }

  #swish-payment-block-form {
    margin: 45px 0 0 70px;
  }

  .form-item-cellphone-number {
    display: inline-block;
  }

  .form-button {
    float: right;
    padding-right: 15px;
  }

  #swish-payment-block-form {
    position: relative;
  }

  .swish-error {
    position: absolute;
    left: 22%;
  }


  .form-group {
    margin-bottom: 15px;
  }

  #swish-payment-block-form button {
    background-color: #250e62;
    color: white;
    border-radius: 0;
    padding: 6px 25px;
    /* margin-left: 10px; */
    font-family: "Roboto-Bold";
    font-weight: normal;
    border-color: transparent;
  }

  .chevron {
    width: 8px;
    height: 8px;
    bottom: 20px;
  }

  .down {
    bottom: 20px;
  }

  .split-payment-header h2 {
    margin-left: -15px;
  }

  .split-wrap {
    // margin-top: 40px;
    // padding: 5% 13% 7% 7%;
    margin-top: 40px;
    padding: 5% 13% 7% 7%;
  }

  .split-payment-body {
    border-bottom: 2px solid #EBEBEB;
    border-top: 2px solid #EBEBEB;
    margin: 35px 0px 35px 25px;
    padding: 0px 2px 0px 38px;

    h3 {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  .accordian-header {
    cursor: pointer;
  }

  .accordian-header:after, .sub-accordian-header:after {
    content: " ";
    border-right: 2px solid #250e62;
    border-bottom: 2px solid #250e62;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    left: 96%;
    bottom: 14px;
    display: flex;
    cursor: pointer;
  }

  .sec-one {
    border-right: 2px solid #D8D8D8;
    margin: 1% 0;
  }

  .sec-two {
    left: 2%;
    top: 10px;
  }

  .sec-two.col-sm-6 {
    margin: 0;
    padding: 0;
  }

  #sergel-nets-form {
    text-align: center;
  }

  .swish-header {
    padding: 0% 9% 0% 6%;
    margin-bottom: -4%;
  }

  .swish-payment-title {
    border-top: 2px solid #EBEBEB;
    padding: 4px 6% 0% 7%;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  #sergel-nets-form {
    text-align: center;
  }

  section#block-views-block-payment-options-block-1 {
    background: white;
    padding: 7% 10%;
  }

  section#block-views-block-payment-options-block-1 {
    background: white;
    padding: 3% 8.5% 7% 6%;
  }

  .split-payment-title, .inform-payment-title,
  .nets-payment-title, .post-payment-title, .spec-inst-plan {
    padding-right: 28px;
  }

  .bank-payment-title {
    padding: 0% 6% 0% 0%;
  }

  h3.bank-payment-title.active + div.bnk-pay-title {
    display: block;
  }

  .accordian-header.active:after, .sub-accordian-header.active:after {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
  }

  .country-pay-SE {
    border-bottom: 2px solid #EBEBEB;
    padding: 0px 5px 0px 0;
    border-top: 2px solid #EBEBEB;

    .view-header {
      margin-left: 30px;
    }

    .bank-payment-title {
      margin: 7px 0;
      padding-bottom: 5px;
      padding-top: 5px;
    }

    .bank-payment-title::before {
      background-image: url("../../../../assets/images/icon_payment.png");
      background-repeat: no-repeat;
      content: " ";
      position: relative;
      display: inline-block;
      padding: 32px 23px 24px 50px;
      bottom: -10px;
      margin: -36px 0px 2px 0px;
      max-width: fit-content;
      max-height: fit-content;
    }

    .bnk-pay-title {
      display: none;
      left: 80px;
      position: relative;
      margin: 5px 20px;
      font-size: 16px;
    }

    span.down + .bnk-pay-title {
      display: block;
    }
  }

  .deb-blk .col-sm-4 {
    text-align: right;
  }

  .open-elaborate .col-xs-3, .open-elaborate .col-xs-4, .deb-blk .col-sm-4 {
    right: 0%;
    padding: 0;
  }

  .split-payment-body .split-payment-desc {
    padding: 15px 0;
  }
  // fi
  .myclass.views-row {
    clear: both;
    padding: 31px 0px;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
    left: 4%;
    margin-top: 0px;
    position: relative;
  }

  .myclass.views-row:last-child {
    border-bottom: none;
  }

  .country-pay-FI .myclass.views-row {
    margin-top: 0;
  }

  .myclass.views-row .bank-logo {
    padding-left: 0;
    padding-right: 15px;
  }

  .myclass.views-row img {
    display: block;
    margin: auto;
  }

  .grounds-of-claim {
    font-family: "Roboto-Bold";
    font-weight: normal;
  }

  .bank-det p {
    font-size: 16px;
    margin-right: -10px;
    text-align: left;
  }

  .bank-det a, .myclass .bank-no {
    font-size: 18px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    color: #2D3642;
    margin-top: 23px;
  }

  .country-fi.myclass .bank-no {
    width: auto;
    text-align: left;
  }

  .view-content-fi {
    border-top: 2px solid #EBEBEB;
  }

  .bank-det a, .myclass .bank-no {
    font-size: 18px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    color: #2D3642;
    margin-top: 0px;
    text-align: right;
  }

  .header-fi-title {
    margin: 0;
  }

  #block-views-block-payment-options-block-1 h2 {
    font-size: 22px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    border-bottom: 2px solid #EBEBEB;
    padding-bottom: 30px;
  }

  .nets-payment-title::before {
    background-image: url(../../../../assets/images/nets_0.png);
    background-repeat: no-repeat;
    content: " ";
    position: relative;
    display: inline-block;
    padding: 18px 0px 18px 50px;
    margin-bottom: -15px;
  }

  .nets-payment-title::before {
    background-repeat: no-repeat;
    content: " ";
    position: relative;
    display: inline-block;
    padding: 18px 0px 18px 50px;
    margin-bottom: -16px;
  }

  .split-payment-body .split-payment-desc {
    padding: 15px 0;
  }

  .nets-elaborate .split-payment-desc {
    margin-bottom: 30px;
  }

  .split-payment-desc h3 {
    display: inline;
  }

  .pull-left.terms {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .btn.account-link, #edit-plan-submit, #edit-info-submit, #edit-nets-submit {
    height: 35px;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    line-height: 17px;
    text-align: center;
    padding: 9px 20px;
    box-shadow: 0 2px 4px 0 #767676;
    background-color: #250e62;
  }

  #edit-nets-submit {
    margin-bottom: 15px;
    /* border-radius: 20px;*/
    position: relative;
    margin-top: 0;
  }

  .input-group .select-wrapper:last-child .form-control:first-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .select-wrapper:after {
    color: #337ab7;
    content: '▼';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: -0.5em;
    padding-right: 0.5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;
  }

  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }


  .already-paid-form {
    .form-group {
      margin-bottom: 15px;
    }
  }

  .wrapper-error {
    font-family: 'Roboto';
    margin-bottom: 10px;
  }

  .form-item-error {
    text-align: justify;
    width: 39%;
    margin: 0 auto 10px auto;
  }

  .inst-plan-form .select-wrapper:after {
    content: "";
    right: 2px;
    color: #250e62;
  }

  .selectric-hide-select.selectric-is-native select {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    z-index: 1;
    box-sizing: border-box;
    opacity: 0;
  }

  .respite-form .form-item-respite-days {
    display: inline;
  }

  .respite-form label {
    display: inline;
    font-size: 16px;
    font-weight: normal;
  }

  .respite-form #edit-respite-days {
    margin-left: -10px;
    width: 120px;
    height: min-content;
    padding: 10px 12px;
  }

  .respite-form #edit-respite-days {
    display: inline;
  }

  .respite-form #edit-respite-days {
    display: inline-block;
    width: 50px;
    margin-left: 0;
  }

  .respite-form .pospone-append-text {
    display: inline;
    font-weight: normal;
    font-size: 16px;
  }

  .respite-form .pospone-help-text {
    margin: 15px 0 10px;
  }

  .respite-form .new-pay-day {
    margin-top: 15px;
  }

  .respite-form .new-pay-day label {
    font-size: 14px;
  }

  .respite-form .apply-post {
    height: 70px;
  }

  .respite-form #edit-respite-submit {
    background-color: #250e62;
    margin-bottom: 15px !important;
    border-radius: 0;
    position: relative;
    margin-top: 20px;
    color: white;
    font-family: "Roboto-Bold";
    right: 0;
    float: right;
  }

  .select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    padding-right: 2em;
  }

  .accordian-header, .sub-accordian-header {
    cursor: pointer;
  }

  .inst-plan-form {
    .selectric-items {
      width: 100%;
    }

    .selectric-scroll {
      width: 100%;
      max-height: 85px;
      overflow: auto;
    }
  }
  .notification-label{
    font-weight: 500;
  }
  .informPayment-checkbox-label{
    padding-left: 10px;
    vertical-align: revert;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .payment-options {
    .form-button {
      float: none;
      padding-right: 0px;
    }
  }

  .payment-options {
    .header-fi-title {
      margin: 5%;
    }

    .abroad-pay {
      font-size: 14px;
    }

    .sec-two .case-numb.col-sm-6:first-child {
      padding: 0 15px;
    }

    .myclass.views-row {
      display: block;
      left: -5px;
      margin-top: 0;
      padding: 25px 0 100px 0;
    }

    .myclass.views-row:last-child {
      padding: 25px 0 140px 0;
    }

    .myclass.views-row .bank-logo {
      height: 120%;
      top: 14%;
      padding: 0;
    }

    .myclass.views-row img {
      display: block;
      margin: auto;
    }

    .bank-det p {
      margin: 5px 0;
      font-size: 14px;
      width: 115%;
    }

    .myclass.views-row .bank-no {
      margin-top: 0;
    }

    .sec-one {
      border-right: none;
      border-bottom: 1px solid #D8D8D8;
      margin: 5% 0px;
      padding: 0 !important;
      min-height: 70px !important;
    }

    .sec-two {
      left: -14px;
      padding: 0 !important;
      top: 0;
    }

    .case-numb {
      padding-top: 5px;
    }

    .payment-block-title {
      padding: 15px 0px 0px 0px;
    }

    .swish-header {
      padding: 0%;
      width: 98%;
    }

    section#block-views-block-payment-options-block-1 {
      padding: 5% 0% 0% 0%;
    }

    .view-payment-options {
      margin-bottom: 5%;
    }

    .country-pay-SE {
      padding: 12px 5px 12px 0;
    }

    .view-payment-options .view-header {
      margin-left: 0;
    }

    .view-payment-options .bnk-pay-title {
      left: 0;
    }

    .split-wrap {
      padding: 5% 5% 7% 7%;
    }

    .split-payment-header h2 {
      margin-left: -15px;
    }

    .split-payment-body {
      margin: 0;
      padding: 0 0 10px 0;
    }

    .myclass.views-row .bank-no {
      margin-top: 0;
      margin-left: 88px;
    }

    .myclass.views-row .bank-logo {
      height: 120%;
      top: 14%;
      padding: 0;
    }

    .myclass.views-row .bank-no {
      margin-top: 0;
      margin-left: 88px;
    }

    .how-to-pay-section {
      margin-bottom: 5%;
    }

    .inform-payment-title::before {
      padding: 18px 15px 18px 30px;
    }

    .abroad-pay {
      font-size: 14px;
    }
  }
}

@media (min-width: 768px) {
  .country-fi.myclass .bank-no {
    width: 64% !important;
    margin: 25px -14px 0 0;
  }
}

@media (max-width: 768px) {
  .payment-options {
    .split-payment-body .form-item-month {
      display: block;
    }

    .split-payment-body .form-item-month .input-group {
      left: 0;
      width: 100%;
    }
  }
}

@media (max-width:991px) {
  .payment-options {
    .split-payment-body .form-item-month {
      display: block;
    }

    .split-payment-body .form-item-month .input-group {
      left: 0;
      width: 100%;
    }
  }
}

.payment-options .sec-two .case-numb.col-sm-6:first-child {
  padding-right: 0;
  padding-left: 10px;
}

.post-payment-title::before {
  background-image: url(../../../../assets/images/icon_calendar.png);
  background-repeat: no-repeat;
  content: " ";
  position: relative;
  display: inline-block;
  padding: 18px 0px 18px 50px;
  margin-bottom: -15px;
}

.respite-form .form-control[readonly] {
  background-color: transparent !important;
  opacity: 1 !important;
  box-shadow: none;
  border: transparent !important;
  font-size: 16px;
  color: black !important;
  opacity: 1 !important;
  font-family: "Roboto-Bold";
  font-weight: normal;
  margin-left: -5px;
  width: 140px;
  display: inline;
  border: transparent;
  padding-left: 10px;
  font-weight: normal;
}

.respite-form .new-pay-day .form-control[readonly] {
  font-size: 22px;
}

.country-fi {
  .respite-form #edit-respite-days {
    margin-left: -10px;
    width: 120px;
    height: min-content;
    padding: 10px 12px;
  }
}

@media (max-width: 768px) {
  .split-payment-title::before, .post-payment-title::before {
    padding: 18px 25px;
  }

  .bank-payment-title::before {
    padding: 31px 35px 24px 37px;
  }

  .sec-two.col-sm-6 .case-numb.col-sm-6.ocr-title, .case-numb.amount.col-sm-6 {
    width: 100%;
  }

  .sec-two.col-sm-6 .case-numb.col-sm-6:first-child:first-child {
    width: 100%;
  }

  .payment-options .sec-two .case-numb.col-sm-6:first-child {
    padding: 0 15px;
  }

  .payment-options .country-pay-SE .bank-payment-title::before {
    padding: 31px 30px 24px 50px;
  }
}
