.opencase-case, .well {
    background: #FFF;
    font-size: 14px;
    font-family: 'Roboto';
}
.plan-wrap {
    padding: 7% 4%;
}
.error-approved{
    .icofont-error{
        font-size: 50px;
        color:red;
    }
    
}
.icofont-exclamation-square {
  color: red;
  font-size: 24px;
}
.inst-approved::before {
    background-image: url(../../../../assets/images/transaction.svg);
    background-repeat: no-repeat;
    content: " ";
    position: relative;
    padding: 40px;
}
.week-day {
    margin-left: -1%;
 p{
     text-align: center;
 }   
}


.link-bold, .see-all-cases, .see-less-cases {
    font-family: "Roboto-Bold";
    font-weight: normal;
    color: #250e62;
}
