<div class="well plan-wrap">
  <div class="center-align">
    <div class="inst-complete">
      <i class="icofont-exclamation-square"></i>
    </div>
      <h2>Error</h2>
      <div class="week-day">
        <div [innerHTML]="errorMsg | translate"></div>
          <br><br>
          <a class="link-bold" routerLink="/overview">{{'back-to-overview' | translate}}</a>
      </div>
  </div>
</div>
