<div class="region region-content">
    <div class="views-element-container form-group">
        <div class="view view-secure-messages">
          <div class="view-header">
            <h2>{{'your-messages' | translate}}</h2>
            <div class="new-msg">
              <a routerLink="/messages/secure-messages">{{'msgNewHyperText' | translate}}</a>
            </div>
          </div>
          <div class="view-content">
            <div class="message-row views-row" *ngFor='let message of pageOfItems'>
              <div class="col-md-5 col-md-push-7 font-12" style="text-transform:capitalize">
                {{message.postedOn | dateFormat:conuntryCode}} |  
                {{'msgCaseLabelText' | translate}} {{message.caseNumber}}</div>
                <div class="col-md-7 col-md-pull-5 msg-subj">
                    <a routerLink="/messages/{{message.conversationGuid}}" (click)="setMessage(message)" [ngClass]="message.unread>0 ? 'bold' :''">{{message.subject}}</a></div>
            </div>
            <div class="visibleMessage" [ngStyle]="{'display': ajaxActive ? 'inherit' : 'none' }"></div>
          </div>
          <div class="ajax-ld" [ngStyle]="{'display': ajaxActive ? 'inherit' : 'none' }"></div>
          <!-- when messages empty -->
          <div class="view-empty" *ngIf="messages.length==0 && ajaxActive==false">
            <div class="col-xs-12 msg-empty-txt">{{'msgEmptyText' | translate}}</div>
            <div alt="Home" class="message-icon-view"></div>
          </div>
          <app-jw-pagination [items]="messages" (changePage)="onChangePage($event)"></app-jw-pagination>
        </div>
    </div>
</div>

    <!-- <router-outlet></router-outlet> -->
