
    .region.region-content {
        padding: 6%;
        background: white;
        border-radius: 4px;
    }
    .region.region-content {
        z-index: 9;
    }

.view-secure-messages {
    margin-left: 7px;
    margin-top: 9px;
    margin-right: 7px;
    position: relative;
    .visibleMessage{
        height: 200px;
    }
    .view-header {
        padding-bottom: 8%;
        border-bottom: 2px solid #D8D8D8;
        position: relative;
    }
    h2 {
        margin: 0;
        padding: 0;
        float: left;
    }
    .message-row {
        border-bottom: 2px solid #D8D8D8;
        position: relative;
        // display: inline-block;
        display:table;
        width: 100%;
    }
    .message-row .col-md-push-7 {
        top: 12px;
        padding-left: 20px;
        padding-bottom: 20px;
        display: table-row;
    }
    .message-row .msg-subj {
        padding: 0;
        top: 10px;
        display: table-row;
    }
    .message-row .msg-subj a {
        color: #250e62;
        word-break: break-all;
        text-decoration: underline;
    }
}
@media (max-width: 768px) {
    .view-secure-messages {
        .view-header {
            padding-bottom: 50px;
        }
         h2 {
            font-size: 20px;
        }
        .message-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .col-md-5.col-md-push-7.font-12 {
            padding: 0;
        }
        .message-row .col-md-5.col-md-push-7.font-12 {
            padding-left: 0;
        }
    }
}
