.opencase-case, .well {
    background: #FFF;
}
.plan-wrap {
    padding: 10% 4%;
}
.inst-complete {
  background-image: url(../../../../assets/images/Swish_Logo_Primary_RGB.png);
  background-repeat: no-repeat;
  background-position: center;
  content: " ";
  position: relative;
  padding: 40px;
  .icofont-tick-boxed {
    color: green;
    font-size: 24px;
  }

  .icofont-close-squared-alt, .icofont-exclamation-square {
    color: red;
    font-size: 24px;
  }
}
.inst-approved::before {
  background-image: url(../../../../assets/images/icon_check.png);
  background-repeat: no-repeat;
  content: "<i class="icofont-tick-boxed"></i>";
  position: relative;
  padding: 20px;
}
.week-day {
    margin-left: -1%;
}
.link-bold, .see-all-cases, .see-less-cases {
    font-family: "Roboto-Bold";
    font-weight: normal;
    color: #250e62;
}
