<div class="well plan-wrap">
  <div class="center-align">
    <div *ngIf="swishType==='swish-complete'">
      <div class="inst-complete">
        <!-- <i class="icofont-tick-boxed"></i> -->
      </div>
      <h2>{{'thank-you-your-payment-is-confirmed' | translate}}</h2>
    </div>
    <div *ngIf="swishType=='swish-decline'">
      <div class="inst-complete">
        <!-- <i class="icofont-close-squared-alt"></i> -->
      </div>
      <h2>{{'swish-decline' | translate}}</h2>
      <h4>{{'swiss-decline-msg' | translate}}</h4>
    </div>
    <div *ngIf="swishType=='swish-cancel'">
      <div class="inst-complete">
        <!-- <i class="icofont-exclamation-square"></i> -->
      </div>
      <h2>{{swishCancel | translate}}</h2>

    </div>
    <div *ngIf="swishType=='swish-timeout'">
      <div class="inst-complete">
        <!-- <i class="icofont-exclamation-square"></i> -->
      </div>
      <h2>{{'swishTimeOut' | translate}}</h2>
      <h4>{{'swish-timeout-text' | translate}}</h4>
    </div>

    <div *ngIf="swishType=='swish-error'">
      <div class="inst-complete">
        <!-- <i class="icofont-exclamation-square"></i> -->
      </div>
      <h2>{{swishError | translate}}</h2>
    </div>

    <div *ngIf="swishType=='swish-bookpaymentfailed'">
      <div class="inst-complete">
        <!-- <i class="icofont-exclamation-square"></i> -->
      </div>
      <h2>{{swishError | translate}}</h2>
    </div>

    <div *ngIf="swishType=='swish-paymentinprogress'">
      <!-- <div class="inst-complete"> -->
      <!-- <i class="icofont-exclamation-square"></i> -->
      <!-- </div> -->
      <h2>{{'breadcrumSwishPaymentInProgressTitle' | translate}}</h2>
      <div>{{'swishPaymentinProgressText' | translate}}</div>
    </div>

    <div class="week-day">
      <!--<div>{{'swishPaymentinProgressText' | translate}}</div>-->
      <br><br>
      <a class="link-bold" routerLink="/overview">{{'back-to-overview' | translate}}</a>
    </div>

    <!-- <div class="week-day">
      <br><br>
      <a class="link-bold" routerLink="/overview">{{'back-to-overview' | translate}}</a>
    </div> -->
  </div>
</div>
