<div class="wrapper">
    <app-header></app-header>
    <div class="main-container container js-quickedit-main-content">
      <div class="row">
        <section class="col-sm-12 page-content">
          <!-- <app-global-error></app-global-error> -->
          <app-breadcrumb></app-breadcrumb>
          <a id="main-content"></a>
          <router-outlet></router-outlet>
         
          <div id="slide-bottom"></div>
       </section>
      </div>
      
    </div>
    <app-footer></app-footer>
  </div>
  
  