<div class="modal-content-wrapper">
    <header class="modal-header">
        
    </header>
    <section class="modal-body">
        <!-- <h1 class="modal-title" [ngClass]="modalData.modalName=='overview' ? 'overviewtitle' : '' ">{{modalData.title}}</h1> -->
        <div  [ngClass]="modalData.modalName=='overview' ? 'having-paid' : '' " [innerHTML]="modalData.bodyContent" click-custom (clickOutside)="closeModal()">
            <!-- <p>Keep in mind that it takes between 2-3 business days<br>
                before your payment reaches us and the case is closed.</p>
                <p>Do you want to inform about a payment? Please send us 
            <a routerLink="/messages">a message</a>
            </p> -->
        </div>
    </section>
    <footer class="modal-footer">
        <div class="modal-footer-wrapper">
            <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                X
                <!-- <span aria-hidden="true">&times;</span> -->
              </button>
             
            <button class="btn btn-default btn-cancel"  (click)="actionFunction()" *ngIf="modalData.actionButtonText && modalData.name=='transaction'">{{modalData.actionButtonText}}</button> 
            <button class="btn btn-default  btn-submit"  *ngIf="modalData.cancelButtonText && modalData.name=='transaction'" (click)="closeModal()">{{modalData.cancelButtonText}}</button>
            <button class="btn btn-default btn-cancel"  *ngIf="modalData.cancelButtonText && modalData.name!='transaction'" (click)="closeModal()">{{modalData.cancelButtonText}}</button>
            <button class="btn btn-default btn-submit"  (click)="actionFunction()" *ngIf="modalData.actionButtonText && modalData.name!='transaction'">{{modalData.actionButtonText}}</button>
        </div>
    </footer>

</div>