.modal-body{
    padding:1% 11%;
}
.having-paid::before {
    content: url(../../../../assets/images/icon_question_black.png);
    position: absolute;
    margin-left: -45px;
    top: 20px;
}
.modal-title.overviewtitle{
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important; 
    margin-inline-end: 0px !important;
}
.modal-footer{
    .modal-footer-wrapper{
        display: flex;
        position: initial !important;
    }
    .modal-footer-wrapper{
        float: right;
    }
    .btn{
        height: 35px;
        border-radius: 0;
        font-family: "Roboto";
        font-size: 14px;
        font-family: "Roboto-Bold";
        font-weight: normal;
        line-height: 17px;
        text-align: center;
        border: 0 solid #ffffff;
        width: auto;
        padding: 8px 15px;
        margin: auto 15px;
        background: white;
        color: #250e62;
    }
    .btn{
        min-width: 108px;
        float: right;
    }
    .btn-submit{
        background: #250e62;
        color: white;
        box-shadow: 0 2px 4px 0 #6a6a6a;
    }
}




.modal-footer{
    margin: 10px;
    padding: 10px;
}
.modal-footer{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal-title{
        font-size: 18px;
        font-family: "Roboto-Bold";
        font-weight: normal;
        color:#333333;
}
.btn-cancel,.btn-cancel:hover,.btn-cancel:active,.btn-cancel:focus{
    background-color: transparent;
    color:#250e62 !important;
}
a{
    cursor: pointer;
}