
<div class="region region-content">
  <div class="well plan-wrap">
      <div class="center-align">
          <div class="inst-approved"></div>
          <h2>{{'instalment-plan-approved' | translate}}</h2>
          <div class="week-day">{{'planApprovedPaymentSucessMsg' | translate}}
              <br><br>
              <a class="link-bold" routerLink="/overview">{{'back-to-overview' | translate}}</a>
          </div>
      </div>
  </div>
</div>