<div class="region region-content">
  <div class="powerofattorney-wrapper">
    <h2>{{'power-of-attorney' | translate}}</h2>
    <div class="poa-header-content">
      <p>{{'poaHeaderContent' | translate}}</p>
    </div>
    <div class="col-xs-12 col-sm-12 act-pow bold-title" *ngIf="activePoweofAtonies.length>0">
      {{'active-power-of-attorneys' | translate}}
    </div>
    <ul class="active-poa">
      <li *ngFor="let activePoweofAtoney of activePoweofAtonies">
        <div class="active-poa-list row-0">
            <div class="col-xs-12 col-sm-9">
              <div class="col-xs-12 pad-left">
                <div class="col-sm-5 bold  ">{{'valid-for' | translate}}
                </div>
                <div class="col-sm-7 ">{{activePoweofAtoney.powerOfAttorney.validFor }}
                </div>
              </div>
              <div class="col-xs-12 pad-left">
                <div class="col-sm-5  bold ">{{'social-security-no' | translate}}
                </div>
                <div class="col-sm-7 ">
                  {{activePoweofAtoney.powerOfAttorney.socialSecurityNumber }}
                </div>
              </div>
              <div class="col-xs-12 pad-left">
                <div class="col-sm-5  bold  ">{{'address' | translate}}
                </div>
                <div class="col-sm-7 ">
                  <div class="col-xs-12 poa-addr">
                    {{activePoweofAtoney.powerOfAttorney.addresses[0].street }}
                  </div>
                  <div class="col-xs-12 poa-addr">
                    <div class="zip-space"> {{activePoweofAtoney.powerOfAttorney.addresses[0].zipCode }} </div>
                    <div> {{activePoweofAtoney.powerOfAttorney.addresses[0].city }} </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 pad-left">
                <div class="col-sm-5  bold">{{'phone' | translate}}
                </div>
                <div class="col-sm-7 ">
                  {{activePoweofAtoney.powerOfAttorney.phone }}
                </div>
              </div>
              <div class="col-xs-12 pad-left">
                <div class="col-sm-5  bold ">{{'valid-from' | translate}}
                </div>
                <div class="col-sm-7  ">
                  {{activePoweofAtoney.validFrom | dateFormat:conuntryCode }}
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 sec-poa-act">
                <a class="account-link btn how-to-pay revoke-poa" [ngClass]="revokeCaseBut ? 'disabled' : ''" (click)="revokeCase(activePoweofAtoney.powerOfAttorney.partyGuid)">{{'Revoke' | translate}}</a>
            </div>
          </div>
          <div class="date-border col-xs-12"></div>
        </li>
        <ng-container *ngIf="activePoweofAtonies.length!=0">
          <li class="toggle-poa-but"   *ngIf="activePoweofAtonies.length<5"> 
            <a class="account-link btn add-more-poa"  (click)="toogleAddPowerOfAttorney()">
              {{tooglePoaButtonText | translate}}
            </a>
          </li>
        </ng-container>
        
      </ul>
    <!-- 
    <div class="col-xs-12 toggle-poa-but">
     </div> -->
    <form class="poa-form poa-toggle" Role="presentation" autocomplete="off"  *ngIf="toogleButton || activePoweofAtonies.length==0" [formGroup]="powerOfAttorneyForm" (ngSubmit)="powerOfAttorneySubmit()"   id="poa-form" >
      <div>
        <span class="align-right mandatory">{{'Required' | translate}}</span> 
        <strong>{{'i-give-authorization-to' | translate}}</strong>
      </div>
      
      <div class="col-sm-6 left-col">
        <div class="first-name field-padding">
          <div class="form-group">
            <label for="edit-first-name" class="control-label js-form-required form-required">
              {{'first-name' | translate}}
            </label>
            <input  autocomplete="{{radomvalues}}"   placeholder="{{'enter-first-name' | translate}}" formControlName="firstName"  class="form-text required form-control" type="text" id="edit-first-name"   
            size="60" maxlength="36" required="required" title="{{'erroinvalidRequired' | translate}}">
            <app-ErrorMessage [control]="powerOfAttorneyForm.controls.firstName"></app-ErrorMessage>
          </div>
        </div>
        <div class="last-name field-padding">
          <div class="form-group">
            <label for="edit-last-name" class="control-label js-form-required form-required">
             {{'last-name' | translate}}
            </label>
            <input autocomplete="{{radomvalues}}"   placeholder="{{'enter-last-name' | translate}}" formControlName="lastName"  class="form-text required form-control" type="text" id="edit-last-name"   size="60" maxlength="36" required="required" title="{{'erroinvalidRequired' | translate}}" >
            <app-ErrorMessage [control]="powerOfAttorneyForm.controls.lastName"></app-ErrorMessage>
          </div>
        </div>
        <div class="ssn field-padding">
          <div class="form-group">
            <label for="edit-ssn" class="control-label js-form-required form-required">
              {{'social-security-number' | translate}}
            </label>
            <input autocomplete="chrome-off"  placeholder="{{'YYYYMMDD-NNNN' | translate}}"  formControlName="ssn"  class="form-text required form-control" type="text" id="edit-ssn"   size="60" maxlength="128" required="required" title="{{'erroinvalidRequired' | translate}}">
            <app-ErrorMessage [control]="powerOfAttorneyForm.controls.ssn"></app-ErrorMessage>
          </div>
        </div>
      </div>
      <div class="col-sm-6 right-col">
        <div class="street-address field-padding">
          <div class="form-group">
            <label for="edit-street-address" class="control-label js-form-required form-required">
              {{'street-address' | translate}}
            </label>
            <input autocomplete="chrome-off" type="text"  placeholder="{{'name-of-street' | translate}}" formControlName="street_address"  class="form-text required form-control" type="text" id="edit-street-address"  
            size="60" maxlength="50" required="required" 
            title="{{'erroinvalidRequired' | translate}}">
            <app-ErrorMessage [control]="powerOfAttorneyForm.controls.street_address"></app-ErrorMessage>
          </div>
        </div>
        <div class="zip-code col-sm-5 col-xs-5 field-padding">
          <div class="form-group">
            <label for="edit-zip-code" class="control-label js-form-required form-required">
              {{'zip-code' | translate}}
            </label>
            <input autocomplete="chrome-off" placeholder="11123" formControlName="zip_code"  class="form-text required form-control" type="text" id="edit-zip-code"   size="60" maxlength="5" required="required" aria-required="true" title="{{'erroinvalidRequired' | translate}}">
            <app-ErrorMessage [control]="powerOfAttorneyForm.controls.zip_code"></app-ErrorMessage>
          </div>
        </div>
        <div class="city col-sm-7 col-xs-7 field-padding">
          <div class="form-group">
            <label for="edit-city" class="control-label js-form-required form-required">
              {{'City' | translate}}
            </label>
            <input autocomplete="chrome-off"  placeholder="{{'name-of-city' | translate}}" formControlName="city"  class="form-text required form-control" type="text" id="edit-city"   size="60" maxlength="36" required="required" title="{{'erroinvalidRequired' | translate}}">
            <app-ErrorMessage [control]="powerOfAttorneyForm.controls.city"></app-ErrorMessage>
          </div>
        </div>
        <div class="phone-number field-padding">
          <div class="form-group">
            <label for="edit-phone-number" class="control-label">
             {{'phone-number-optional' | translate}}
            </label>
            <input autocomplete="chrome-off"  placeholder="{{'home-or-mobile-phone' | translate}}"  formControlName="phone_number"   class="form-text form-control" type="text" id="edit-phone-number" (input)="mobileValidation()"   size="60" maxlength="15">
            <app-ErrorMessage [control]="powerOfAttorneyForm.controls.phone_number"></app-ErrorMessage>
          </div>
        </div>
      </div>
      <div class="inst-spec-error">
        <div id="edit-split" class="form-item js-form-item form-type-item js-form-type-item form-item-split js-form-item-split form-no-label form-group">
        </div>
      </div>
      <div class="poa-footer-content" [innerHTML]="'Condition' | translate">
      </div>
     
      <div class="col-xs-12 split-chk">
      <div class="checkbox">
        <label for="edit-poa-approval" id="poa_approval" class="control-label option js-form-required form-required" [ngClass]="powerOfAttorneyForm.value.poa_approval=='' ? '' :'checked'">
          <input  class="form-checkbox required" type="checkbox" 
          formControlName="poa_approval" 
          id="edit-poa-approval"   
          >{{'poa-approval' | translate}}
        </label>
      </div>
    </div>
    <div class="btn-wrapr-poa">
      <button  class="button btn-default btn" [ngClass]=" activatePowerOfAttorneyBut ? 'disabled' :'' " type="submit" id="edit-poa-submit"    [disabled]="powerOfAttorneyForm.invalid">{{'approve-power-of-attorney' | translate}}</button>
    </div>
    </form>
  </div>
</div>

