
.col-xs-12.act-pow {
    padding-left: 0;
}
.sec-one {
    border-right: 2px solid #D8D8D8;
    margin: 1% 0;
  }
  
.active-poa {
    padding-left: 0;
}
input:-webkit-autofill {
    -webkit-transition-delay: 99999s;
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
   
}
:-webkit-autofill{
    display: none;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;/*your box-shadow*/
    -webkit-text-fill-color: #333;
    
} 
.active-poa-list {
    display: inline-block;
    width: 100%;
    min-height: 180px;
    padding-top: 10px;
    margin-left: -25px;
}
.pad-left {
    padding-left: 0 !important;
}
.bold {
    font-family: "Roboto-Bold";
    font-weight: normal;
}
.active-poa-list .sec-poa-act {
    padding-top: 125px;
    left: 30px;
}
.btn.account-link, #edit-plan-submit, #edit-info-submit,.btn.account-link:focus,.btn.account-link:hover,.btn.account-link:active {
    height: 35px;
    border-radius: 0;
    color: #FFFFFF !important;
    font-size: 14px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    line-height: 17px;
    text-align: center;
    padding: 9px 20px;
    box-shadow: 0 2px 4px 0 #767676;
    background-color: #250e62;
}
.btn.account-link.how-to-pay {
    // height: 63px;
    // width: 213px;
    // font-size: 20px;
    // padding: 20px 20px;
}
.col-xs-12.toggle-poa-but {
    left: -7%;
    background: white;
    width: 114%;
    margin-top: -6px;
}
.revoke-poa.disabled{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
}

link.add-more-poa {
    float: right;
    right: 7%;
    position: relative;
    border: 0 solid #FFFFFF;
    color: #FFFFFF;
    margin: 20px 0;
}
.toggle-poa-but{
    padding-bottom: 25px;
    .account-link.btn.add-more-poa{
        right:9px;
    }
}
@media (max-width: 768px)
{
    .active-poa-list .sec-poa-act {
        padding-top: 12px;
    }
    .poa-form .right-col {
        padding: 0;
        left: 0;
        width: 107%;
        padding-right:20px;
    }
    .poa-form{
        .col-xs-5,.col-xs-7{
            width:50%;
        }
    }
    
}
/** responsive */
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */

}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */

}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */

}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .path-power-of-attorney{
        .page-content.col-sm-12{
            padding:3% 11.7%;
        }
    }
   
/* STYLES GO HERE */
.btn.account-link.how-to-pay{
    // width:203px;
    left:30px
}
.btn.account-link.add-more-poa{
    right:7px;
}
.toggle-poa-but{
    .account-link.btn.add-more-poa{
        left:15px;
    }
}
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .path-power-of-attorney{
        .page-content.col-sm-12{
            padding:3% 11.7%;
        }
    }
   
/* STYLES GO HERE */
.btn.account-link.how-to-pay{
//   width:203px;
  left:30px
}
.btn.account-link.add-more-poa{
    right:15px;
}
.toggle-poa-but{
    .account-link.btn.add-more-poa{
        left:20px;
    }
}
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .path-power-of-attorney{
        .page-content.col-sm-12{
            padding:3% 11.7%;
        }
    }
   
/* STYLES GO HERE */
.btn.account-link.how-to-pay{
//   width:203px;
  left: 30px;
}
.btn.account-link.add-more-poa{
    right:7px;
}
.toggle-poa-but{
    .account-link.btn.add-more-poa{
        left:15px;
    }
}
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */

}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */

}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */

}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */

}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */

}
