<div class="region region-content">
    <article class="secure-messages full clearfix">
        <h4 *ngIf="msgList"><span>{{msgList.subject}}</span>
        </h4>
        <div class="content">
            <div class="msg-first-row" *ngIf="msgList">
                <div class="msg-info">
                    <div class="field field--name-field-creditor-name field--type-string field--label-hidden field--item">{{msgList.clientName}}</div>
                       &nbsp; | &nbsp;
                    <div class="field field--name-field-selected-case field--type-string field--label-hidden field--item">{{msgList.caseNumber}}</div>
                </div>
            </div>
            <div class="msg-trd">
                <div class="visibleMessage" [ngStyle]="{'display': ajaxActiveVal ? 'inherit' : 'none' }">
                    <div class="ajax-gif" [ngStyle]="{'display': ajaxActiveVal ? 'inherit' : 'none' }">
                     </div>
                </div>
                
            <ng-container *ngFor="let message of messages">
                <ng-container *ngIf="message.status=='Sent'; else elseBlock ">
                  <div class="font-12 dt-crt">{{message.postedAt | dateFormat:conuntryCode }}</div>
                    <div id="message-scroll-wrapper" class="message-scroll-wrapper" tabindex="0" style="overflow-y: hidden; outline: none;">
                        <div class="status-question">
                            <div class="field field--name-field-message-body field--type-string-long field--label-hidden field--item">{{message.messageText}}</div>
                        </div>
                    </div>
                </ng-container>
                
                <ng-template #elseBlock>
                    <article  id="comment-44562" class="js-comment">
                       
                        <div id="message-scroll-wrapper" class="message-scroll-wrapper">
                          <p class="reply-dt">{{message.postedAt | dateFormat:conuntryCode }}</p>
                            <div class="status-answer">
                                <div class="field field--name-field-reply field--type-string-long field--label-hidden field--item">
                                    {{message.messageText}}
                                </div>
                            </div>
                        </div>
                    </article>
                </ng-template>
            </ng-container>
            
            
            <!-- Closer of #message-scroll-wrapper div started in node~-secure-messages.html.twig -->
            <ng-container *ngIf="replyOption">
                <form class="node-secure-messages-form comment-sergel-reply-form comment-form"  id="comment-form" [formGroup]="secureForm"  accept-charset="UTF-8">
                    <div class="form-group  form-wrapper"  id="edit-field-reply-wrapper">      
                        <div class="form-item form-group">
                            <div class="form-textarea-wrapper">
    
                                <textarea class="form-textarea  form-control resize-vertical" maxlength="1500" 
                                    id="edit-field-reply-0-value" name="field_reply[0][value]" rows="10" cols="60" 
                                    placeholder="{{'msgTextAreaInputPlaceholder' | translate}}" required="required" formControlName="MessageText"
                                    aria-required="true" title="Please fill this field.">
                                </textarea>
                                <app-ErrorMessage [control]="secureForm.controls.MessageText"></app-ErrorMessage>
                                <div id="edit-field-reply-0-value-counter" class="counter">
                                   {{'msgTextAreaInputMessageHint' | translate}} 
                                   <strong>{{1500-secureForm.controls.MessageText.value.length}}</strong>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   
                    <div id="ajax-wrapper" class="form-group">
                        <div *ngIf="fileSizeError=='active'">
                            <div class="alert alert-success alert-dismissible"  role="alert"><span aria-hidden="true">×</span><h4 class="sr-only">Status message</h4>{{'msgFilesizeErrorText' | translate}}</div>
                        </div>
                        <div class="form-item   form-item-file-upload  form-group">
                            <label [ngClass]="uploader.queue.length>0 ? 'js-hide' : ''" for="edit-file-upload-upload" id="edit-file-upload--label" (click)="onSelectChange($event)" class="control-label">
                                <span  id="attach_file" style="cursor: pointer;" >{{'msgAttachFileText' | translate}}</span>
                            </label>
                            <div class="js-form-managed-file form-managed-file" *ngFor="let queue of uploader.queue">
                               
                                <span  class="file file--mime-application-pdf file--application-pdf icon-before">
                                    <span class="file-icon">
                                        <span class="icon glyphicon glyphicon-file text-primary" aria-hidden="true"></span>
                                    </span>
                                    <span class="file-link">
                                      {{queue.file.name}}

                                      <!--<a href="{{queue.file.name}}" type="{{queue.file.type}}; length={{queue.file.size}}" title="" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Open file in new window">
                                        {{queue.file.name}}
                                      </a>-->
                                    </span>
                                    <span class="file-size">{{queue.file.size}}KB</span>
                                </span>
                                <button (click)="removeFile()"  formnovalidate="formnovalidate" class="button js-form-submit form-submit btn-danger btn icon-before" type="submit" id="edit-file-upload-remove-button--vZ9bJrFOGbc" name="file_upload_remove_button" value="Remove">{{'msgButtonLableTextRemove' | translate}}</button>
                            </div>
                           
                            <div id="edit-file-upload" class=" form-managed-file">
                                <div *ngIf="fileTypeError!=''">
                                  <div class="messages messages--error file-upload-js-error" aria-live="polite">{{'msgFileSelectErrorText' | translate }}  <em class="placeholder">{{fileName}}</em> &nbsp;{{'msgFileTypeExtensionmsgText' | translate }} <em class="placeholder">PDF, JPG, JPEG, PNG</em>.</div>
                                </div>
                                <input autocomplete="off"  class="js-hide form-file form-control" #myInput  type="file" id="edit-file-upload-upload" name="files[file_upload]" size="22" accept=" .jpg, .jpeg, .png, application/pdf">
                                <button class="js-hide button  form-submit btn-primary btn icon-before"  
                                formnovalidate="formnovalidate" type="submit" id="edit-file-upload-upload-button" name="file_upload_upload_button" value="Upload">Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="file-desc">{{'msgFileDesciption' | translate}}</div>
                    <div  class="form-actions form-group  form-wrapper" id="edit-actions">
                        <button (click)="submitMessageForm()" style="color:#fff !important;" class="send_class button button--primary  form-submit btn-primary btn"  type="submit" id="edit-submit" name="op" value="Send" [ngClass]="!secureForm.controls.CaseLookUp.value ? 'form-disabled' : '' || sendButton ? 'form-disabled' : '' "  [disabled]="secureForm.invalid ">{{'msgSendButtonText' | translate}}</button>
                    </div>
                    <button (click)="leavePage()" class="cancel-class button  form-submit btn-default btn icon-before" id="edit-leave-cancel" name="op"  value="Cancel">{{'msgCancelButtonText' | translate}}</button>
                </form>
                <div *ngIf="fileLists" class="field field--name-field-attached-file-name field--type-string field--label-inline">
                  <div class="field--label">{{'msgFileListLabelName' | translate}}</div>
                          <div class="field--items">
                              <div class="field--item" *ngFor="let filename of fileLists">{{filename}}</div>
                          </div>
                </div>
            </ng-container>
            
    
                    
                </div>
            </div>
    </article>
</div>
