.region-content {
  background-color: #ffffff;
  padding: 6%;
  z-index: 9;
  border-radius: 4px;

  .secure-messages {
    width: 100%;
  }

  .msg-first-row {
    margin: 10px 0;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 5px;
    margin-right: 5%;
  }

  .msg-info {
    display: inline-flex;
  }

  .dt-crt {
    color: #767676;
    margin-bottom: 4px;
  }

  .msg-trd {
    margin-right: 4%;
  }

  #message-scroll-wrapper {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    width: 99%;
    margin-top: 0px;
  }

  .status-question {
    background-color: #E6EEF7;
    padding: 4%;
    margin-bottom: 14px;
    border-radius: 3px;
    margin-left: 1px;
    word-break: break-word;
  }

  .comment-sergel-reply-form {
    padding-bottom: 50px;
    margin-top: 10px;
  }

  textarea.form-control {
    height: auto;
  }

  #edit-field-reply-0-value {
    height: 120px;
    padding: 20px;
  }

  .form-group.form-item-file-upload {
    margin-bottom: -10px;
  }

  #attach_file {
    font-weight: normal;
    font-family: "Roboto-Bold";
    color: #250e62;
  }

  .js-hide {
    display: none;
  }

  .node-secure-messages-form .button, .comment-sergel-reply-form .button {
    height: 35px;
    border-radius: 0;
    font-size: 16px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    line-height: 17px;
    text-align: center;
    padding: 0 32px;
    color: #fff;
    border: transparent;
    border-radius: 20px;
  }

  .node-secure-messages-form .btn-primary, .comment-sergel-reply-form .btn-primary {
    background-color: #250e62 !important;
    color: #fff;
    box-shadow: 0 2px 4px 0 #6a6a6a;
  }

  .form-type-managed-file .button {
    height: auto;
    font-size: 14px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    padding: 5px 21px;
    border: 1px solid #250e62;
    background: transparent;
    color: #250e62;
    float: right;
    bottom: 41px;
    position: relative;
    border-radius: 20px;
  }

  .comment-sergel-reply-form #edit-actions {
    float: right;
  }

  .comment-sergel-reply-form .button {
    height: 35px;
    border-radius: 0;
    font-size: 16px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    line-height: 17px;
    text-align: center;
    padding: 0 32px;
    color: #fff;
    border: transparent;
    border-radius: 20px;
  }

  .comment-sergel-reply-form .btn-primary {
    background-color: #250e62 !important;
    color: #fff;
    box-shadow: 0 2px 4px 0 #6a6a6a;
  }

  .comment-sergel-reply-form .form-actions .btn {
    margin-right: 0;
  }

  .comment-sergel-reply-form .button {
    height: 35px;
    border-radius: 0;
    font-size: 16px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    line-height: 17px;
    text-align: center;
    padding: 0 32px;
    color: #a6a0c0;
    border: transparent;
    border-radius: 20px;
  }

  .form-managed-file .button {
    height: auto;
    font-size: 14px;
    font-family: "Roboto-Bold";
    font-weight: normal;
    padding: 5px 21px;
    border: 1px solid #250e62;
    background: transparent;
    color: #250e62;
    float: right;
    bottom: 41px;
    position: relative;
    border-radius: 20px;
  }

  .form-managed-file .button:hover, .form-managed-file .button:active, .form-managed-file .button:focus {
    color: #250e62 !important;
    background: transparent !important;
  }

  .file {
    display: table;
    font-size: 75%;
    font-weight: 700;
    margin: 5px 0;
    width: 100%;
  }

  .file {
    height: 44px;
  }

  .file-icon {
    display: table-cell;
    font-size: 150%;
    padding: 0.25em 0.5em;
    text-align: center;
    vertical-align: middle;
  }

  .file-size, .file-icon {
    display: none;
  }

  .file > span {
    background: #fff;
    color: #337ab7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

  .file > span:first-child {
    border-left: 1px solid #ccc;
  }

  .text-primary {
    color: #337ab7;
  }

  .file-link {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .file-link {
    color: #333 !important;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 2px solid #D8D8D8 !important;
    border-top: 2px solid #D8D8D8 !important;
    text-decoration: none !important;
  }

  .file > span {
    background: #fff;
    color: #337ab7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

  .file-link a, .file-link a:hover, .file-link a:focus, .file-link a:active {
    color: inherit;
  }

  .form-disabled {
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
    opacity: 0.65;
  }

  .reply-dt {
    position: relative;
    // left: 88%;
    font-size: 12px;
    margin: 2px 0;
    text-align: end;
  }

  .status-answer {
    background-color: #F9F9F9;
    padding: 4%;
    margin-bottom: 9px;
    border-radius: 4px;
    margin-left: 45px;
    word-break: break-word;
  }
}
.file-desc{
    clear:both;
}
.visibleMessage {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (max-width: 768px){
.region-content{
    // .reply-dt {
    //     left: 75%;
    // }
}
}
