<div  class="error" *ngIf="errorMessage!=''">
      <i class="icofont-exclamation-tringle tringle-align"></i>
      <div class="error_msg">
        {{errorMessage | translate}}
      </div>
       <i class="icofont-close-line close-icon-design" (click)="closeToast()"></i>
    <!-- </span> -->
  </div>

  <div  class="success" *ngIf="successMessage">
    <!-- <i class="icofont-exclamation-tringle tringle-align"></i> -->
    <div class="error_msg">
      {{ successMessage | translate}}
    </div>
     <i class="icofont-close-line close-icon-design" (click)="closeToast()"></i>
</div>
