<div class="region region-content">
  <div class="greeting">{{greetingValue}}</div>

  <h2 class="open-title">{{'open-cases' | translate}} <span class="open-cases" *ngIf="OpenCaseCount">({{OpenCaseCount}})</span> </h2>
  <div class="no-open" *ngIf="openCaseSummaries.length==0" [innerHTML]="noOpenCase | translate"></div>
  <div class="send-us-msg" *ngIf="openCaseSummaries.length==0 && conuntryCode =='fi'"><a routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">{{'sendUsMessage' | translate}}</a></div>
  <div class="send-us-msg" *ngIf="openCaseSummaries.length==0 && conuntryCode =='se'"><a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">{{'sendUsMessage' | translate}}</a></div>
  <ng-container *ngIf="openCaseSummaries && openCaseSummaries.length!=0">
    <div class="close-title open-case-title hidden-xs">
      <div class="col-sm-7">{{'creditor' | translate}}</div>
      <div class="col-sm-7 rt-justfy" style="text-transform: uppercase;">{{'amount-to-pay' | translate}}</div>
    </div>
  </ng-container>

  <!-- Open case -->
  <!-- <div class="visibleMessage opencase well row" [ngStyle]="{'display': ajaxActiveVal ? 'inherit' : 'none' }">
    <div class="ajax-ld" [ngStyle]="{'display': ajaxActiveVal ? 'inherit' : 'none' }"></div>
  </div> -->

  <ul class="open-class" id="accordion">
    <li *ngFor="let openCaseSummary of openCaseSummaries | slice:0:sizeMinLength;let i = index" [ngStyle]="{'display': 'list-item'}">
      <div class="opencase well row">
        <div class="opencaseAccordian" (click)="accordian(i,openCaseSummary.caseGuid)">
          <div class="debt-to-name">
            {{openCaseSummary.clientName}}
          </div>
          <div class="case-numb margin-t-10">
            {{'case-number' | translate}}: {{openCaseSummary.caseNumber}}
          </div>
        </div>
        <a class="chevron first_accordian" data-toggle="collapse" aria-expanded="true" [attr.aria-controls]="'collapse-'+openCaseSummary.caseNumber" (click)="accordian(i,openCaseSummary.caseGuid)">
          <!-- {{i}} -->
          
        </a>
        <div class="opencaseAccordian" (click)="accordian(i,openCaseSummary.caseGuid)">
          <div class="rem-tot-deb col-sm-offset-8">
            <div class="col-xs-6 visible-xs"><strong>{{'amount-to-pay' | translate}}:</strong></div>
            <div class="col-xs-6 col-sm-10 rem-amount text-right">
              {{openCaseSummary.amountToPay | currencyPipe | currencyPipeFormat}} <span class="serg-currency">{{currency}}</span>
            </div>
          </div>
        </div>

        <div id="collapse-{{openCaseSummary.caseNumber}}" class="open-elaborate collapse">
          <div class="open-elaborate-first" [ngStyle]="openCaseSummary.debtSpecification ? {'visibility':'visible'} : { 'visibility':'hidden','display':'none'}">
            <div class="ground-wrap" *ngIf="openCaseSummary.debtSpecification">
              <span class="grounds-of-claim">{{'grounds-of-claim' | translate }}:</span><span> {{openCaseSummary.debtSpecification.groundsOfClaim}} </span>
            </div>
            <div class="col-xs-12 debt-spec chevron-sub" (click)="subAccordian(i)">{{'debt-specification' | translate}}</div>
            <a class="aaa sub-accordian arrow-down" (click)="subAccordian(i)">
            </a>
          </div>
          <div class="ajax-ld" [ngStyle]="{'display': ajaxActive=='ajax-'+openCaseSummary.caseGuid ? 'inherit' : 'none' }"></div>
          <div class="ajax-message" id="">
            <div class="aj-error" *ngIf="errorActive=='error-'+openCaseSummary.caseGuid">
              {{technicalError | translate}}
            </div>
          </div>
          <div id="accordion-{{openCaseSummary.caseNumber}}">
            <div class="open-elaborate-second collapse" id="collapse-{{openCaseSummary.caseNumber}}-{{openCaseSummary.caseNumber}}" [attr.data-parent]="'#accordion-'+openCaseSummary.caseNumber" [attr.aria-labelledby]="'heading-'+openCaseSummary.caseNumber+'-'+openCaseSummary.caseNumber">
              <ng-container *ngIf="openCaseSummary.debtSpecification">
                <!--<div class="col-xs-12 calc-title bold-title">
                  {{'this-is-how-we-calculated' | translate}}
                </div>-->
                <div class="invoice-section">
                  <ng-container *ngFor="let debt of openCaseSummary.debtSpecification.debts">
                    <div class="invoice-numb col-xs-8">
                      <span [innerHTML]="'Invoice' | translate"></span>:
                      <span class="aj-invno">{{debt.invoiceNumber}} </span>
                    </div>
                    <div class="invoice-amt col-xs-4">
                      {{debt.invoiceAmount | currencyPipe | currencyPipeFormat}} <span>{{currency}}</span>
                    </div>
                    <div class="due-dt col-xs-12">
                      {{'due-date' | translate}}:
                      <span class="aj-duedate">{{debt.dueDate | dateFormat:conuntryCode }} </span>
                    </div>
                  </ng-container>

                </div>
                <div class="interest col-xs-8">
                 
                  <span>{{'InterestOverview'| translate}}</span>
                </div>
                <div class="aj-interest col-xs-4">
                  {{openCaseSummary.debtSpecification.interest | currencyPipe | currencyPipeFormat}} <span>{{currency}}</span>
                </div>
                <div class="debt-col-fee col-xs-8">
                  {{'debt-collector-fees' | translate}}
                </div>
                <div class="aj-debtfee col-xs-4">
                  {{openCaseSummary.debtSpecification.debtCollectionFee | currencyPipe | currencyPipeFormat}} <span>{{currency}}</span>
                </div>
                <span class="border-both col-xs-12" *ngIf='openCaseSummary.debtSpecification.paidAmount!=0'>
                  <div class="paid-amt col-xs-8">
                    {{'paid-amount' | translate}}
                  </div>
                  <div class="col-xs-4 aj-paidamt amt-paid">
                    {{openCaseSummary.debtSpecification.paidAmount | currencyPipe | currencyPipeFormat}} <span>{{currency}}</span>
                  </div>
                </span>
                <div class="debt-to-pay col-xs-8 bold-title">
                  {{'debt-to-pay' | translate}}
                </div>
                <div class="col-xs-4 aj-debttopay bold-title">
                  {{openCaseSummary.debtSpecification.debtToPay | currencyPipe | currencyPipeFormat}} <span class="bold-title">{{currency}}</span>
                </div>
              </ng-container>

            </div>
          </div>

          <div class="open-elab-button col-sm-12" [ngStyle]="openCaseSummary.debtSpecification ? {'visibility':'visible'} : { 'visibility':'hidden'}">

            <div>
              <a routerLink="/overview/{{openCaseSummary.caseGuid}}" class="account-link btn how-to-pay">{{'how-to-pay' | translate}}</a>
            </div>
            <!--<div><a class="qn" (click)="openAlreadyPaidModal()">{{'what-if-i-have-already-paid' | translate}}</a></div>-->

          </div>
        </div>
      </div>
    </li>
  </ul>
  <!-- Show more button -->
  <ng-container *ngIf="openCaseSummaries && openCaseSummaries.length>5">
    <div class="show-wrapper col-sm-12 text-center" *ngIf="sizeMinLength==5">
      <span class="show-more" (click)="sizeMinLength = openCaseSummaries.length">{{'show-more' | translate}}</span>
    </div>

  </ng-container>

  <!-- Total Debt -->

  <div class="deb-blk" *ngIf="sizeMinLength>5 ||  openCaseSummaries && openCaseSummaries.length<5 && openCaseSummaries.length !=0">
    <h2 class="result-title">
      <div class="col-sm-8 col-xs-6">{{'total-debt' | translate}}</div>
      <div class="col-sm-4 col-xs-6">{{totalDebtToPay | currencyPipe | currencyPipeFormat}} {{currency}}</div>
    </h2>
    <!--<div class="col-sm-12 open-debt-note">
      <strong>{{'note' | translate}} </strong>{{'theTotalDebtIsShowingTheAmountOfAllYourOpenCases' | translate}}
    </div>-->
  </div>
  <!-- Closed Cases -->
  <ng-container *ngIf="closedCaseSummaries && closedCaseSummaries.length>0">
    <h2 class="closed-h2">{{'closed-cases' | translate}}</h2>
    <div class="close-title">
      <div class="col-sm-3 col-xs-5 closing-date">{{'closing-date' | translate}}</div>
      <div class="col-sm-6 creditor">{{'creditor' | translate}}</div>
      <div class="col-sm-3 hidden-xs case-number" style="text-transform: uppercase;">{{'case-number' | translate}}</div>
    </div>
    <ul class="closed-class">
      <li *ngFor="let closedCaseSummary of closedCaseSummaries | slice:0:sizeMinLengthClosedCase;let i = index">
        <div class="closedcase row">
          <div class="close-date col-xs-4 col-sm-3">
            {{closedCaseSummary.closureDate | dateFormat:conuntryCode }}
          </div>
          <div class="creditor-name col-xs-7  col-sm-5">
            <strong>
              {{closedCaseSummary.clientName}}
            </strong>
          </div>
          <div class="case-numb col-xs-12 col-xs-push-4 col-sm-push-1 col-sm-4">
            <span class="hidden-lg hidden-md">{{'case-number' | translate}}:</span>
            {{closedCaseSummary.caseNumber}}
          </div>
        </div>
      </li>

    </ul>
    <!-- Show more button -->
    <ng-container *ngIf="closedCaseSummaries && closedCaseSummaries.length>5">
      <div class="show-wrapper col-sm-12 text-center" *ngIf="sizeMinLengthClosedCase==5">
        <span class="show-more" (click)="sizeMinLengthClosedCase = closedCaseSummaries.length">{{'show-more' | translate}}</span>
      </div>

    </ng-container>
  </ng-container>

  <!-- What if I have already paid  -->
  <section class="views-element-container block block-views block-views-blockinfo-block-block-1 clearfix" id="block-views-block-info-block-block-1">
    <div class="form-group">
      <div class="view view-info-block view-id-info_block view-display-id-block_1 js-view-dom-id-f7c526440a1ecb38a4bc272c4f69320350b8886b08862509e2b339e0fbd640c1">
        <div class="view-content">
          <div class="views-row">
            <div class="views-field views-field-field-info-body">
              <div class="field-content">
                <div class="sergel-info col-sm-5 already-paid">
                  <div class="info-wrap">
                    <div class="text_div">
                      <h4>{{'what-if-i-have-already-paid' | translate}}</h4>
                      <div class="text_description">
                        <span [innerHTML]="allreadyPaid(alreadyPaidContent | translate)"></span>
                        <ng-container *ngIf="alreadyPaidActiveReadMore">

                          <div class="message read-more" *ngIf="readAlreadyMore" (click)="readAlreadyMore = !readAlreadyMore">{{'read-more' | translate}}</div>
                          <div class="see_less" *ngIf="!readAlreadyMore" (click)="readAlreadyMore = !readAlreadyMore">{{'show-less' | translate}}</div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="views-row">
            <div class="views-field views-field-field-info-body">
              <div class="field-content">
                <div class="sergel-info col-sm-5 debt-process">
                  <div class="info-wrap">
                    <div class="text_div">
                      <h4>{{'what-happens-when-i-receive' | translate}}</h4>
                      <div class="text_description">
                        <span [innerHTML]="invoiceContent(contentInvoice | translate)"></span>
                        <ng-container *ngIf="contentInvoiceActiveReadMore">
                          <div class="message read-more" *ngIf="readMore" (click)="readMore = !readMore">{{'read-more' | translate}}</div>
                          <div class="see_less" *ngIf="!readMore" (click)="readMore = !readMore">{{'show-less' | translate}}</div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
