h2 {
  color: #2b2b2b;
  font-size: 22px;
  font-family: "Roboto-Bold";
}

.region.region-content {
  padding: 0;
  background: transparent;
}
.read-more-blur{
    text-align:left;
}
.close-title {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  margin: 4px 10px;
}

.close-title .col-sm-7 {
  font-family: "Roboto-Bold";
}

.col-sm-4.rt-justfy {
  font-family: "Roboto-Bold";
}

.path-overview .open-class {
  padding-left: 15px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.opencase {
  display: flex;
  background: #FFF;
  min-height: 95px;
  flex-direction: column;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 2%;
  padding-left: 4%;
  position: relative;
}

.opencase-case, .well {
  background: #FFF;
}

.opencase.well.row {
  margin-right: -10px;
}

.debt-to-name {
  font-family: "Roboto-Bold";
  font-weight: normal;
  top: 3px;
  position: relative;
  margin-bottom: 5px;
  color: #2d3642;
}

@media (min-width: 768px) {
  .debt-to-name {
    max-width: 95%;
  }
}

.margin-t-10 {
  margin-bottom: 10px;
}

.opencase .case-numb {
  color: #000000;
  height: 20px;
  margin-top: 6px;
  font-family: 'Roboto';
}

.close-date {
  font-family: 'Roboto';
  // font-weight: 300;
}
//
.rem-tot-deb {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

@media (min-width: 768px) {
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
}

strong {
  font-family: "Roboto-Bold";
  font-weight: normal;
}

.rem-amount {
  font-size: 22px;
  bottom: 0;
  position: relative;
  right: 15px;
  font-family: "Roboto-Bold";
}

.serg-currency {
  font-size: 16px;
}

.open-elaborate {
  clear: both;
}

.ground-wrap {
  border-bottom: 1px solid #D8D8D8;
  margin-top: 12px;
  padding-bottom: 23px;
  font-size: 16px;
}

.grounds-of-claim {
  font-family: "Roboto-Bold";
  font-weight: normal;
}

.col-xs-12.debt-spec.chevron-sub {
  padding-left: 0;
  font-family: "Roboto-Bold";
}

.arrow-down {
  bottom: 20px !important;
}

.ajax-ld {
  height: 43%;
  width: 91%;
  top: 25%;
  position: absolute;
  background-image: url(../../../../assets/images/aj-preloader.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  display: inline-block;
  background-position: center;
  display: none;
}

.visibleMessage {
  height: 200px;
}

a.text-underline {
  text-decoration: underline;
  font-family: 'Roboto';
}

.open-elaborate-second {
  left: 4%;
  position: relative;
  padding: 2% 4.2%;
  color: #000000;
}

.interest {
  font-size: 16px;
  margin-bottom: 10px;
}

.open-elaborate .col-xs-3, .open-elaborate .col-xs-4, .deb-blk .col-sm-4 {
  text-align: right;
  right: 12%;
  padding: 0;
}

.debt-col-fee {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.border-both {
  padding: 15px 0 !important;
  margin-bottom: 20px;
}
/* button */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.how-to-pay, .form-item-split #edit-plan-submit {
  background-color: #250e62;
  margin-bottom: 15px !important;
  border-radius: 0;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.account-link, #edit-plan-submit, #edit-info-submit {
  height: 35px;
  border-radius: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Roboto-Bold";
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  padding: 9px 20px;
  box-shadow: 0 2px 4px 0 #767676;
  background-color: #250e62;
}

.btn.account-link.how-to-pay {
  height: 63px;
  width: 213px;
  font-size: 20px;
  padding: 20px 20px;
}

.qn {
  font-size: 14px;
  cursor: pointer;
}

a.qn:hover, a.qn:focus, a.qn:active {
  text-decoration: underline !important;
}

.show-more {
  height: 63px;
  width: 213px;
  border-radius: 0;
  display: inline-block;
  color: #ddddd0;
  font-family: "Roboto";
  font-size: 20px;
  font-family: "Roboto-Bold";
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  padding: 20px 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 #6a6a6a;
  background-color: #250e62;
  margin-top: 30px;
}

.deb-blk {
  min-height: 80px;
  background: white;
  position: relative;
  border-radius: 3px;
  top: 10px;
}

h2 {
  color: #2b2b2b;
  font-size: 22px;
  font-family: "Roboto-Bold";
}

.result-title {
  padding: 20px 0 15px 5px;
  border-radius: 4px;
  position: relative;
  font-family: "Roboto-Bold";
  font-weight: normal;
}

.open-debt-note.col-sm-12 {
  margin-bottom: 16px;
  padding: 15px 0;
  background: white;
  padding-left: 22px;
}

.closed-h2 {
  padding-top: 5%;
}

.close-title {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  margin: 4px 10px;
}

.close-title .col-sm-3 {
  padding-right: 0;
}

.close-title .col-sm-3, .close-title .col-sm-6 {
  font-family: "Roboto-Bold";
}

.closed-class {
  background: white;
  padding-left: 10px;
  padding-bottom: 1%;
}



li {
  list-style: none;
}

li {
  margin-right: 10px;
}

.closed-class li {
  height: auto;
}

.closedcase {
  margin-bottom: 0;
}

.closedcase {
  padding: 13px;
}

.closed-class .closedcase.row {
  padding-top: 20px;
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.form-group {
  margin-bottom: 15px;
}

p:last-child, .form-group:last-child, .panel:last-child {
  margin-bottom: 0;
}

.sergel-info {
  background: white;
  margin: 5% 0 5% 0;
  min-height: 215px !important;
  min-width: 46%;
}

.opencaseAccordian {
  cursor: pointer;
}

.text_div h4 {
  padding-right: 30px;
}

.text_description {
  text-align: left;
  padding-right: 30px;
  font-family: 'Roboto';
}
/* .col-sm-5.sergel-info.already-paid {
    margin-right: 8%;
} */
.sergel-info::before {
  /* content: url(../../../../assets/images/Ikoner_LetterOpen.png); */
  position: relative;
  right: 30px;
  top: 23px;
}
/* .already-paid::before {
    content: url(../../../../assets/images/Ikoner_Money.png);
} */
h4 {
  font-size: 16px;
  font-family: "Roboto-Bold";
  font-weight: normal;
}

.info-wrap {
  position: relative;
  width: 92%;
  bottom: 30px;
  left: 30px;
}

.info-wrap h4 {
  font-size: 17px;
  color: #2b2b2b;
}

.read-more-blur {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  opacity: 0.3;
}

.read-more, .see_less {
  font-family: "Roboto-Bold";
  font-weight: normal;
  color: #250e62;
  margin-top: 10px;
  cursor: pointer;
}

.read-more::after {
  content: " ";
  border-right: 2px solid #250e62;
  border-bottom: 2px solid #250e62;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  margin: 5px 9px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .page-content .col-sm-5.sergel-info.already-paid {
    margin-right: 0;
  }

  .closed-class .closedcase.row .creditor-name.col-xs-7 {
    width: 65.333333%;
  }

  .closed-class .closedcase.row {
    padding: 2%;
  }

  .closedcase .close-date {
    padding-right: 0;
  }

  .ajax-ld {
    top: 33%;
  }
}

@media (max-width: 768px) {
  .opencase .chevron {
    margin: -27px 0px;
    bottom: 25px !important;
  }

  .rem-amount, .ground-wrap, .rem-tot-deb {
    font-size: 14px;
  }

  .debt-spec, .bold-title {
    font-size: 16px;
  }

  .well {
    padding-bottom: 20px;
  }

  .greeting, h1 {
    font-size: 28px;
  }
}

.text_description span {
  text-align: justify;
}

@media (max-width: 992px) and (min-width: 769px) {
  .rem-amount {
    font-size: 14px;
  }
}

.no-open {
  display: inline;
  .customer {
    color: #075ab4 !important;
    font-weight: bold;
    text-decoration: none !important;
  }
}
.send-us-msg{
  display: inline;
  font-weight: bold;
}
