/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
html, body {
  width: 100%;
}
body{
  font-size: 14px;
  position: relative;
  line-height: 1.42857143;
  background-color: #fff;
}

.container {
  border: none;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #250e62 !important;
}
.node-secure-messages-form .see-less-cases::after {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  bottom: -5px;
}

.greeting, h1 {
  color: #250e62;
  font-family: "Roboto-Bold";
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  padding-bottom: 10px;
  letter-spacing: normal;
}



.bnk {
  padding-top: 25px;
}

h2 {
  color: #2D3642;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-size: 22px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

h2.page-header, .navbar-nav li a {
  display: inline-block;
  margin-top: 1px;
  padding: 10px 0px;
  font-size: 22px;
  font-family: "Roboto-Bold";
  font-weight: bold;
}

.warning-info {
  border: 2px solid #250e62;
  background: #FFF;
  border-radius: 3px;
  font-family: "Roboto";
  position: relative;
  padding-left: 15px;
  margin-top: 7%;
}

.warning-info::before {
  content: url(../../../assets/images/icon_info_alert.png);
  position: absolute;
  left: 10px;
  top: 25%;
}

.alert-success, .alert-danger, .aj-error {
  border: 2px solid #250e62;
  background: #FFF;
  border-radius: 3px;
  font-family: "Roboto-Bold";
  font-weight: bold;
  position: relative;
  padding: 20px 5px 20px 60px;
  margin-top: 7%;
  color: #2D3642;
}

.alert-success::before, .alert-danger::before, .aj-error::before {
  content: url(../../../assets/images/icon_info_alert.png);
  left: -10px;
  top: 20%;
  position: absolute;
  padding: 5px 25px;
}

.alert-success .close, .alert-danger .close {
  margin-left: 40px;
}
.alert-success .close span, .alert-danger .close span {
  display: none;
}

.warning-error {
  border: 2px solid #EE0002;
  background: #FFF;
  border-radius: 3px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  position: relative;
  padding-left: 15px;
  margin-top: 7%;
}

.warning-error::before {
  content: url(../../../assets/images/icon_info_error.png);
  position: absolute;
  left: 10px;
  top: 25%;
}
.ajax-gif{
  width: 48px;
  height: 48px;
  background-image: url(../../../assets/images/spin.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  display: inline-block;
  background-position: center;
  display: none;
  margin: auto;
}
.ajax-ld {
  height: 43%;
  width: 91%;
  top: 25%;
  position: absolute;
  background-image: url(../../../assets/images/aj-preloader.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  display: inline-block;
  background-position: center;
  display: none;
}
.main-container.container {
  padding: 0 4.5%;
}

.path-overview .region.region-content {
  // padding: 0;
  // background: transparent;
}
//.path-overview
.open-class {
  padding-left: 15px;
}
.path-overview .bread-crumb {
  position: relative;
}

.region.region-content {
  // padding: 6%;
  border-radius: 4px;
}

// .path-login-page .region.region-content, .path-login-page-error .region.region-content, .path-corp-login .region.region-content {
//   background: transparent;
//   padding: 0;
// }
// .path-login-page #slide-bottom, .path-login-page-error #slide-bottom, .path-corp-login #slide-bottom {
//   width: 146.5%;
//   margin-bottom: -12%;
//   left: -23.3%;
// }

li {
  list-style: none;
}



.debt-to-name {
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  top: 3px;
  position: relative;
  margin-bottom: 5px;
}

.font-18 {
  font-size: 18px;
}

/*.case-numb {
  padding-top: 9px;
}*/
.rem-amount {
  font-size: 22px;
  bottom: 0;
  position: relative;
  right: 15px;
}

.chevron, .arrow-down, .arrow-dow, 
.chevron-postpone, 
.arw, .arw-swish, 
.chevron-split, .chevron-ap {
  content: " ";
  border-right: 2px solid #250e62;
  border-bottom: 2px solid #250e62;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
  left: 96%;
  bottom: 38px;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  cursor: pointer;
}

.chevron-postpone, .chevron-split {
  bottom: 29px;
}

.arw {
  bottom: 24px;
}

.arw-swish {
  bottom: 32px;
}

.rem-tot-deb {
  display: flex;
  align-items: center;
  margin-left: -16px;
}

// body {
//     font-family: "Roboto-Bold";
//   font-weight: bold;
//   margin-top: 12px;
// }

.error-message {
  margin-left: 40px;
}

.page-content.col-sm-12 {
  background: #F4F4F4;
  margin: 15px 0px;
  padding: 3% 15.7%;
  z-index: 12;
}

#slide-bottom {
  -ms-transform: skew(0deg, -5.7deg);
  -webkit-transform: skew(0deg, -5.7deg);
  transform: skew(0deg, -5.7deg);
  background: #f4F4F4;
  width: 145.9%;
  padding: 6% 0;
  position: relative;
  margin-bottom: -12%;
  left: -23%;
  z-index: -1;
}

#slide-bottom:after {
  content: "";
  display: inline-block;
}

.region.region-content {
  z-index: 9;
}

.closedcase {
  margin-bottom: 0;
}

.close-title {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  margin: 4px 10px;
}
.close-title .col-sm-3 {
  padding-right: 0;
}

.rt-justfy {
  right: 3px;
  text-align: right;
}

.closed-class li div.well:nth-of-type(odd) {
  background-color: transparent;
  width: 99%;
}

.closed-class li div.well:nth-child(odd) {
  background-color: #eee;
}


.path-login-page-error .navbar-header::after, .path-login-page .navbar-header::after, .maintenance-page .navbar-header::after {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 19px solid #F4F4F4;
  content: " ";
  position: relative;
  left: 4%;
  margin: 10px 43px;
  bottom: 7px;
}
.path-login-page-error .page-content.col-sm-12, .path-login-page .page-content.col-sm-12, .maintenance-page .page-content.col-sm-12 {
  background: #F4F4F4;
  margin: -38px 0;
  padding: 3% 15.9%;
}

.closed-class {
  background: white;
  padding-left: 10px;
  padding-bottom: 1%;
}

.closed-h2 {
  padding-top: 5%;
}

.closedcase {
  padding: 13px;
}

.overview-text {
  margin-bottom: 40px;
}

.closed-class li:nth-child(even) {
  background: #F4F4F4;
}

li {
  margin-right: 10px;
}

.sergel-info::before {
  content: url(../../../assets/images/Ikoner_LetterOpen.png);
  position: relative;
  right: 30px;
  top: 23px;
}

.col-sm-5.sergel-info.already-paid {
  margin-right: 8%;
}

.already-paid::before {
  content: url(../../../assets/images/Ikoner_Money.png);
}

.already-paid.currency::before {
  content: url(../../../assets/images/SERGEL_currency.png);
}

.sergel-title.col-sm-12 {
  margin-bottom: -10px;
  padding: 0;
}

.warning-info {
  border: 2px solid #250e62;
  border-radius: 3px;
  font-family: "Roboto";
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  clear: both;
}

.icon_div {
  margin-right: 5%;
}

// body {
//     font-family: "Roboto";
//   // font-weight: bold;
// }

h4 {
  font-size: 16px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

h3 {
  font-size: 18px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

strong {
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

.read-more, .see_less {
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  color: #250e62;
  margin-top: 10px;
  cursor: pointer;
}

.sergel-info {
  background: white;
  margin: 5% 0 5% 0;
  min-height: 178px !important;
  min-width: 46%;
}

.info-wrap {
  position: relative;
  width: 92%;
  bottom: 30px;
  left: 30px;
}

// header#navbar {
//   background: none;
//   padding: 0px 48px 0px 35px;
// }

.sergel-link {
  height: 35px;
  border-radius: 20px;
  color: #FFFFFF;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-size: 14px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  background-color: #250e62;
  padding: 6px 12px;
  top: 30px;
  position: relative;
}

.link-bold, .see-all-cases, .see-less-cases {
  font-family: "Roboto-Bold";
  font-weight: bold;
  color: #250e62 !important;
  font-size: 18px;
  text-decoration: none;;
}

.see-all-cases, .see-less-cases {
  cursor: pointer;
}

.serg-currency {
  font-size: 16px;
}

.open-class li {
  display: none;
}



.case-alert {
  background-color: #FFF;
  margin: 5% 10%;
}

.deb-blk {
  min-height: 80px;
  background: white;
  position: relative;
  border-radius: 3px;
  top: 10px;
  /*.col-xs-4 {
    right: 10% !important;
  }*/
}

.result-title {
  padding: 20px 0 15px 5px;
  border-radius: 4px;
  position: relative;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

.open-debt-note.col-sm-12 {
  margin-bottom: 16px;
  padding: 15px 0;
  background: white;
  padding-left: 22px;
}

.show-wrapper {
  margin: 3% 0 7% 0;
}

.sergel-blue-text {
  color: #250e62;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

.sergel-link {
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

.read-more::after {
  content: " ";
  border-right: 2px solid #250e62;
  border-bottom: 2px solid #250e62;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  margin: 5px 9px;
  cursor: pointer;
}

.see_less::after {
  content: " ";
  border-right: 2px solid #250e62;
  border-bottom: 2px solid #250e62;
  width: 8px;
  height: 8px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  position: absolute;
  margin: 9px 10px;
  cursor: pointer;
}

.closed-heading {
  margin: 20px 0;
}

.open-debt-note {
  font-size: 14px;
}

/* Login using Mobile or Desktop page*/
.openid-connect-login-form {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.bankid {
  font-size: 16px;
  left: 5px;
  position: relative;
  top: 3px;
}

.bankid-fi {
  font-size: 16px;
  margin: 0 2%;
}

.bankid::before {
  content: url(../../../assets/images/bankid_logo.png);
  right: 12px;
  position: relative;
  top: 12px;
}

.login-form {
  margin: 16% 0% 10% 0%;
}

.login-form div {
  margin: 0 15px;
}

.login-form .icon {
  display: none;
}

.login-form .button {
  height: 35px;
  border-radius: 20px;
  color: #FFFFFF;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-size: 14px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  border: 1px solid #250e62;
  min-width: 165px;
  padding: 0 36px;
}

.openid-connect-login-form div:nth-child(2) button {
  background-color: transparent;
  color: #250e62 !important;
}

#edit-openid-connect-client-signicat-login {
  background-color: #250e62;
}

#edit-openid-connect-client-signicat-login:hover, #edit-openid-connect-client-mobiilivarmenne-login:hover, #edit-plan-submit:hover, #edit-info-submit:hover {
  background-color: #00418A;
}

.page-lowertext {
  margin-left: 4.5%;
  margin-top: 4%;
}
.page-lowertext .col-sm-6 {
  padding-right: 0;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: none;
}

// section#block-views-block-payment-options-block-1, .split-wrap {
//   background: white;
//   padding: 7% 10%;
// }

// .myclass.views-row {
//   clear: both;
//   padding: 31px 0px;
//   display: -webkit-flex;
//   display: -webkit-box;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   border-bottom: 1px solid #D8D8D8;
//   left: 0%;
//   margin-top: 45px;
//   position: relative;
// }
// .myclass.views-row .bank-logo {
//   padding-left: 0;
// }
// .myclass.views-row .bank-details {
//   padding-left: 0;
// }
// .myclass.views-row img {
//   display: block;
//   margin: auto;
// }

// .myclass.views-row:last-child {
//   border-bottom: none;
// }

// #block-views-block-payment-options-block-1 h2 {
//   font-size: 22px;
//     font-family: "Roboto-Bold";
//   font-weight: bold;
//   font-weight: normal;
//   border-bottom: 2px solid #EBEBEB;
//   padding-bottom: 30px;
// }

.bank-det a, .myclass .bank-no {
  font-size: 18px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  color: #2D3642;
  margin-top: 23px;
}

.bank-det p {
  font-size: 16px;
  margin-right: -10px;
}

.paid-amt, .f-16 {
  font-size: 16px;
}

.open-elaborate, .open-elaborate-second, .postpone-elaborate {
  display: none;
}

.open-elaborate {
  clear: both;
}

.grounds-of-claim {
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

.ground-wrap {
  border-bottom: 1px solid #D8D8D8;
  margin-top: 12px;
  padding-bottom: 23px;
  font-size: 16px;
}

.debt-spec {
  margin-top: 25px;
  font-size: 18px;
}

.how-to-pay, .form-item-split #edit-plan-submit {
  background-color: #250e62;
  margin-bottom: 15px !important;
  border-radius: 20px;
  padding: 0 20px;
}

.form-item-split #edit-plan-submit {
  position: relative;
  margin-top: 20px;
  float: right;
}

.how-to-pay:hover, #edit-plan-submit:hover {
  background-color: #00418A;
}

.sergel-link:hover {
  background-color: #00418A;
  color: white;
  text-decoration: none;
}

.open-elab-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-top: 1px solid #D8D8D8;
  margin: 10px 0;
  padding: 32px 0;
  clear: both;
}

.arrow-down {
  bottom: 20px !important;
}



.down-pseudo::after, .open .dropdown-toggle::after {
  transform: rotate(225deg) !important;
  -webkit-transform: rotate(225deg) !important;
  bottom: -5px !important;
}

a {
  color: #250e62;
}

.btn:hover, .btn:focus, .btn.focus {
  color: White !important;
  text-decoration: none;
}

#edit-openid-connect-client-swedish-bankid-login:active, #edit-openid-connect-client-swedish-bankid-login:hover, #edit-openid-connect-client-swedish-bankid-login.focus, #edit-openid-connect-client-tupas-login:hover, #edit-openid-connect-client-tupas-login.focus {
  color: #00418A !important;
  background-color: white !important;
  border-color: #00418A !important;
}

.bold-title {
  font-size: 16px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  margin-bottom: 7px;
}

.bold-18 {
  font-size: 16px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

.due-dt {
  color: #9A9A9A;
  margin-bottom: 15px;
}

.debt-col-fee {
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.total-deb-fee {
  padding: 15px 0 !important;
}

.total-deb-fee:before {
  border-top: 1px solid #D8D8D8;
  content: " ";
  width: 98%;
  position: absolute;
  left: 14px;
  padding: 26px 0;
  margin: -16px 0;
}

.border-both {
  /* border-bottom: 1px solid #D8D8D8;
   border-top: 1px solid #D8D8D8;*/
  padding: 15px 0 !important;
  margin-bottom: 20px;
}

.border-both:before {
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  content: " ";
  width: 86%;
  position: absolute;
  left: 14px;
  padding: 26px 0;
  margin: -16px 0;
}
.sec-one {
  border-right: 2px solid #D8D8D8;
  margin: 1% 0;
}

.sec-two {
  left: 2%;
  top: 10px;
}

.text-underline {
  border-bottom: 2px solid;
  position: relative;
  left: 3px;
  padding: 5px 0;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}
.text-underline a {
  color: black;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  text-transform: capitalize;
  text-decoration: none;
}

.bread-crumb {
  margin: 0% 0 5% 0%;
  // right: 15%;
}
.bread-crumb a {
  color: black;
}

// .bank-no {
//   margin-top: 20px;
// }

.open-elaborate .col-xs-3, .open-elaborate .col-xs-4, .deb-blk .col-sm-4 {
  text-align: right;
  right: 12%;
  padding: 0;
}

.result-title .col-xs-3 {
  text-align: right;
  right: 8%;
}

.open-elaborate-second .amt-paid {
  right: 12%;
}

// .bank-no {
//   text-align: right;
// }
.has-glyphicons .select-wrapper:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e114';
  display: inline-block;
  font-family: 'Glyphicons Halflings';
}
.inst-det.row {
  margin-left: 0;
  margin-right: 0;
}

.closed-msg {
  padding: 24px;
  border-radius: 6px;
  margin: 0 6%;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: none;
}

.contact-us {
  background: white;
  padding: 1% 0% 0 3.7%;
}
.contact-us h2 {
  margin: 5px 0 35px;
}
.contact-us .call-text {
  font-size: 18px;
}
.contact-us .contact-sec-addr {
  clear: both;
  padding: 4.5% 0 4% 0;
  border-top: 2px solid #D8D8D8;
  display: inline-block;
  margin-top: 12%;
  width: 92%;
  right: 10px;
  position: relative;
}
.contact-us .contact-sec-addr .col-sm-3 {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.contact-us .contact-sec-addr .col-sm-3.sergel-bold {
  margin: 0 8px 0 0;
}
.contact-us .contact-sec-1, .contact-us .contact-sec-2 {
  margin-left: 10%;
  margin-right: -2%;
}
.contact-us .contact-sec-2 {
  margin-top: 7px;
}
.contact-us .contact-sec-1::before {
  content: url(../../../assets/images/icon_call.png);
  position: relative;
  right: 77px;
  top: 60px;
}
.contact-us .contact-sec-2::before {
  content: url(../../../assets/images/icon_message_black.png);
  position: relative;
  right: 75px;
  top: 55px;
}

.need-help {
  margin-bottom: 1%;
}

.sergel-bold {
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
}

.normal-bold {
  font-weight: bold;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.autologout-dialog.ui-dialog-buttons.ui-draggable.ui-resizable {
  position: absolute;
  max-width: 90%;
  top: 70%;
  left: 29%;
  z-index: 101;
  padding: 3.2% 2.7% 2.8% 3%;
  border-radius: 5px;
}

.ui-widget-overlay {
  background: #505050;
  opacity: 0.67;
  filter: Alpha(Opacity=30);
}

.ui-widget-header {
  background: transparent;
  color: #333333;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  border: none;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.ui-widget-content {
  border: none;
  background: #ffffff;
  background-image: none;
  color: #333333;
}

.ui-dialog .ui-dialog-title {
  font-size: 22px;
  overflow: unset;
  white-space: unset;
}

.ui-dialog .ui-dialog-content {
  font-size: 16px;
}

.ui-dialog-titlebar-close {
  display: none;
}

.autologout-dialog .ui-dialog-buttonset .button:first-child {
  border: 1px solid #250e62;
  position: relative;
  top: 0;
  right: 0;
  font-size: 16px;
}

.ui-dialog .ui-dialog-buttonpane button, .node-secure-messages-delete-form .button {
  height: 35px;
  border-radius: 20px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  line-height: 17px;
  text-align: center;
  border: 1px solid #250e62;
  width: auto;
  padding: 8px 15px;
  margin: auto 15px;
  background: white;
  color: #250e62;
  display: ruby;
}

.ui-dialog .ui-dialog-buttonset > :nth-child(2), .node-secure-messages-delete-form .btn-danger {
  background: #250e62;
  color: white;
}

.ui-dialog .ui-dialog-buttonset > :nth-child(2):hover, .node-secure-messages-delete-form .btn-danger:hover {
  background-color: #00418A;
}

.ui-widget {
    font-family: "Roboto-Bold";
  font-weight: bold;
}

.having-paid {
  font-size: 14px;
  bottom: 5px;
  overflow: initial !important;
  font-weight: 400;
}
.having-paid li {
  list-style: disc !important;
  margin-left: 13px;
}
.having-paid h3::before {
  content: url(../../../assets/images/icon_question_black.png);//./assets/images/icon_question_black.png);
  position: absolute;
  margin-left: -45px;
  top: 20px;
}

.ui-dialog .ui-dialog-content.having-paid {
  padding: 1% 12%;
  margin: 0 -8%;
}

.node-secure-messages-delete-form .form-actions {
  text-align: center;
}

/* Top Menu */
a{
  font-family: "Roboto";
  text-decoration: none !important;
  cursor: pointer;
}

.col-xs-12.debt-spec.chevron-sub {
  padding-left: 0;
}

.open-elaborate-second::before {
  content: url(../../../assets/images/icon_loupe.png);
  position: absolute;
  left: -4%;
  top: 17px;
}

.invoice-numb {
  font-size: 16px;
}

.interest {
  font-size: 16px;
  margin-bottom: 10px;
}

.margin-bot-10 {
  margin-bottom: 10px;
}

.margin-t-10 {
  margin-bottom: 10px;
}

.spec-inst-plan {
  padding: 20px 0;
  position: relative;
  clear: both;
  top: 5px;
}

.open-elaborate-second {
  left: 4%;
  position: relative;
  padding: 2% 4.2%;
}

.qn {
  font-size: 12px;
  cursor: pointer;
}
.qn:focus,.qn:active,.qn:hover{
color:#250e62;
}
.qn::before {
  content: url(../../../assets/images/icon_question_new.png);
  position: relative;
  right: 8px;
  top: 5px;
}

/* Changes for Finland site*/
#edit-openid-connect-client-mobiilivarmenne-login {
  /*background-image: url(.../../../images/mobil-id.png);
  background-position: 30px 8px;
  padding: 7px 65px; */
  background-repeat: no-repeat;
  position: relative;
}

/* Secure Messages*/
.view-empty {
  text-align: center;
  clear: both;
  position: relative;
  top: 60px;
}

.msg-empty-txt {
  margin-bottom: 20px;
}

.view-secure-messages {
  margin-left: 7px;
  margin-top: 9px;
  margin-right: 7px;
}
.view-secure-messages h2 {
  margin: 0;
  padding: 0;
  float: left;
}
.view-secure-messages .view-header {
  padding-bottom: 8%;
  border-bottom: 2px solid #D8D8D8;
  position: relative;
}
.view-secure-messages .view-header .new-msg a {
  background-image: url(../../../assets/images/icon_write.png);
  background-position: 5px 8px;
  background-repeat: no-repeat;
  height: 35px;
  border-radius: 20px;
  border: 1px solid;
  color: #250e62;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-size: 14px;
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  text-align: center;
  bottom: 5px;
  float: right;
  position: relative;
  text-align: right;
  padding: 7px 10px 7px 25px;
}

.message-row {
  border-bottom: 2px solid #D8D8D8;
  position: relative;
  display: inline-block;
  width: 100%;
}
.message-row .msg-subj {
  padding: 0;
  top: 10px;
}
.message-row .msg-subj a {
  color: black;
  word-break: break-all;
}
.message-row .col-md-push-7 {
  top: 12px;
  padding-left: 56px;
  padding-bottom: 20px;
}

.msg-trd {
  margin-right: 4%;
}

.status-question {
  background-color: #E6EEF7;
  padding: 4%;
  margin-bottom: 14px;
  border-radius: 3px;
  margin-left: 1px;
  word-break: break-word;
}

.status-answer {
  background-color: #F9F9F9;
  padding: 4%;
  margin-bottom: 9px;
  border-radius: 4px;
  margin-left: 45px;
  word-break: break-word;
}

.reply-dt {
  position: relative;
  // left: 88%;
  font-size: 12px;
  margin: 2px 0;
}

.font-12 {
  font-size: 12px;
}

#del, .message-delete {
  float: right;
}

.path-messages #del, .message-delete {
  right: 1%;
  position: relative;
  bottom: 8px;
}

.block-messages-icon-block {
  margin: 20px 0;
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
}
.block-messages-icon-block label {
  height: 16px;
  width: 16px;
  background: #CD4D01;
  border-radius: 20px;
  color: white;
  text-align: center;
  position: relative;
  font-size: 11px;
  font-weight: lighter;
  right: 35px;
  display: block;
  padding: 0;
  margin: 3px 5px;
}

.message-icon {
  color: #2D3642;
  font-family: "Century Gothic web";
}

.message-icon::after {
  content: url(../../../assets/images/message.png);
  padding: 0;
  margin: 0 74px;
  display: block;
  position: absolute;
  top:23px;
}

.message-icon.active {
    font-family: "Roboto-Bold";
  font-weight: bold;
  font-weight: normal;
  color: black;
  border-bottom: 2px solid #ff8674;
  padding: 3px 0;
  text-decoration: none;
}

.message-icon-view {
  background-image: url(../../../assets/images/icon_message.png);
  background-repeat: no-repeat;
  height: 100px;
  left: 45%;
  position: relative;
  margin-bottom: 10%;
  top: 40px;
}

.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item {
  padding: 20px 0;
}

.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ui-dialog .ui-dialog-buttonset {
  display: flex;
  position: initial !important;
}

.ui-dialog-buttonset .button:first-child {
  border: transparent;
  position: absolute;
  top: 0;
  right: -16px;
  width: auto;
  font-size: 28px;
  min-width: 10px;
  color: black;
  background: transparent;
}

.ui-dialog .ui-dialog-buttonpane button {
  /*display: block !important;*/
  min-width: 108px;
  float: right;
}

.ui-dialog-buttonset .button:nth-child(2) {
  order: 3;
}

.ui-dialog-content {
  font-size: 16px;
  height: auto !important;
}

.having-paid-dialog {
  max-height: 100% !important;
  width: 48% !important;
  padding: 0% 4% 3% 7% !important;
}

.having-paid-dialog li {
  list-style: disc;
  margin-left: 13px;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
  padding: 4% 2% 3% 6%;
  width: 48.4% !important;
  max-height: 260px;
}

/*Trash popup*/
.ui-dialog .ui-dialog-title {
  width: 96%;
  font-size: 18px;
}

.msg-info {
  display: inline-flex;
}

.secure-messages {
  width: 102%;
}

.msg-first-row {
  margin: 10px 0;
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 5px;
  margin-right: 5%;
}

.message-delete {
  width: 20px;
  right: 0;
}
.message-delete a {
  background-image: url(../../../assets/images/icon_trash.png);
  background-repeat: no-repeat;
  color: transparent;
  padding: 2px 5px;
}

.dt-crt {
  color: #767676;
  margin-bottom: 4px;
}

.node-secure-messages-form, .comment-sergel-reply-form {
  padding-bottom: 50px;
  margin-top: 10px;
}
.node-secure-messages-form .button:hover,
.node-secure-messages-form .button:active,
.node-secure-messages-form .button:focus,
.comment-sergel-reply-form .button:hover,
.comment-sergel-reply-form .button:active,
.comment-sergel-reply-form .button:focus
{
  background-color: #250e62 !important;
  border-radius:0px;
}
  .node-secure-messages-form .button, .comment-sergel-reply-form .button {
    height: 35px;
    border-radius: 0px !important;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-size: 14px;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
    line-height: 17px;
    text-align: center;
    padding: 0 32px;
    border: transparent;
  }

  .node-secure-messages-form .btn-primary, .comment-sergel-reply-form .btn-primary {
    background-color: #250e62 !important;
  }

.node-secure-messages-form .btn-primary:hover, .node-secure-messages-form #edit-plan-submit:hover, .comment-sergel-reply-form .btn-primary:hover, .comment-sergel-reply-form #edit-plan-submit:hover {
  background-color: #250e62 !important;
}

  .node-secure-messages-form .btn-default, .comment-sergel-reply-form .btn-default {
    color: #250e62 !important;
    right: 20px;
    position: relative;
  }

  .node-secure-messages-form .btn-default:hover, .comment-sergel-reply-form .btn-default:hover {
    color: #00418A !important;
    background-color: transparent;
    border-color: transparent;
  }

  .node-secure-messages-form .form-actions .btn, .comment-sergel-reply-form .form-actions .btn {
    margin-right: 0;
  }

  .node-secure-messages-form #edit-actions, .node-secure-messages-form #conf, .node-secure-messages-form #edit-leave-cancel, .comment-sergel-reply-form #edit-actions, .comment-sergel-reply-form #conf, .comment-sergel-reply-form #edit-leave-cancel {
    float: right;
  }

  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent !important;
    //opacity: 0.5 !important;
  }

  #edit-field-message-body-0-value {
    height: 147px;
    padding: 15px;
  }

  .node-secure-messages-form legend {
    font-size: 16px;
    border-bottom: transparent;
    margin: 0;
    padding: 0;
  }
.node-secure-messages-form .btn-primary, .comment-sergel-reply-form .btn-primary {
  background-color: #250e62 !important;
  color: #fff;
  box-shadow: 0 2px 4px 0 #6a6a6a;
}
.region-content .comment-sergel-reply-form .send_class.button {
  background-color: #250e62 !important;
  color: #fff;
  box-shadow: 0 2px 4px 0 #6a6a6a;
}
.comment-sergel-reply-form .notify-fields {
  display: none;
}

  .form-item.js-form-item.form-type-radio.js-form-type-radio.form-item-case-numbers.js-form-item-case-numbers.radio {
    border-bottom: 2px solid #D8D8D8;
    padding: 0.75% 0;
  }

  input#edit-title-0-value {
    height: 40px;
  }
  /*.form-no-label.form-group {
    border-bottom: 1px solid #D8D8D8;
    margin: 6% 0;
}*/
  #edit-field-reply-0-value {
    height: 120px;
    padding: 20px;
  }

  .textblur {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    opacity: 0.4;
  }

  .expand {
    display: block !important;
  }

  .center-align {
    text-align: center;
  }
  /* Radio Button*/
  input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #250e62;
    border-radius: 50%;
  }

  input[type=radio]:checked {
    background-color: #250e62;
  }

  .form-type-radio .option {
    margin-left: 30px;
  }

  .form-radio {
    left: 20px;
  }

  .form-type-radio .option {
    margin: 0 15px;
  }

  .form-item-notification {
    width: 33%;
    float: left;
    margin: 0 !important;
  }
  /* Checkbox css*/
  .checkbox input[type=checkbox] {
    visibility: hidden;
  }

  .checkbox label {
    cursor: pointer;
  }

  .checkbox label:before {
    border: 1px solid #333;
    content: " ";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 3px 10px 0 -20px;
    padding: 0;
    vertical-align: top;
    width: 16px;
  }

  .checkbox label.checked:before {
    background: #250e62;
    color: #FFF;
    content: "✓";
    text-align: center;
  }

  .checkbox label.checked:after {
    font-weight: bold;
  }

  .form-required:after {
    display: none;
  }

  .notify-fields legend {
    font-size: 14px;
    border-bottom: transparent;
    margin: 0;
    padding: 10px 0;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
  }

  #edit-notification #edit-notify-sms {
    width: 123px;
  }

  #edit-notification #edit-notify-sms-code {
    width: 60px;
  }

  #edit-notification .form-item-notify-sms-code {
    width: 60px;
    display: inline-table;
    margin: 0 3px;
  }

  #edit-notification .form-item-notify-sms {
    width: 123px;
    display: inline-table;
    margin: 0 3px;
  }

  #edit-notification .form-item-notify-sms-code .select-wrapper:after {
    display: none;
  }

  #edit-notification .form-type-tel.js-form-type-tel label.control-label.js-form-required.form-required {
    padding-left: 0;
  }

  #edit-notification .form-type-email label, #edit-notification .form-type-tel label, #edit-notification .form-item-notify-sms-code label {
    padding-left: 0 !important;
    font-size: 12px;
  }

  #edit-notification .form-type-radio .option {
    margin: 10px 7px;
    display: block;
  }
  /* Mobile menu*/
  #edit-notification--wrapper {
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  .form-item-notify-email {
    width: 290px;
  }

  #block-contactus {
    margin: 5% 15%;
    font-size: 16px;
  }

  #block-contactus .outerDiv {
    width: 100%;
    margin: 0px auto;
    padding: 5px;
  }

  #block-contactus .leftDiv {
    color: #333333;
    height: 400px;
    width: 60%;
    float: left;
    padding-right: 17%;
  }

  ul {
    text-decoration: none !important;
  }

  .leftDiv {
    a {
      color: #075ab4 !important;
      text-decoration: none !important;
    }

    a.link-bold {
      color: #250e62 !important;
    }
  }

  #block-contactus .rightDiv {
    color: #000;
    height: 400px;
    width: 40%;
    font-weight: "Roboto-Bold";
    float: right;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
  }

  #block-contactus img {
    border-radius: 50%;
    margin-top: -40%;
  }

  .navbar-default .navbar-toggle .icon-bar {
    width: 24px;
    height: 2px;
    background-color: black;
    transition: 0.4s;
    margin-bottom: 5px;
  }

  .navbar-default .navbar-toggle .sr-only {
    position: relative;
    overflow: unset;
    font-size: 10px;
  }

  .navbar-collapse {
    border-top: 0;
  }

  .navbar-toggle.open .icon-bar:nth-child(1) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: -1px;
  }

  .navbar-toggle.open .icon-bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.open .icon-bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -9px);
    transform: rotate(45deg) translate(-8px, -9px);
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-toggle.open {
    top: 5px;
  }

  .active-installment::before {
    content: url(../../../assets/images/icon_instalment_plan.png);
    position: relative;
    display: inline-block;
    padding: 10px 20px 10px 1px;
    top: 7px;
  }

  .inst-approved::before {
    background-image: url(../../../assets/images/icon_check.png);
    background-repeat: no-repeat;
    content: " ";
    position: relative;
    padding: 20px;
  }

  .week-day {
    margin-left: -1%;
  }

  .split-payment-title::before {
    background-image: url(../../../assets/images/instalment_plan.png);
    background-repeat: no-repeat;
    content: " ";
    position: relative;
    display: inline-block;
    padding: 18px 0px 18px 50px;
    margin-bottom: -16px;
  }

  .split-payment-desc h3 {
    display: inline;
  }

  .split-payment-header h2 {
    margin-left: -15px;
  }

  .col-sm-12.num-months {
    margin-top: 20px;
    padding-left: 0;
  }

  .col-sm-12.num-months label {
    margin-top: 5px;
  }

  .split-payment-body {
    border-bottom: 2px solid #EBEBEB;
    border-top: 2px solid #EBEBEB;
    margin: 35px 0px 35px 25px;
    padding: 14px 2px 14px 38px;
  }

  .split-payment-body .installment-plan-form label {
    font-weight: normal;
  }

  .split-payment-body .installment-plan-form .form-item-start-date label, .split-payment-body .installment-plan-form .form-item-end-date label {
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
  }

  .split-payment-body .installment-plan-form .form-item-start-date .form-control[readonly], .split-payment-body .installment-plan-form .form-item-end-date .form-control[readonly] {
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
    font-size: 14px;
    height: auto;
    display: block;
  }

  .split-payment-body .installment-plan-form .form-item-monthly-payment label {
    max-width: 120%;
    width: 120%;
  }

  .split-payment-body .installment-plan-form .form-control[readonly] {
    box-shadow: none;
    border: transparent !important;
    font-size: 22px;
    color: black !important;
    opacity: 1 !important;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
    margin-left: -10px;
    width: 100%;
  }

  .split-payment-body .installment-plan-form .form-type-textfield {
    padding: 20px 0;
  }

  .split-payment-body .form-item-month {
    display: -webkit-box;
  }

  .split-payment-body .form-item-month .input-group {
    left: 20%;
    width: 150px;
  }

  .split-payment-body .form-item-month .input-group-addon {
    display: none;
  }

  .split-payment-body .form-item-end-date {
    left: 12%;
    position: relative;
  }

  .split-payment-body .form-item-end-date label {
    float: left;
  }

  .split-payment-body .chevron {
    bottom: 28px;
  }

  .split-payment-body .open-elaborate .col-xs-3, .split-payment-body .open-elaborate .col-xs-4, .split-payment-body .deb-blk .col-sm-4 {
    right: 0;
  }

  .split-payment-body .open-elaborate-second .amt-paid {
    right: 0;
  }

  .split-payment-body hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #eee;
    width: 108%;
    right: 8.5%;
    position: relative;
  }

  .split-payment-body .fd-lt {
    text-align: left;
  }

  .split-payment-body .fd-rt {
    text-align: right;
  }

  .split-payment-body .split-start-date {
    padding-left: 0;
  }

  .split-payment-body .open-elaborate .split-last-payment {
    left: 4%;
    position: relative;
  }

  .date-border, .border-bottom {
    border-bottom: 1px solid #D8D8D8;
  }

  .border-top {
    border-top: 1px solid #D8D8D8;
  }
  // section#block-views-block-payment-options-block-1 {
  //   background: white;
  //   padding: 7% 8.5% 7% 6%;
  // }
  .split-wrap {
    margin-top: 40px;
    padding: 5% 13% 7% 7%;
  }

  .split-last-payment {
    left: 4%;
    position: relative;
  }

  .split-last-payment input, .split-monthly-payment input {
    padding-right: 0;
    width: auto;
  }

  .bold {
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
  }

  button {
    outline: none !important;
  }

  .read-more-blur {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0.3;
    text-align: left;
  }

  .plan-wrap {
    padding: 10% 4%;
  }

  .abroad-pay {
    top: 17px;
    position: relative;
    font-size: 16px;
  }

  .col-xs-12.split-chk {
    padding-top: 20px;
    padding-left: 0;
    top: -1px;
    padding-right: 0px;
  }

  .inst-spec-error {
    text-color: #CD4D01;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2D3642;
    background-color: white;
  }

  .country-fi.myclass .bank-no {
    width: auto !important;
  }
  /* Postpone Payment*/
  .respite-form label {
    display: inline;
    font-size: 16px;
    font-weight: normal;
  }
  // .respite-form .form-control[readonly] {
  //   background-color: transparent !important;
  //   opacity: 1 !important;
  //   box-shadow: none;
  //   border: transparent !important;
  //   font-size: 16px;
  //   color: black !important;
  //   opacity: 1 !important;
  //     font-family: "Roboto-Bold";
  //   font-weight: bold;
  //   font-weight: normal;
  //   margin-left: -5px;
  //   width: 140px;
  //   display: inline;
  //   border: transparent;
  //   padding-left: 10px;
  //   font-weight: normal;
  // }
  .respite-form #edit-respite-days {
    margin-left: -10px;
    width: 120px;
    height: min-content;
    padding: 10px 12px;
  }

  .respite-form .new-pay-day {
    margin-top: 15px;
  }

  .respite-form .new-pay-day .form-control[readonly] {
    font-size: 22px;
  }

  .respite-form .new-pay-day label {
    font-size: 14px;
  }

  .respite-form #edit-respite-submit {
    background-color: #250e62;
    margin-bottom: 15px !important;
    border-radius: 20px;
    position: relative;
    margin-top: 20px;
    color: white;
    font-family: "Roboto-Bold";
    font-weight: bold;
    right: 0;
    float: right;
  }

  .respite-form .apply-post {
    height: 70px;
  }

  .respite-form #edit-respite-submit:hover {
    background-color: #00418A;
  }

  .post-payment-title::before {
    background-image: url(../../../assets/images/icon_calendar.png);
    background-repeat: no-repeat;
    content: " ";
    position: relative;
    display: inline-block;
    padding: 18px 40px 18px 50px;
    margin-bottom: -15px;
  }

  .respite-date {
    top: 10px;
    position: relative;
    font-size: 16px;
  }

  .respite-date::before {
    content: url(../../../assets/images/icon_calendar-sm.png);
    position: relative;
    display: inline-block;
    padding: 7px 10px 7px 1px;
    top: 4px;
  }
  /* POA */
  #poa-form {
    clear: both;
    display: none;
  }

  .poa-toggle {
    display: block !important;
  }

  .poa-form label {
    font-size: 12px;
    font-weight: normal;
  }

  .poa-form .poa-footer-content {
    clear: both;
    border-top: 2px solid #EBEBEB;
    padding: 29px 0;
    position: relative;
    top: 30px;
  }

  .poa-form .field-padding {
    padding: 5px 20px 5px 0px;
    display: inline-block;
  }

  .poa-form .right-col {
    position: relative;
    left: 5px;
    padding-left: 32px;
  }

  .poa-form .left-col {
    position: relative;
    right: 0px;
    border-right: 1px solid #EBEBEB;
    padding: 0px 20px 0 0;
  }

  .poa-form #edit-phone-number {
    width: 100%;
  }

  .poa-form .phone-number {
    top: 5px;
    position: relative;
  }

  .poa-form #edit-poa-submit {
    background-color: #250e62;
    margin-bottom: 15px !important;
    border-radius: 20px;
    position: relative;
    margin-top: 20px;
    color: white;
    padding: 7px 20px;
    font-weight: bold;
    float: right;
  }

  .poa-form #edit-poa-submit:hover {
    background-color: #00418A;
  }

  .poa-form .split-chk label {
    font-size: 13px;
    padding-left: 30px;
  }

  .poa-form .checkbox label:before {
    left: -10px;
    position: relative;
    margin: 3px 1px 0 -20px;
  }

  .poa-form .sec-poa-act {
    height: 180px;
  }

  .poa-form .sec-poa-act a {
    position: relative;
    top: 121px;
    float: right;
  }

  .poa-form .form-required:after {
    content: " * ";
    background-image: none;
    display: inline-block;
    margin: 0 0px;
    font-size: 14px;
  }

  .poa-form .form-type-checkbox .form-required:after {
    content: "";
  }

  .poa-form .form-item-zip-code label {
    max-width: 165%;
    width: 165%;
  }

  .visibility-toggle {
    display: none;
  }

  .active-poa-list {
    display: inline-block;
    width: 100%;
    min-height: 180px;
    padding-top: 10px;
    margin-left: -25px;
  }

  .active-poa-list .sec-poa-act {
    padding-top: 125px;
    left: 30px;
  }

  .act-pow::before {
    content: url(../../../assets/images/icon_power_of_attorney.png);
    position: relative;
    display: inline-block;
    padding: 10px 20px 10px 1px;
    top: 7px;
  }

  .col-xs-12.act-pow {
    padding-left: 0;
  }

  .active-poa {
    padding-left: 0;
  }

  .revoke-poa {
    top: 75%;
    position: relative;
    float: right;
  }

  .poa-header-content {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 25px;
  }

  .no-pad {
    padding: 0;
  }

  .pad-left {
    padding-left: 0 !important;
  }

  .poa-addr {
    display: inline-block;
    padding: 0 !important;
  }

  .zip-space {
    margin-right: 12px;
    float: left;
  }

  .col-xs-9 .col-xs-12 {
    padding: 5px 0;
  }

  .btn.account-link.add-more-poa {
    float: right;
    right: 7%;
    position: relative;
    border: 1px solid #250e62;
    color: #250e62;
    margin: 20px 0;
  }

  .btn.account-link.add-more-poa:hover {
    color: #250e62 !important;
  }

  .mandatory {
    margin-right: 25px;
  }

  .col-xs-12.toggle-poa-but {
    left: -7%;
    background: white;
    width: 114%;
    margin-top: -6px;
  }
  // .header-fi-title {
  //   margin: 0;
  // }
  .ac-numb {
    margin-top: 20px;
  }

  .country-pay-SE {
    border-bottom: 2px solid #EBEBEB;
    padding: 12px 5px 25px 0;
    border-top: 2px solid #EBEBEB;
  }

  .country-pay-SE .view-header {
    margin-left: 30px;
  }

  .country-pay-SE .bnk-pay-title {
    // display: none;
    left: -40px;
    position: relative;
    margin: 5px 0;
    font-size: 16px;
  }
  // .country-pay-SE .view-content {
  //   display: none;
  // }
  .country-pay-SE .bank-payment-title {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  //.country-pay-SE
  .country-pay-SE .myclass.views-row {
    margin-top: 0;
  }

  .country-pay-FI .myclass.views-row {
    margin-top: 0;
  }

  .inform-payment-title::before {
    background-image: url(../../../assets/images/icon_having_paid.png);
    background-repeat: no-repeat;
    content: " ";
    position: relative;
    display: inline-block;
    padding: 18px 20px 18px 30px;
    margin-bottom: -16px;
  }

  #edit-payment-date {
    background-image: url(../../../assets/images/icon_calendar.png);
    background-repeat: no-repeat;
    background-position: 95% 40%;
  }

  #edit-partial-amount, #edit-payment-date {
    width: 50%;
    margin: -5px 5px 0px 10px;
    display: inline-block;
  }

  #edit-info-submit {
    background-color: #250e62;
    margin-bottom: 15px !important;
    border-radius: 20px;
    position: relative;
    left: 68%;
    margin-top: 20px;
  }

  .btn-wrapr {
    position: relative;
    height: 70px;
  }

  .btn-wrapr #edit-info-submit {
    right: 0 !important;
    left: auto;
    float: right;
  }

  .btn-wrapr-poa {
    height: 180px;
  }

  .btn-wrapr-inst {
    position: relative;
    height: 70px;
    clear: both;
  }

  #edit-payment-mode .radio {
    margin: 10px 0 15px 0;
  }
  // already paied
  .already-paid-form .form-item-partial-amount, .already-paid-form .form-item-payment-date {
    display: block;
    margin: 0px 0;
  }

  .already-paid-form .form-item-partial-amount label, .already-paid-form .form-item-payment-date label {
    width: 30%;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
  }

  .already-paid-form legend {
    padding-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
    border-top: 2px solid #EBEBEB;
    border-bottom: 0;
  }

  .already-paid-form .form-item-payment-date {
    padding-bottom: 20px;
  }

  .already-paid-form .js-form-item-mobile-number {
    padding-bottom: 25px;
    display: block;
  }

  .already-paid-form .js-form-item-mobile-number label {
    display: block;
    font-weight: normal;
    padding: 10px 0;
    font-size: 14px;
  }

  .already-paid-form #edit-notify-sms {
    display: flex;
  }

  .already-paid-form #edit-notify-sms--wrapper {
    border-bottom: 2px solid #EBEBEB;
    padding-bottom: 25px;
  }

  .already-paid-form .form-item-notify-sms {
    margin: 10px 0;
    width: 40%;
  }

  .already-paid-form .form-item-notify-sms.js-form-item-notify-sms {
    margin: 15px 0;
  }

  .how-to-pay-section {
    padding: 3% 5%;
    background: white;
    margin: 5% 0%;
  }

  .form-item-cellphone-number {
    display: inline-block;
  }




  .swish-payment-title::before {
    background-image: url("../../../assets/images/Swish_Logo_Primary_RGB.png");
    background-repeat: no-repeat;
    content: " ";
    position: relative;
    display: inline-block;
    padding: 9px 8px 0px 50px;
    margin-bottom: -6px;
    margin-left: 2px;
    max-height: 35px;
    height: 39px;
    background-size: 34px 34px;
  }

  .form-item-cellphone-number label {
    margin-right: 10px;
    font-weight: normal;
    font-family: "Roboto-Bold";
    font-weight: bold;
    color: #333 !important;
  }

  .form-item-cellphone-number input {
    border: 1px solid #ccc !important;
  }


  .file-size, .file-icon {
    display: none;
  }

  .file-link {
    color: #333 !important;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 2px solid #D8D8D8 !important;
    border-top: 2px solid #D8D8D8 !important;
    text-decoration: none !important;
  }

  .file {
    height: 44px;
  }

  .form-type-managed-file .button.btn-danger:hover {
    color: #250e62 !important;
    background-color: transparent;
    border-color: #250e62 !important;
  }

  .form-type-managed-file .button {
    height: auto;
    font-size: 14px;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
    padding: 5px 21px;
    border: 1px solid #250e62;
    background: transparent;
    color: #250e62;
    float: right;
    bottom: 41px;
    position: relative;
  }

  .block-swish-payment-block {
    display: none;
  }

  #swish-payment-block-form {
    margin: 45px 0 0 70px;
  }

  #swish-payment-block-form button {
    background-color: #250e62;
    color: white;
    border-radius: 20px;
    padding: 6px 25px;
    margin-left: 10px;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
  }

  #swish-payment-block-form button:hover {
    background-color: #00418A !important;
  }
  /* Message scroll css*/
  #message-scroll-wrapper {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    width: 99%;
    margin-top: 15px;
  }

  #message-scroll-wrapper::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 10px;
  }

  #message-scroll-wrapper::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }

  #message-scroll-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #D8D8D8;
  }

  .inst-spec .form-group {
    margin-bottom: 0 !important;
  }

  .loading {
    background-image: url(../../../assets/images/preloader.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    background-position: center;
    height: 100%;
    width: 53%;
    z-index: 999;
    margin-left: 25%;
  }

  .loading-wrap {
    height: 60px;
  }
  /* Loading image created */
  .circle-border, .circle-behind {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: transparent;
    border-right: 8px solid orange;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-radius: 150px;
    -webkit-animation: square-loader 1.5s infinite forwards linear;
    -moz-animation: square-loader 1.5s infinite forwards linear;
    animation: square-loader 1.5s infinite forwards linear;
    position: absolute;
    left: 0;
    top: 0;
  }

  .circle-behind {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
    border: 8px solid #f9f9f9;
    box-shadow: 1px 1px 2px rgba(10, 0, 0, 0.1);
  }

  @-moz-keyframes square-loader {
    0% {
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes square-loader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes square-loader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .centered-wrapper {
    margin-top: 235px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
  }

  .inner-wrapper {
    top: 220px;
    left: 50%;
    position: absolute;
    margin-top: -43px;
    margin-left: -43px;
  }

  .path-swish .region.region-content {
    background: transparent;
    padding: 0;
  }

  #attach_file::before {
    background-image: url(../../../assets/images/attachment-icon.png);
    background-repeat: no-repeat;
    content: " ";
    position: relative;
    display: inline-block;
    padding: 8px 11px;
    top: 5px;
  }

  #attach_file {
    font-weight: normal;
    font-family: "Roboto-Bold";
    font-weight: bold;
  }

  .form-group.form-item-file-upload {
    margin-bottom: -10px;
  }

  .js-form-file {
    display: none !important;
  }

  .alert-dismissible span {
    display: none;
  }

  .path-loading-page .page-content.col-sm-12, .path-process-page .page-content.col-sm-12 {
    background: transparent;
  }

  .path-loading-page #slide-bottom, .path-loading-page #block-languageswitcher-2, .path-loading-page .navbar-right, .path-process-page #slide-bottom, .path-process-page #block-languageswitcher-2, .path-process-page .navbar-right {
    display: none;
  }

  .path-loading-page .rem-top, .path-process-page .rem-top {
    margin-top: 0;
    padding-top: 0;
  }

  .corp-form {
    margin: 16% 0% 10% 0%;
  }

  .corp-form .control-label {
    float: left;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
  }

  .corp-form .button {
    font-size: 14px;
    font-family: "Roboto-Bold";
    font-weight: bold;
    font-weight: normal;
    padding: 0 36px;
    height: 34px;
    margin-top: 15px;
  }

  #corp-login.corp-login .form-item {
    display: block;
    width: 100%;
  }

  #corp-login.corp-login .form-item label {
    display: inline-block;
    min-width: 21%;
    width: 30%;
    vertical-align: middle;
  }

  #corp-login.corp-login .form-item-captcha-response.form-item label {
    min-width: 21%;
    width: 21%;
    display: none;
  }

  #corp-login.corp-login .form-item input {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
  }

  #corp-login.corp-login .captcha {
    text-align: left;
    padding-left: 20%;
  }

  #corp-login.corp-login .captcha img {
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }

  #corp-login.corp-login .captcha input {
    width: 100%;
  }

  #corp-login.corp-login .captcha .form-item-captcha-response {
    display: inline-block;
    width: 40%;
    margin-bottom: 0;
  }

  #corp-login.corp-login .captcha .reload-captcha-wrapper {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    padding-top: 0;
    margin-top: -20px;
  }

  #corp-login.corp-login .form-submit {
    float: right;
    margin-right: 30%;
    margin-top: 3.5%;
    padding: 1% 6%;
  }

  #corp-login.corp-login #edit-captcha-response--description {
    margin-bottom: 0;
  }

  .path-corp-login .login.well .sergel-blue-text {
    width: 25%;
    margin-top: 4.5%;
    margin-left: 25%;
  }



  .ajax-err {
    display: none;
  }

  .pagination > li {
    display: contents;
  }

  .form-actions .btn-danger:active:hover, .form-actions .btn-danger:active:focus, .form-actions .btn-danger:active.focus, .form-actions .btn-danger:active, .form-actions .btn-danger:hover,
  .form-actions .btn-danger.active:hover, .form-actions .btn-danger.active:focus, .form-actions .btn-danger.active.focus, .form-actions .open > .btn-danger.dropdown-toggle:hover, .form-actions .open > .btn-danger.dropdown-toggle:focus, .form-actions .open > .btn-danger.dropdown-toggle.focus {
    background-color: #250e62 !important;
    border-color: #250e62 !important;
  }
  /*footer */
  .align-right {
    float: right;
  }

  #block-contactus {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto';
  }
  // footer
  .footer {
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    // border-top: 1px solid #E5E5E5;
  }

  .form-item-payment-date {

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      padding: .5rem 0;
      margin: .125rem 0 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
    }

    .small, small {
      font-size: 80%;
      font-weight: 400;
    }
  }

  @media (max-width: 768px) {
    html, body {
      overflow-x: hidden;
    }

    .main-container .page-content.col-sm-12 {
      padding: 3% 7%;
      margin-top: 0;
    }

    #block-contactus {
      margin: -3% 1%;
    }

    #slide-bottom {
      width: 116%;
      left: -8%;
      bottom: -4%;
    }

    #block-contactus {
      margin: -3% 1%;
    }

    #block-contactus img {
      right: 3%;
      margin-top: 0;
      height: 179px;
      width: 179px;
    }

    .message-icon {
      font-size: 0;
      position: absolute;
    }

    [class^=icofont-]:focus, [class*="icofont-"]:active {
      border-color: #fff
    }

    .mobile-message {
      position: absolute;
      font-size: 16px;
      right: 4%;
      color: #ff8674;
      top: 10px
    }
  }

  .path-overview {
    .chevron, .arrow-down, .arrow-dow, .chevron-postpone, .arw, .arw-swish, .chevron-split, .chevron-ap {
      content: " ";
      border-right: 2px solid #250e62;
      border-bottom: 2px solid #250e62;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      position: relative;
      left: 96%;
      bottom: 55px;
      display: -webkit-flex;
      display: -webkit-box;
      display: flex;
      cursor: pointer;
    }

    .down {
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      bottom: 55px;
    }
  }

  .path-nets-terms-of-delivery {
    .region.region-content {
      padding: 6%;
      background: white;
      border-radius: 4px;
    }
  }

  .path-power-of-attorney {
    .region.region-content {
      padding: 6%;
      background: white;
      border-radius: 4px;
    }

    .zip-code {
      padding-right: 10px;
    }
  }
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .path-power-of-attorney {
      .page-content.col-sm-12 {
        // padding:3% 11.7%;
      }

      .col-xs-5, .col-xs-6 {
        width: 45%;
      }
    }
  }
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .path-power-of-attorney {
      .page-content.col-sm-12 {
        // padding:3% 11.7%;
      }

      .col-xs-5, .col-xs-7 {
        width: 50%;
        padding-right: 10px
      }
    }
  }
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .path-power-of-attorney {
      .page-content.col-sm-12 {
        // padding:3% 11.7%;
      }
    }
  }

  p {
    text-align: justify;
  }
  /**
 * Alert styling.
 */
  .alert-sm {
    padding: 5px 10px;
  }

  .alert a {
    font-weight: bold;
  }

  .alert-success a,
  .alert-success a:hover,
  .alert-success a:focus {
    color: #2b542c;
  }

  .alert-info a,
  .alert-info a:hover,
  .alert-info a:focus {
    color: #245269;
  }

  .alert-warning a,
  .alert-warning a:hover,
  .alert-warning a:focus {
    color: #66512c;
  }

  .alert-danger a,
  .alert-danger a:hover,
  .alert-danger a:focus {
    color: #843534;
  }
  /**
 * AJAX (throbber) styling.
 */
  @keyframes glyphicon-spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(359deg);
    }
  }

  .glyphicon-spin {
    display: inline-block;
    animation: glyphicon-spin 1s infinite linear;
  }

  a .glyphicon-spin {
    display: inline-block;
    text-decoration: none;
  }

  html.js .btn .ajax-throbber {
    margin-left: 0.5em;
    margin-right: -0.25em;
  }

  html.js .form-item .input-group-addon .glyphicon {
    color: #777777;
    opacity: 0.5;
    transition: 150ms color, 150ms opacity;
  }

  html.js .form-item .input-group-addon .glyphicon.glyphicon-spin {
    color: #337ab7;
    opacity: 1;
  }

  html.js .form-item .input-group-addon .input-group-addon {
    background-color: #ffffff;
  }

  html.js .ajax-new-content:empty {
    display: none !important;
  }
  /**
 * @file
 * Visual styles for fields.
 */
  .field--label {
    font-weight: bold;
  }

  .field--label-inline .field--label,
  .field--label-inline .field--items {
    float: left;
    /*LTR*/
  }

  .field--label-inline .field--label,
  .field--label-inline > .field--item,
  .field--label-inline .field--items {
    padding-right: 0.5em;
  }

  [dir="rtl"] .field--label-inline .field--label,
  [dir="rtl"] .field--label-inline .field--items {
    padding-left: 0.5em;
    padding-right: 0;
    float: right;
    /*RTL*/
  }

  .field--label-inline .field--label::after {
    content: ':';
  }
  /**
 * File (and Image Widget) styles.
 */
  .file {
    display: table;
    font-size: 75%;
    font-weight: 700;
    margin: 5px 0;
    width: 100%;
  }

  .file > span {
    background: #fff;
    color: #337ab7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }

  .file > span:first-child {
    border-left: 1px solid #ccc;
  }

  .file > span:last-child {
    border-right: 1px solid #ccc;
  }

  .file > .tabledrag-changed {
    background: #fcf8e3;
    border-radius: 0;
    color: #8a6d3b;
    display: table-cell;
    padding: 0 1em;
    top: 0;
    vertical-align: middle;
    border-left: 1px solid inherit;
  }

  .file > .tabledrag-changed,
  .file > .tabledrag-changed:last-child {
    border: 1px solid #f7e1b5;
  }

  .file-icon {
    display: table-cell;
    font-size: 150%;
    padding: 0.25em 0.5em;
    text-align: center;
    vertical-align: middle;
  }

  .file-link {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }

  .file-link a,
  .file-link a:hover,
  .file-link a:focus,
  .file-link a:active {
    color: inherit;
  }

  .file-size {
    display: table-cell;
    padding: 0 1em;
    text-align: right;
    white-space: pre;
    vertical-align: middle;
  }

  .image-widget.row {
    overflow: hidden;
  }
  /**
 * Filter styles.
 */
  .filter-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
    padding: 10px;
    height: 51px;
  }

  .filter-help {
    float: right;
    line-height: 1;
    margin: 0.5em 0 0;
  }

  .nav.nav-tabs.filter-formats {
    margin-bottom: 15px;
  }
  /**
 * Form styles.
 */
  table .checkbox.form-no-label,
  table .radio.form-no-label {
    margin-bottom: 0;
    margin-top: 0;
  }

  .select-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .form-inline .select-wrapper {
    width: auto;
  }

  .input-group .select-wrapper {
    display: table-cell;
  }

  .input-group .select-wrapper:first-child .form-control:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .input-group .select-wrapper:last-child .form-control:first-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    padding-right: 2em;
  }

  .select-wrapper select::-ms-expand {
    opacity: 0;
  }

  .select-wrapper:after {
    color: #337ab7;
    content: '▼';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: -0.5em;
    padding-right: 0.5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;
  }

  .has-glyphicons .select-wrapper:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e114';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
  }

  .has-error .select-wrapper:after {
    color: #a94442;
  }

  .has-success .select-wrapper:after {
    color: #3c763d;
  }

  .has-warning .select-wrapper:after {
    color: #8a6d3b;
  }

  .form-required:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iI0VFMDAwMCIgIGQ9Ik0wLDcuNTYybDEuMTE0LTMuNDM4YzIuNTY1LDAuOTA2LDQuNDMsMS42ODgsNS41OSwyLjM1QzYuMzk4LDMuNTUzLDYuMjM3LDEuNTQ0LDYuMjIsMC40NDdoMy41MTEgYy0wLjA1LDEuNTk3LTAuMjM0LDMuNi0wLjU1OCw2LjAwM2MxLjY2NC0wLjgzOCwzLjU2Ni0xLjYxMyw1LjcxNC0yLjMyNUwxNiw3LjU2MmMtMi4wNSwwLjY3OC00LjA2LDEuMTMxLTYuMDI4LDEuMzU2IGMwLjk4NCwwLjg1NiwyLjM3MiwyLjM4MSw0LjE2Niw0LjU3NWwtMi45MDYsMi4wNTljLTAuOTM1LTEuMjc0LTIuMDQxLTMuMDA5LTMuMzE2LTUuMjA2Yy0xLjE5NCwyLjI3NS0yLjI0NCw0LjAxMy0zLjE0Nyw1LjIwNiBsLTIuODU2LTIuMDU5YzEuODcyLTIuMzA3LDMuMjExLTMuODMyLDQuMDE3LTQuNTc1QzMuODQ5LDguNTE2LDEuODcyLDguMDYyLDAsNy41NjIiLz48L3N2Zz4K);
    background-size: 10px 7px;
    content: "";
    display: inline-block;
    /*vertical-align: super;*/
    line-height: 1;
    height: 7px;
    width: 10px;
  }

  .form-actions .btn,
  .form-actions .btn-group {
    margin-right: 10px;
  }

  .form-actions .btn-group .btn {
    margin-right: 0;
  }
  /**
 * Icon styles.
 */
  a.icon-before .glyphicon,
  a .glyphicon.icon-before {
    margin-right: 0.25em;
  }

  a.icon-after .glyphicon,
  a .glyphicon.icon-after {
    margin-left: 0.25em;
  }

  .btn.icon-before .glyphicon,
  .btn .glyphicon.icon-before {
    margin-left: -0.25em;
    margin-right: 0.25em;
  }

  .btn.icon-after .glyphicon,
  .btn .glyphicon.icon-after {
    margin-left: 0.25em;
    margin-right: -0.25em;
  }
  /**
 * Navbar styling.
 */
  html, body {
    font-family: 'Roboto';
  }

  body {
    position: relative;
  }

  body.navbar-is-static-top {
    margin-top: 0;
  }

  body.navbar-is-fixed-top {
    margin-top: 65px;
  }

  body.navbar-is-fixed-bottom {
    padding-bottom: 65px;
  }

  @media screen and (min-width: 768px) {
    body {
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 767px) {
    body.toolbar-vertical.navbar-is-fixed-top .toolbar-bar,
    body.toolbar-vertical.navbar-is-fixed-bottom .toolbar-bar {
      position: fixed;
    }

    body.toolbar-vertical.navbar-is-fixed-top header,
    body.toolbar-vertical.navbar-is-fixed-bottom header {
      z-index: 500;
    }

    body.toolbar-vertical.navbar-is-fixed-top header {
      top: 39px;
    }
  }

  @media screen and (min-width: 768px) {
    .navbar.container {
      max-width: 720px;
    }
  }

  @media screen and (min-width: 992px) {
    .navbar.container {
      max-width: 940px;
    }
  }

  @media screen and (min-width: 1200px) {
    .navbar.container {
      max-width: 1140px;
    }
  }

@media screen and (max-width:768px){
  #swish-payment-block-form.ng-invalid.ng-touched {
    .form-submit {
      margin-top: 0px;
    }
  }
}
/*@media (max-width: 500px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}*/
  .navbar .logo {
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (min-width: 768px) {
    .navbar .logo {
      margin-right: 0;
      padding-left: 0;
    }
  }
  /**
 * Node styling.
 */
  .is-unpublished {
    background-color: #fff4f4;
  }

  .node-preview-container {
    margin-top: -15px;
  }

  .node-preview-form-select {
    padding: 15px;
  }
  /**
 * Panel styling.
 */
  .panel-title {
    display: block;
    margin: -10px -15px;
    padding: 10px 15px;
  }

  .panel-title,
  .panel-title:hover,
  .panel-title:focus,
  .panel-title:hover:focus {
    color: inherit;
  }

  .panel-title:focus,
  .panel-title:hover {
    text-decoration: none;
  }
  /**
 * Progress bar styles.
 */
  .progress-wrapper {
    margin-bottom: 15px;
  }

  .progress-wrapper:last-child .progress {
    margin-bottom: 5px;
  }

  .progress-wrapper .message {
    font-weight: 700;
    margin-bottom: 5px;
  }

  .progress-wrapper .percentage,
  .progress-wrapper .progress-label {
    font-size: 12px;
  }

  .progress-wrapper .progress-bar {
    min-width: 2em;
  }
  /**
 * Table drag styles.
 */
  .tabledrag-toggle-weight {
    float: right;
    margin: 1px 2px 1px 10px;
  }

  .tabledrag-changed-warning {
    margin: 0;
    overflow: hidden;
  }

  .tabledrag-handle {
    color: #777777;
    cursor: move;
    float: left;
    font-size: 125%;
    line-height: 1;
    margin: -10px 0 0 -10px;
    padding: 10px;
  }

  .tabledrag-handle:hover,
  .tabledrag-handle:focus {
    color: #337ab7;
  }
@media screen and (max-width:990px) {
  .payment-options {
    .swish-error {
      left: 40% !important;
    }
  }
}
@media screen and (max-width:767px) {
  .payment-options {
    .swish-error {
      
      left: 0% !important;
      
    }
  }
}
@media screen and (max-width:505px){
  .payment-options{
      .swish-error {
          position:relative !important;
    left: 0% !important;
    margin-bottom: 10px;
  }
      }
}
  .indentation {
    float: left;
    /* LTR */
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
    /* LTR */
    padding: 0.42em 0 0.42em 0.6em;
    /* LTR */
    width: 20px;
  }

  [dir="rtl"] .indentation {
    float: right;
    margin: -0.4em -0.4em -0.4em 0.2em;
    padding: 0.42em 0.6em 0.42em 0;
  }
  /**
 * Tabs and local action styles.
 */
  .local-actions {
    margin: 10px 0 10px -5px;
  }

  .tabs--secondary {
    margin: 10px 0 5px;
  }
  /**
 * Missing Bootstrap 2 tab styling.
 * @see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * @see http://bootply.com/74926
 */
  .tabbable {
    margin-bottom: 20px;
  }

  .tabs-below > .nav-tabs,
  .tabs-left > .nav-tabs,
  .tabs-right > .nav-tabs {
    border-bottom: 0;
  }

  .tabs-below > .nav-tabs .summary,
  .tabs-left > .nav-tabs .summary,
  .tabs-right > .nav-tabs .summary {
    color: #777777;
    font-size: 12px;
  }

  .tab-pane > .panel-heading {
    display: none;
  }

  .tab-content > .active {
    display: block;
  }

  .tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
  }

  .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
  }

  .tabs-below > .nav-tabs > li > a {
    border-radius: 0 0 4px 4px;
  }

  .tabs-below > .nav-tabs > li > a:hover,
  .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
  }

  .tabs-below > .nav-tabs > .active > a,
  .tabs-below > .nav-tabs > .active > a:hover,
  .tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
  }

  .tabs-left > .nav-tabs,
  .tabs-right > .nav-tabs {
    padding-bottom: 20px;
    width: 220px;
  }

  .tabs-left > .nav-tabs > li,
  .tabs-right > .nav-tabs > li {
    float: none;
  }

  .tabs-left > .nav-tabs > li:focus,
  .tabs-right > .nav-tabs > li:focus {
    outline: 0;
  }

  .tabs-left > .nav-tabs > li > a,
  .tabs-right > .nav-tabs > li > a {
    margin-right: 0;
    margin-bottom: 3px;
  }

  .tabs-left > .nav-tabs > li > a:focus,
  .tabs-right > .nav-tabs > li > a:focus {
    outline: 0;
  }

  .tabs-left > .tab-content,
  .tabs-right > .tab-content {
    border-radius: 0 4px 4px 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding: 10px 15px;
  }

  .tabs-left > .nav-tabs {
    float: left;
    margin-right: -1px;
  }

  .tabs-left > .nav-tabs > li > a {
    border-radius: 4px 0 0 4px;
  }

  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #ddd #eeeeee #eeeeee;
  }

  .tabs-left > .nav-tabs > .active > a,
  .tabs-left > .nav-tabs > .active > a:hover,
  .tabs-left > .nav-tabs > .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
  }

  .tabs-right > .nav-tabs {
    float: right;
    margin-left: -1px;
  }

  .tabs-right > .nav-tabs > li > a {
    border-radius: 0 4px 4px 0;
  }

  .tabs-right > .nav-tabs > li > a:hover,
  .tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #ddd;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  }

  .tabs-right > .nav-tabs > .active > a,
  .tabs-right > .nav-tabs > .active > a:hover,
  .tabs-right > .nav-tabs > .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
  }
  /**
 * Toolbar module styling.
 */
  body.toolbar-fixed .toolbar-oriented .toolbar-bar {
    z-index: 1031;
  }

  body.toolbar-fixed .navbar-fixed-top {
    top: 39px;
  }

  body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .navbar-fixed-top {
    top: 79px;
  }

  body.toolbar-fixed.toolbar-vertical.toolbar-tray-open .navbar-fixed-top {
    left: 240px;
  }

  body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed {
    margin-left: 240px;
  }

  body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed .toolbar-tray {
    padding-bottom: 40px;
  }

  body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed .toolbar-tray,
  body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed .toolbar-tray > .toolbar-lining:before {
    width: 240px;
  }

  body.toolbar-loading {
    margin-top: 0;
  }

  body.toolbar-loading.toolbar {
    margin-bottom: 15px;
  }
  /**
 * jQuery UI autocomplete widget style overrides.
 *
 * @todo Remove once jQuery UI is no longer used?
 */
  .ui-autocomplete {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    color: inherit;
    font-family: "Roboto";
    font-size: 14px;
    list-style: none;
    min-width: 160px;
    padding: 5px 0;
    text-align: left;
    z-index: 1000;
  }

  .ui-autocomplete .ui-menu-item {
    border: 0;
    border-radius: 0;
    clear: both;
    color: #333333;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.42857143;
    margin: 0;
    outline: 0;
    padding: 3px 20px;
    text-decoration: none;
    white-space: nowrap;
  }

  .ui-autocomplete .ui-menu-item.ui-state-hover {
    background: #f5f5f5;
    color: #262626;
  }

  .ui-autocomplete .ui-menu-item.ui-state-active,
  .ui-autocomplete .ui-menu-item.ui-state-focus {
    background: #337ab7;
    color: #fff;
  }

  ol,
  ul {
    padding-left: 1.5em;
  }

  .popover ol:last-child,
  .popover ul:last-child {
    margin-bottom: 0;
  }

  .page-header {
    margin-top: 0;
  }

  .footer {
    margin-top: 45px;
    padding-top: 35px;
    padding-bottom: 36px;
    // border-top: 1px solid #E5E5E5;
  }

  p:last-child,
  .form-group:last-child,
  .panel:last-child {
    margin-bottom: 0;
  }

  .region-help > .glyphicon {
    font-size: 18px;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }

  .region-help .block {
    overflow: hidden;
  }

  .help-block,
  .control-group .help-inline {
    color: #777777;
    font-size: 12px;
    margin: 5px 0 10px;
    padding: 0;
  }

  .help-block:first-child,
  .control-group .help-inline:first-child {
    margin-top: 0;
  }
  // * Overview
  .open-case-title {
    .col-sm-7 {
      text-transform: uppercase;
    }
  }

  .block-messages-icon-block-label {
    height: 16px;
    width: 16px;
    background: #CD4D01;
    border-radius: 20px;
    color: white;
    text-align: center;
    position: relative;
    font-size: 11px;
    font-weight: lighter;
    right: 0px;
    display: inline-block;
    line-height: inherit;
    padding: 0;
    margin: 2px 0;
    font-family: 'Roboto-bold'
  }

  .bold {
    font-family: "Roboto-Bold";
    font-weight: normal;
  }

  @media(max-width:340px) {
    #block-contactus img {
      width: 157px;
      height: 157px;
    }
  }

  p.fp {
    text-align: center;
  }

  .no-open {
    .customer {
      color: #250e62 !important;
      font-weight: bold;
      font-family: 'Roboto';
      text-decoration: none !important;
    }
  }
  //msg atach file
  .field--label {
    font-weight: bold;
  }

  .field--label-inline .field--label, .field--label-inline .field--items {
    float: left;
  }

  .field--label-inline .field--label, .field--label-inline > .field--item, .field--label-inline .field--items {
    padding-right: 0.5em;
  }

  .field--label-inline .field--label::after {
    content: ':';
  }
