@import  '.../../../variable';
header{
    &.navbar{
        background: none;
        padding: 0px 48px 0px 35px;
        border-color:#fff;
    }
    .navbar-header{
        .region-navigation 
       {
           .logo{
            width: 230px;
            margin-top: 3px;
            margin-bottom: 3px;
            img {
                    height: 52px;
                }
           }
       }
       
      
    }
        
        .navbar-toggle {
            border: none;
            margin: 10px;
            background-color: transparent;
            .icon-bar {
            width: 24px;
            height: 2px;
            background-color: black;
            transition: 0.4s;
            margin-bottom: 5px;
           
             }
             &:hover,&:focus{
                background-color: transparent;
              }
          }
        .nav > li > a:hover, .nav > li > a:focus {
            text-decoration: none;
            background-color: transparent;
            color: #250e62 !important;
        }
        .message.active{
          background-color: transparent !important;
            font-family: "Roboto-Bold";
            font-family: "Roboto-Bold";
            font-weight: normal;
            color:#250e62 !important;
          span{
            border-bottom: 2px solid #ff8674;
            padding-bottom: 6px;
          }
        }
        .navbar-nav .is-active{
          
            border-bottom: 2px solid #ff8674; 
            background-color: transparent !important;
            font-family: "Roboto-Bold";
            font-family: "Roboto-Bold";
            font-weight: normal;
            color:#250e62 !important;
        }
             
    .block-messages-icon-block {
    margin: 20px 0;
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    width: 147px;
} 
a{
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
a:hover,a:active,a:focus{
  color: #333333;
}
.message-icon {
        color: #333333;
        font-family: "Roboto-Bold";
        font-size:15px;
        font-weight: bold;
        text-align: right;
    }
    a.language-link {
        font-family: "Roboto-Bold";
    }
    a.account-link{
      color: #333333;
      font-family: "Roboto-Bold";
      font-size:15px;
      font-weight: bold;
      // text-align: right;
    }
    .navbar-nav.menu--account{
      
        li{
          margin-left:0px !important;
          margin-right: 0px !important;
          
          a{
            font-size:14px !important;
            color:#333333 !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
            .menu-ico{
              color:#ff8674;
              font-size:16px;
            }  
            .icofont-ui-message,.icofont-globe,.icofont-logout{
              margin-left:8px ;
            }
          }
        }
    }
    
          .nav li {
            position: relative;
            margin: 15px 5px;
          }
          .nav li a {
            padding: 6px 25px;
          }
          .menu--main li{
            padding: 6px 25px;
            a{
              padding:6px 0px;
            }
          }
          .region.region-navigation-collapsible {
            display: -webkit-flex;
            display: -webkit-box;
            display: flex;
            float: right;
          }
          .block-language .links li {
            padding: 12px 0;
            display: flex;
        }
          
          .block-language .sv:before {
            content: url(../../../assets/images/language.png);
            top: 5px;
            position: relative;
            margin-right: 12px;
          }
          .block-language .fi:before {
            content: url(../../../assets/images/language.png);
            top: 5px;
            position: relative;
            margin-right: 12px;
          }
          .block-language .links {
            padding: 10px 20px;
            background: #fff;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
            float: right;
            position: absolute;
            margin-top: 10px;
          }
          .block-language .links li {
            padding: 12px 0;
            cursor: pointer;
          }
          .block-language .links li img {
            height: 20px;
            width: 20px;
            border-radius: 20px;
            display: inline;
            margin-right: 10px;
          }
          .block-language .links li a {
            color: black;
            text-underline-position: under;
            display: flex;
            font-size: 16px;
            display: inline-block;
          }
          .block-language .links li a:focus, .block-language .links li a:hover {
            text-underline-position: under;
            text-decoration: underline;
            text-decoration-color: #2D3642;
            background-color: transparent;
              font-family: "Roboto-Bold";
            font-weight: bold;
            font-weight: normal;
          }
          
          .dropdown-toggle {
            width: 47px;
            display: inline-block;
            padding: 10px 0;
            left: 24px;
            position: relative;
            top: 3px;
            cursor: pointer;
          }
          .dropdown-toggle img {
            height: 20px;
            width: 20px;
            border-radius: 20px;
            display: inline;
            margin-right: 10px;
          }
          
          .dropdown-toggle::after {
            left: 40px;
              content: " ";
              border-right: 2px solid #ff8674;
              border-bottom: 2px solid #ff8674;
              width: 11px;
              height: 11px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              position: relative;
              display: inline-block;
              margin: 2px 0;
          }
          
          .dropdown-menu {
            min-width: 80px;
          }
          .dropdown-menu li a {
            padding: 0;
          }
          
          a.language-link.is-active {
            text-decoration: none;
            font-family: "Roboto-Bold";
            font-size:15px;
            font-weight: bold;
            text-align: right;
    
          }
                    
          /** language */
          .language-switcher-language-session{
            width:75px;
          }
          .block-language .en:before {
            content: url(../../../assets/images/language.png);
            top: 6px;
            position: relative;
            margin-right:-49px;
            width: 24px;
            height: 23px;
            z-index: 10;
          }
           .block-language li.en:before {
            content: url(../../../assets/images/language.png);
            top: 0;
            position: relative;
            margin-right: 9px;
        }

          .block-language .sv:before {
            content: url(../../../assets/images/language.png);
            top: 0px;
            position: relative;
            margin-right: 12px;
          }
          .block-language .fi:before {
            content: url(../../../assets/images/language.png);
            top: 5px;
            position: relative;
            margin-right: 12px;
          }
          .logout{
            cursor: pointer;
            color: #ff8674;
            padding-left: 4px;
            font-size: 16px;
          }
            .dropdown-toggle[aria-expanded=true]::after {
              transform: rotate(225deg) !important;
              -webkit-transform: rotate(225deg) !important;
              bottom: -2px !important;
          }          
          
          a.language-link {
            font-family: "Roboto-Bold";
        }
        

.navbar-nav {
  // margin: 0;
}
.navbar-nav li {
  //margin-right: 40px;
}

.navbar-default .navbar-nav > li > a {
  color: #2D3642;
  font-family: "Roboto-Bold";
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #250e62 !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
  background-color: transparent;
}
.open.dropdown-menu {
  display: block;
}
.dropwon{
  cursor: pointer;
  .is-active{
    border-bottom: 0px solid #fff;
  }
 .is-active::after {
    background-color: transparent !important;
    border-left: 0px solid transparent !important;
    border-right: 0px solid transparent !important;
    border-bottom:0px solid #F4F4F4 !important;
    content: " ";
    position: absolute;
    top: 0px;
    left: 0;
  }
}
.navbar-nav .is-active::after {
  background-color: transparent;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 18px solid #F4F4F4;
  content: " ";
  position: absolute;
  top: 62px;
  left: 35%;
}
.closeMenu{
  display: none;
}
.navbar-toggle[aria-expanded=true]{
  .menu{
    display: none;
    
  }
  .closeMenu{
    display: block;
    font-size: 10px;
  }
  
}
.navbar-toggle[aria-expanded=true] .icon-bar:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-bottom: -1px;
}

.navbar-toggle[aria-expanded=true] .icon-bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle[aria-expanded=true] .icon-bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-8px, -9px);
  transform: rotate(45deg) translate(-8px, -9px);
}
.navbar-default .navbar-toggle .sr-only {
  position: relative;
  overflow: unset;
  font-size: 10px;
}
}
@media (max-width: 768px){
  .navbar-default .navbar-collapse {
    margin-left: 0;
  }
  .block-language, .mob-nav-title {
    /* border-bottom: 1px solid #D8D8D8; */
    padding: 20px 0;
  }
  .navbar-nav {
    margin-left: 15px;
  }
  .region.region-navigation-collapsible {
    display: block;
    float: none;
  }
  /** message block **/
  .block-messages-icon-block {
    right: 55px;
    position: absolute;
  }
  .region-navigation-collapsible .block-messages-icon-block {
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    flex-direction: column;
    margin: 0;
    left: 0;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
  }
  
  .message-icon {
    font-size: 0;
    position: absolute;
  }
  .region-navigation-collapsible .block-messages-icon-block a {
    position: relative;
    font-size: 22px;
    float: left !important;
    margin: 0 20px;
    bottom: 20px;
  }
  /**Language switcher **/
  .block-language, .mob-nav-title {
    padding: 20px 0;
  }
  .dropdown {
    border-bottom: 1px solid #D8D8D8;
    margin: 5px 0px;
  }
  header{
    .navbar-toggle{
      padding:5px 10px;
    }
    .dropdown-toggle {
      width: 95%;
      top: -10px;
      font-size: 16px;
      // left:-50px
    }
     .dropdown-toggle::after {
      left: -50px;
      content: " ";
      border-right: 2px solid #ff8674;
      border-bottom: 2px solid #ff8674;
      width: 15px;
      height: 15px;
      position: relative;
      float: right;
    }
    .dropdown-toggle[aria-expanded=true]::after{
    bottom: -10px !important;
    }
  }
  
  
  
  .region.region-navigation-collapsible {
    display: block !important;
    float: none !important;
  }
  header .language-switcher-language-session {
    width: 100%;
  }
 
  
}
.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
.navigation .logo {
  width: 230px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 30px;
}


@media (max-width: 767px)
{
  .visible-xs {
    display: block !important;
  }
  .block-language, .mob-nav-title {
    padding: 20px 0;
    border-bottom: 1px solid #D8D8D8;
  }
  header {
    li.dropwon {
      cursor: pointer;
      padding-top:10px;
      padding-bottom:10px;
      border-bottom:1px solid #d8d8d8;
      a.switch{
        width:100%;
        .icofont-rounded-down{
          float:right;
          color:#250e62;
        }
      }
  }
  }
  
}

@media (min-width: 768px)
{
  header.navbar {
    padding: 0px 100px 0px 35px;
  } 
  .menu--main{
    li:last-child{
      margin-right: 0px;
    }
  }
}
@media (min-width: 992px) {
  header.navbar{
    padding:0px 48px 0px 35px;
  }
}
@media (min-width: 1200px) {
  header.navbar{
    padding:0px 48px 0px 35px;
  }
}