
.mat-dialog-container{
    border:1px solid #c5c5c5;
    border-radius: 0px;
    position: relative;
}
.modal-header,.modal-footer{
    border-bottom:0px;
    border-top:0px
}
.close{
    border: transparent;
    position: absolute;
    top: 10px;
    right: 12px;
    width: auto;
    font-size: 28px;
    min-width: 10px;
    color: black;
    background: transparent;
    opacity: inherit;
}
.close:focus,.close:active{
    color: black;
    background: transparent;
    opacity: inherit;
}