.mat-ripple-element {
    display: none;
  }
  
  .tabs-container {
    width: 100%;
    float: left;
    position: relative;
    background-color: #fff;
  
    &::after, &::before {
      display: table;
      content: '';
    }
  
    .row {
      // margin: 0 auto;
    }
  }
  
  .mat-tab-labels {
    border-bottom: 1px solid #dddddd;
    padding-left: 15px;
  
    .mat-tab-label {
      height: auto;
      border-radius: 5px;
      background-color: #dddddd;
      padding: 9.35px 40px;
      margin-right: 0.6rem;
      margin-bottom: -2px;
      font-size: 16px;
      font-weight: bold;
      color: #2d3642;
      opacity: 01 !important;
  
      & .mat-tab-label-content {
        font-family: 'Roboto';
      }
  
      &.mat-tab-label-active {
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
      }
    }
  }
  
  .mat-ink-bar {
    background-color: transparent !important;
  }
  
  .mat-tab-header {
    border-bottom: 0px !important;
  }
  
  .heading-astric {
    padding:20px 25px;
    font-weight: bold;
  }
  
  .gray-out {
    border: 0.5px solid $gray;
    margin-bottom: 13px;
  }
  
  .line-border {
    border: 0.5px solid $gray;
  }
  
  .new-organisation {
    padding-left: 25px;
    padding-right: 1.9rem;
    // padding-top:0.6rem;
  }
  
  .sidenav {
    .mat-list-item-content:hover {
      border: 1px solid #000000 !important;
    }
  
    .mat-list-item-content:not(first-child):hover {
      border: 0px solid #000000 !important;
    }
  }
  //mat tooltip
  .mat-tooltip {
    width: 190px;
    // background-color: darkblue !important;
    border-radius: 6px;
    -webkit-backdrop-filter: blur(9px) !important;
    backdrop-filter: blur(9px) !important;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.3) !important;
    background-color: rgba(247, 247, 247, 0.98) !important;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: -0.1px;
    color: #000000 !important;
    margin-left: 5px !important;
  }
  
   .mat-tab-label.mat-tab-disabled, .mat-tab-link.mat-tab-disabled {
    color: rgba(0, 0, 0, 0.38);
  }
  