#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 8888;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
    }
    .mat-snack-bar-container{
        min-width: auto !important;
        margin: 4px auto !important;
        height: auto;
        color: #a40000 !important;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        letter-spacing: normal;
        border: solid 1px #bbbbbb;
        max-width: 45vw !important;
        background-color: white !important;
      
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
         0px 6px 10px 0px rgba(0, 0, 0, 0.14), 
         0px 1px 18px 0px rgba(0, 0, 0, 0.12);
         .error{
            color: #a40000 !important;
            position:relative;
            .error_msg{
                padding-right: 30px;
                padding-left: 20px;
                text-align: justify;
                word-break: break-all;
            }
           .close-icon-design{
            top: 0px;
            float: none; 
            position: absolute;
            cursor: pointer;
            bottom: 30px;
            background-color: white !important;
            color: #2d3642 !important;
            width: 20px;
            height: 20px;
            font-family: "Roboto";
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            margin-left: 15px;
            right: 0px;
           }
        }
        // .success{
        //     color: #18742a !important;
            
        // }
        .success{
            color: #18742a !important;
            position:relative;
            .error_msg{
                padding-right: 30px;
                padding-left: 20px;
                text-align: justify;
                word-break: break-all;
            }
           .close-icon-design{
            top: 0px;
            float: none; 
            position: absolute;
            cursor: pointer;
            bottom: 30px;
            background-color: white !important;
            color: #2d3642 !important;
            width: 20px;
            height: 20px;
            font-family: "Roboto";
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            margin-left: 15px;
            right: 0px;
           }
        }
    }
.mat-snack-bar-container.error{
    border-left: 10px solid rgba(164, 0, 0, 0.5);
}
.mat-snack-bar-container.success{
    border-left: 10px solid rgba(24, 116, 42, 0.5);   
}

.toast-container{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
.icofont-warning:before{
    font-size: 24px;
    height: 24px;
    padding-right: 15px;
}
.toastMsg{
  font-family: 'Roboto-Bold';
  font-size: 16px;
  font-weight: bold;
  line-height: 1.06;
  color:#ffffff;
}





.icofont-close-circled{
    float: right;
    font-size: 20px;
    cursor: pointer;
}


.close-icon-design{
    float: right;
    position: relative;
    bottom: 20px;
    background-color: white !important;
    color:#2d3642 !important;
    width: 20px;
    height: 20px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-left: 15px; 
}
.tringle-align{
    margin-right:0px;
    margin-left:0px;
    position: absolute;
    width: 20px;
    height: 52px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #a40000;
    margin-left: -10px;
}
.check-align{
    margin-right: 7px;
    margin-left:7px;
    width: 20px;
    height: 52px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #18742a;
}
.success-border{
    display:inline-block;
    height: 51px;
    border-left: 10px solid rgba(24, 116, 42, 0.5);   
    position: absolute;
    top:0px;
    left: 0px;
}
.success .close-icon-design{
    bottom: 0px;
}
@media screen and (max-width: 767px) {
    .mat-snack-bar-container{
        min-width:75% !important;
    }
}