// Typography
$font-family-base: Roboto, "Helvetica Neue", sans-serif !default;
$font-size-base: .875rem !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$headings-margin-bottom: (1rem / 2) !default;
$headings-font-family:   inherit !default;
$headings-font-weight:   400 !default;
$headings-line-height:   1.1 !default;
$headings-color:         inherit !default;

//background-color
$white: #ffffff;
$blue:#250e62;
$gray: #f4F4F4;
$black:#2b2b2b;
//width
$sidebar-width: 10.06rem;
$input-width: 20rem;

//padding
$button-top: 0.4375rem;
$button-bottom: 0.4375rem;
$button-left: 1.25rem;
$button-right: 1.25rem;
$button-padding: 0.4375rem 1.25rem;
$tab-padding: 1.188rem;
//font-size
$font-14: 0.875rem;
$font-15: 0.9375rem;
$font-16: 1rem;
$font-17: 1.063rem;
$font-18: 1.125rem;
$font-19: 1.188rem;
$font-20: 1.25rem;
$font-21: 1.313rem;
$font-22: 1.375rem;
$font-23: 1.438rem;
$font-24: 1.5rem;
$font-25: 1.563rem;
$font-26: 1.625rem;
$font-27: 1.688rem;
$font-28: 1.75rem;
$font-29: 1.813rem;
$font-30: 1.875rem;
$font-31: 1.938rem;
// Typography

$font-family-basae: 'Roboto-Bold';
$font-size-base: .875rem !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;
//align
$text-right: right;
$text-left: left;
$text-center: center;
//text line
$line-height: normal;
$letter-spacing: normal;
