<div class="well plan-wrap">
  <div class="center-align">
      <!-- <div class="inst-approved"></div> -->
      <h2>{{'netCancelHeadingText' | translate}}</h2>
      <div class="week-day">
        <div>{{'netpaymentCancelMsg' | translate}}</div>
          <br><br>
          <a class="link-bold" routerLink="/overview">{{'back-to-overview' | translate}}</a>
      </div>
  </div>
</div>