<footer class="footer container">
  <div class="region region-footer">
    <section id="block-contactus" class="block block-block-content block-block-content167c461f-8a6b-45c4-80d7-ce2c604bc298 clearfix">
      <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
        <div class="outerDiv">
          <h1>{{'got-a-question' | translate}}</h1>
          <div class="leftDiv">
            <div *ngIf="countryCode=='fi'">
              <span [innerHTML]="findAns | translate"></span> <a class="message" routerLink="/messages">{{'Message' | translate}}.</a>
            </div>
            <div *ngIf="countryCode=='se'">
              <span [innerHTML]="gotquestion | translate"></span> 
            </div>
            <div>&nbsp;</div>
            <p *ngIf="countryCode=='se'"><a class="link-bold call-text" routerLink="/contact-us">{{'contact-us' | translate}} &gt;</a></p>
          </div>
          <div class="rightDiv">
            <div class="link-bold">
              <img alt="contact us" data-entity-type="file" data-entity-uuid="2682f7f7-602a-4f96-a3cc-dbf4f2436a7f" src="../../assets/images/contactus.png" class="align-right">
            </div>
          </div>
          <p>&nbsp;</p>
        </div>
      </div>
    </section>
  </div>
</footer>
