<div class="region region-content">
    <article  class="page full clearfix">
        <div class="content">
  
            <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
                <div class="center-align ">
                    <div class="contact-heading greeting">{{'msgThankyouHeadingText' | translate}}</div>
                    <div class="week-day">{{'msgThankYouWeakDay' | translate}}</div>
                    <div class="week-day">&nbsp;</div>
                    <div class="week-day">
                        <a class="link-bold" routerLink="/overview">{{'thankyouHyperLabelText' | translate}}</a></div>
                </div>
            </div>
    
        </div>
    </article>


</div>
