.region.region-content {
    padding: 6%;
    background: white;
    border-radius: 4px;
}
.region.region-content {
    z-index: 9;
}
.field.field--name-body.field--type-text-with-summary.field--label-hidden.field--item {
    padding: 20px 0;
}
.week-day {
    margin-left: -1%;
}