<nav class="pager-nav text-center" *ngIf="items && items.length>10">
    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <ng-container *ngIf="pager.currentPage !== 1">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                <a (click)="setPage(1)" class="page-link">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
            </li>    
        </ng-container>
        

        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <ng-container *ngIf="pager.currentPage !== pager.totalPages">
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
            </li>
        </ng-container>
        
    </ul>
</nav>
