.region.region-content {
    padding: 6%;
    background: white;
    border-radius: 4px;
}
.region.region-content {
    z-index: 9;
}
.contact-us {
    background: white;
    padding: 1% 0% 0 3.7%;
}
.greeting, h1 {
    color: #250e62;
    font-family: "Roboto-Bold";
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    padding-bottom: 10px;
    letter-spacing: normal;
}
.contact-us .contact-sec-1, .contact-us .contact-sec-2 {
    margin-left: 10%;
    margin-right: -2%;
}
.contact-us .contact-sec-1::before {
    content: url(../../../assets/images/icon_call.png);
    position: relative;
    right: 77px;
    top: 60px;
}
.contact-us .call-text {
    font-size: 18px;
}
.contact-us h2 {
    margin: 5px 0 35px;
    font-size: 21px;
}
.sergel-bold {
    font-family: "Roboto-Bold";
    font-weight: normal;
}
.contact-us .contact-sec-2 {
    margin-top:25px;
}
.contact-us .contact-sec-2::before {
    content: url(../../../assets/images/icon_message_black.png);
    position: relative;
    right: 75px;
    top: 38px;
}
.contact-us .call-text {
    font-size: 18px;
}
.contact-us h2 {
    margin: 5px 0 35px;
    font-size: 21px;
}
.call-text {
  .link-bold {
      font-size:16px;
  }
}

@media (max-width: 768px) {
  .greeting, h1 {
    font-size: 28px;
  }

  .contact-us .contact-sec-1, .contact-us .contact-sec-2 {
    margin-left: 50px;
  }
}
