<div class="region region-content">
	<div class="contact-us">
		<div class="contact-heading greeting">{{'how-can-we-help' | translate}}</div>
		<div class="contact-sec-1 col-sm-5" *ngIf="conuntryCode=='se'">
			<div class="call-text">{{'give-us-a-call' | translate}}</div>
			<h2 class="contact-number">0771-103322</h2>
			<div class="sergel-bold">{{'opening-hours' | translate}}</div>
			<div>{{'mon-fri' | translate}} 09.00 - 17.00</div>
		</div>
		<div class="contact-sec-2 col-sm-5">
			<div class="call-text"><a class="link-bold" routerLink="/messages">{{'send-us-a-message' | translate}}</a></div>
			<!--<h2 class="link-bold"><a routerLink="/messages">{{'go-to-messages' | translate}}</a> &gt;</h2>-->
		</div>
		<div class="contact-sec-addr">
			<div class="col-sm-3 sergel-bold">{{'send-us-a-letter' | translate}}</div>
				<ng-container *ngIf="conuntryCode=='se'">
					<div class="col-sm-3">Sergel Kredittjänster AB,&nbsp;</div>
					<div class="col-sm-3">FE26184,&nbsp;</div>
					<div class="col-sm-3">105 26 STOCKHOLM</div>
				</ng-container>
				<ng-container *ngIf="conuntryCode=='fi'">
					<div class="col-sm-3">Sergel Oy,&nbsp;</div>
					<div class="col-sm-3">PL 92,&nbsp;</div>
					<div class="col-sm-3">15141 Lahti</div>
				</ng-container>
			</div>
	</div>
</div>
