.bread-crumb {
    margin: 0% 0 5% 0%;
    // right: 15%;
}
.bread-crumb a {
    color: black;
    padding: 8px 0px;
}
a.breadcrumb:last-child{
    border-bottom: 2px solid #ff8674;
    position: relative;
    left: 3px;
    padding: 5px 0;
    font-family: "Roboto-Bold";
    font-weight: normal;
    pointer-events: none;
}
.icofont-rounded-right{
    display:none;
}
.icofont-rounded-right.active{
    display: inherit;
}