<div class="highlighted">  
  <div class="region region-highlighted">
    <section id="block-custombreadcrumbblock" class="block block-sergel-messaging block-custom-breadcrumb-block clearfix">
      <div class="bread-crumb  hidden-xs" *ngIf="breadcrumbs.length!=1" >
          <a class="breadcrumb" routerLink="/{{breadcrumb.url}}" routerLinkActive="router-link-active"   *ngFor="let breadcrumb of breadcrumbs;let i=index;let last = last;let first=first">
              {{breadcrumb.breadcrumb | translate}}  <i class="icofont-rounded-right" [ngClass]="!last ? 'active' :''"></i>
              
          </a>  
         </div>
    </section>
  <div  class="hidden"></div>

  </div>
</div>