.opencase-case, .well {
  background: #FFF;
  font-size: 14px;
  font-family: 'Roboto';
}

.plan-wrap {
  padding: 10% 4%;
}

.inst-approved::before {
  background-image: url(../../../../assets/images/icon_check.png);
  background-repeat: no-repeat;
  content: " ";
  position: relative;
  padding: 20px;
}

.week-day {
  margin-left: -1%;

  p {
    text-align: center;
  }
}


.link-bold, .see-all-cases, .see-less-cases {
  font-family: "Roboto-Bold";
  font-weight: normal;
  color: #250e62;
}
