<div class="region region-content">
    <div class="path-securemessage">
        <form [formGroup]="secureForm" class="node-secure-messages-form node-form" id="node-secure-messages-form" >
            <fieldset id="edit-case-numbers--wrapper" class="fieldgroup">
                <legend>
                    <span class="fieldset-legend">{{'addSecureQuestionHeading' | translate}}</span>
                </legend>
                <div class="input-group">
                    <div class="select-wrapper">
                      <div class="selectric-wrapper selectric-form-select selectric-form-control  selectric-responsive">
                        <div class="selectric-hide-select">
                          <select class="form-select form-control" id="edit-month" name="month"  formControlName='CaseLookUp'>
                            <option value="{{securitySolution.clientName}}" *ngFor="let securitySolution of securitySolutions">
                                {{securitySolution.clientName}}
                            </option>
                          </select>
                        </div>
                        <div class="selectric">
                          <span class="label" [ngClass]="casenumber!=0 ? 'active' :''">
                              {{selectOption | translate}}
                              <div class="font-12" *ngIf="casenumber!=0">
                                {{'addSecureCasenumberLableText' | translate}} {{casenumber}}
                                </div>
                            </span>
                        </div>
                        <div class="selectric-items" tabindex="-1" *ngIf="securitySolutions.length>0">
                          <div class="selectric-scroll">
                            <ul>
                                <li class="last" (click)="selectedOption(i,securitySolution)"   *ngFor="let securitySolution of securitySolutions;let i = index;let first = first;">
                                    <strong>{{securitySolution.clientName}}</strong>
                                    <div class="font-12">
                                        {{'addSecureCasenumberLableText' | translate}} {{securitySolution.caseNumber}}
                                    </div>
                                </li>
                            </ul>
                          </div>
                        </div>
                        <input class="selectric-input" autocomplete="off" tabindex="0">
                      </div>
                    </div>
                    <span class="input-group-addon">
                      <span class="icon glyphicon glyphicon-refresh ajax-progress ajax-progress-throbber" aria-hidden="true">
                      </span>
                    </span>
                  </div>
            </fieldset>
            <!-- <span class="see-all-cases">See all cases</span> -->
            <div class="heading" [ngClass]="secureForm.controls.CaseLookUp.value ? '' : 'textblur'">
                <h4>{{'new-message' | translate}}</h4>
            </div>
            <div class="form-group" id="edit-title-wrapper">      
                <div class="form-item  form-group">
                    <input class="form-text required form-control"  type="text" 
                    id="edit-title-0-value" name="title[0][value]" value="" 
                    size="60" maxlength="60" formControlName="Subject" 
                    placeholder="{{'msgInputSubjectPlaceholder' | translate}}" 
                    required="required" aria-required="true"
                    autocomplete="off" 
                    [ngClass]="!secureForm.controls.CaseLookUp.value ? 'form-disabled' : ''" title="Please fill this field.">
                    <app-ErrorMessage [control]="secureForm.controls.Subject"></app-ErrorMessage>
                </div>
            </div>
            <div class="form-group"  id="edit-field-message-body-wrapper">      
                <div class="form-item">
                    <div class="form-textarea-wrapper">
                        <textarea class="required form-control resize-vertical" id="edit-field-message-body-0-value" 
                        name="field_message_body[0][value]" formControlName="MessageText" rows="10" cols="60" 
                        placeholder="{{'msgTextAreaInputPlaceholder' | translate}}" required="required" 
                        aria-required="true" 
                        maxlength="1500"
                        [ngClass]="!secureForm.controls.CaseLookUp.value ? 'form-disabled' : ''" title="Please fill this field."></textarea>
                        <app-ErrorMessage [control]="secureForm.controls.MessageText"></app-ErrorMessage>
                        <div id="edit-field-reply-0-value-counter" class="counter">
                            {{'msgTextAreaInputMessageHint' | translate}} 
                             <strong>{{1500-secureForm.controls.MessageText.value.length}}</strong>
                         </div>
                    </div>
                </div>
            </div>
            <div id="ajax-wrapper" class="form-group">
                <div *ngIf="fileSizeError!=''">
                    <div class="alert alert-success alert-dismissible"  role="alert"><span aria-hidden="true">×</span><h4 class="sr-only">Status message</h4>{{'msgFilesizeErrorText' | translate}}</div>
                </div>
                <div class="form-item ">
                    <label [ngClass]="uploader.queue.length>0 ? 'js-hide' : ''" for="edit-file-upload-upload" id="edit-file-upload--label" (click)="onSelectChange($event)" class="control-label">
                        <span  id="attach_file" style="cursor: pointer;" >{{'msgAttachFileText' | translate}}</span>
                    </label>
                    <div class="js-form-managed-file form-managed-file" *ngFor="let queue of uploader.queue">
                           
                        <span  class="file file--mime-application-pdf file--application-pdf icon-before">
                            <span class="file-icon">
                                <span class="icon glyphicon glyphicon-file text-primary" aria-hidden="true"></span>
                            </span>
                            <span class="file-link">
                              {{queue.file.name}}
                              <!--<a href="{{queue.file.name}}" type="{{queue.file.type}}; length={{queue.file.size}}" title="" target="_blank" data-toggle="tooltip" data-placement="bottom" data-original-title="Open file in new window">
                                {{queue.file.name}}
                              </a>-->
                            </span>
                            <span class="file-size">{{queue.file.size}}KB</span>
                        </span>
                        <button (click)="removeFile()"  formnovalidate="formnovalidate" class="button js-form-submit form-submit btn-danger btn icon-before" type="submit" id="edit-file-upload-remove-button--vZ9bJrFOGbc" name="file_upload_remove_button" value="Remove">{{'msgButtonLableTextRemove' | translate}}</button>
                    </div>
                   
                    <div id="edit-file-upload" class="js-form-managed-file form-managed-file">
                        <div *ngIf="fileTypeError=='active'">
                            <div class="messages messages--error file-upload-js-error" aria-live="polite">{{'msgFileSelectErrorText' | translate }}  <em class="placeholder">{{fileName}}</em> &nbsp;{{'msgFileTypeExtensionmsgText' | translate }} <em class="placeholder">PDF, JPG, JPEG, PNG</em>.</div>
                        </div>
                        <input  class="js-form-file form-file form-control" #myInput type="file" 
                        id="edit-file-upload-upload" autocomplete="off" [ngClass]="!secureForm.controls.CaseLookUp.value ? 'form-disabled' : ''" 
                        name="files[file_upload]"  size="22" accept=" .jpg, .jpeg, .png, application/pdf">
                        <button class="js-hide button js-form-submit form-submit btn-primary btn icon-before" formnovalidate="formnovalidate" type="submit" id="edit-file-upload-upload-button" name="file_upload_upload_button" value="Upload">Upload</button>
                        
                    </div>
                </div>
            </div>
            <div class="file-desc" [ngClass]="secureForm.controls.CaseLookUp.value ? '' : 'textblur'">{{'msgFileDesciption' | translate}}</div>
            <!-- fi start -->
            
                <div class="notify-fields" [ngClass]="secureForm.controls.CaseLookUp.value ? '' : 'textblur'">
                    <fieldset class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper" id="edit-notification--wrapper">
                        <legend>
                            <span class="fieldset-legend">{{'msgNotifymeText' | translate}}</span>
                        </legend>
                        <div class="fieldset-wrapper">
                            <div id="edit-notification">
                                <ng-container *ngIf="conuntryCode=='se'">
                                    <div class="form-item js-form-item form-type-radio js-form-type-radio form-item-notification js-form-item-notification radio">
                                        <label for="edit-notification-m" class="control-label option">
                                        <input  class="form-radio" autocomplete="off" type="radio" id="edit-notification-m" name="notification" value="M" checked="checked">SMS</label>
                                        <div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-notify-sms-code js-form-item-notify-sms-code form-disabled form-group">
                                            <label for="edit-notify-sms-code" class="control-label">Prefix</label>
                                            <input readonly="1" autocomplete="off" disabled="disabled" class="form-text form-control" type="text" id="edit-notify-sms-code" name="notify_sms_code" value="+46" size="60" maxlength="128">
                                        </div>
                                        <div class="form-inline form-item js-form-item form-type-tel js-form-type-tel form-item-notify-sms js-form-item-notify-sms form-group">
                                            <label for="edit-notify-sms" class="control-label">Enter mobile number</label>
                                            <input  pattern="[0-9]{9}" autocomplete="off" class="form-tel form-control" type="tel" id="edit-notify-sms" name="notify_sms" value="" size="30" maxlength="9" placeholder="123456789">
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="form-item js-form-item form-type-radio js-form-type-radio form-item-notification js-form-item-notification radio">
                                    <label for="edit-notification-e" class="control-label option">
                                    <input class="form-radio" type="radio" id="edit-notification-e" name="notification" value="E">{{'msgInputRadioLabelEmail' | translate}}</label>
                                    <div class="form-item js-form-item form-type-email js-form-type-email form-item-notify-email js-form-item-notify-email form-group" style="">
                                        <label for="edit-notify-email" class="control-label">{{'msgInputLabelEmailText' | translate}}</label>
                                        <input title="A valid email address."  autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-email form-control" type="email" id="edit-notify-email" name="notify_email" value="" size="60" maxlength="254" 
                                        placeholder="john.joe@email.com"  required="required" aria-required="true">
                                    </div>
                                </div>
                                <div class="form-item js-form-item form-type-radio js-form-type-radio form-item-notification js-form-item-notification radio">
                                    <label for="edit-notification-na" class="control-label option">
                                    <input  class="form-radio" autocomplete="off" type="radio" id="edit-notification-na" name="notification" value="na">Don't notify me</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div *ngIf="conuntryCode=='se'" class="form-item js-form-item form-type-email js-form-type-email form-item-notify-email js-form-item-notify-email form-group">
                        <label for="edit-notify-email" class="control-label">{{'msgInputLabelEmailText' | translate}}</label>
                        <input title="A valid email address." autocomplete="off"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-email form-control" type="email" id="edit-notify-email" name="notify_email" value="" size="60" maxlength="254" placeholder="john.joe@email.com">
                    </div>
            </div>
            <div class="form-item js-form-item form-type-vertical-tabs js-form-type-vertical-tabs form-item- js-form-item- form-no-label form-group">
                <label for="edit-advanced" class="control-label sr-only">Vertical Tabs</label>
                <div class="entity-meta tab-content vertical-tabs-panes">
                    <input class="vertical-tabs__active-tab" autocomplete="off" type="hidden" name="advanced__active_tab" value="">
                </div>
            </div>
           
            
            <div  class="form-actions form-group js-form-wrapper form-wrapper" id="edit-actions">
                <button (click)="submitMessageForm()" class="send_class button button--primary  form-submit btn-primary btn"  
                type="submit" id="edit-submit" name="op" value="Send" 
                [ngClass]="!secureForm.controls.CaseLookUp.value ? 'form-disabled' : '' || sendButton ? 'form-disabled' : '' "  [disabled]="secureForm.invalid ">{{'msgSendButtonText' | translate}}</button>
            </div>
            <button (click)="leavePage()" class="cancel-class button  form-submit btn-default btn icon-before "   id="edit-leave-cancel" name="op" value="Cancel"  [ngClass]="!secureForm.controls.CaseLookUp.value ? 'form-disabled' : ''">{{'msgCancelButtonText' | translate }}</button>
        </form>
    </div>
</div>

