.region-content{
    padding: 6%;
    background: white;
    border-radius: 4px;
    z-index: 9;
}
.node-secure-messages-form{
    
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
    }
     .input-group {
        width: 100%;
    }
    .input-group .form-control {
        display: table-cell;
    }
    .input-group .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
    }
    .input-group-addon {
        display: none;
    }
    .input-group .select-wrapper:first-child .form-control:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .select-wrapper select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        line-height: 1;
        padding-right: 2em;
    }
    
    
    .select-wrapper:after {
        color: #337ab7;
        content: '▼';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        margin-top: -0.5em;
        padding-right: 0.5em;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 10;
    }
    .select-wrapper:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\e114';
        display: inline-block;
        font-family: 'Glyphicons Halflings';
    }
    
    .select-wrapper:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\e114';
        display: inline-block;
        font-family: 'Glyphicons Halflings';
    }
    .select-wrapper:after {
        content: "";
        right: 2px;
        color: #250e62;
    }
.selectric-scroll{
    max-height: 187px;
    
}
.selectric-items{
    // height: 302px;
    width: 100%;
}
.selectric-items li:hover,.selectric-items li {
    .font-12{
        font-size: 12px;
    }
}
}
.node-secure-messages-form, .comment-sergel-reply-form {
    padding-bottom: 50px;
    margin-top: 10px;
}
.node-secure-messages-form{
    legend {
        font-size: 16px;
        border-bottom: transparent;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        font-family: 'Roboto-Bold';
    }
} 
#edit-case-numbers--wrapper .fieldset-legend, 
#edit-case-numbers--wrapper {
  
    .selected{
        // .font-12{
        //     color:#fff
        // }
        
    }
}
.selected .font-12 {
    //color: #fff;
}
.node-secure-messages-form{
    .form-item.radio{
        border-bottom: 2px solid #D8D8D8;
        padding: 0.75% 0;
        .option {
            margin: 0 15px;
        }
    }
    .radio, .checkbox {
        position: relative;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .see-all-case{
        font-family: "Roboto-Bold";
        font-weight: normal;
        color: #250e62;
        cursor: pointer;
    }
    .see-all-cases::after, .see-less-cases::after {
        left: 10px;
        content: " ";
        border-right: 2px solid #250e62;
        border-bottom: 2px solid #250e62;
        width: 8px;
        height: 8px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: relative;
        display: inline-block;
        bottom: 2px;
    }
    .see-all-cases::after {
        border-right: 2px solid #250e62;
        border-bottom: 2px solid #250e62;
        width: 7px;
        height: 7px;
    }
    .see-all-cases{
        font-family: 'Roboto-Bold';
        font-weight: normal;
        cursor: pointer;
        color: #250e62;
        font-size: 14px;
    }
    .js-hide {
        display: none;
    }
    .form-disabled{
        cursor: not-allowed;
        pointer-events: none;
        box-shadow: none;
        opacity: 0.65;
        // background-color: transparent !important;
        // opacity: 0.5 !important;
    }
    #edit-notification{
        .form-item.radio{
            border-bottom: 0px;
        }
    }
    .selectric{
        padding:10px;
    }
    .selectric .label.active{
        line-height: 20px;
    }
    .selectric .label {
        text-align: left;
        .font-12{
            font-weight: normal;
        }
    }
    .form-type-managed-file .button {
        height: auto;
        font-size: 14px;
        font-family: "Roboto-Bold";
        font-weight: normal;
        padding: 5px 21px;
        border: 1px solid #250e62;
        background: transparent;
        color: #250e62;
        float: right;
        bottom: 41px;
        position: relative;
    }
    .comment-sergel-reply-form #edit-actions{
        float: right;
    }
    .comment-sergel-reply-form .button {
        height: 35px;
        border-radius: 0;
        font-size: 16px;
        font-family: "Roboto-Bold";
        font-weight: normal;
        line-height: 17px;
        text-align: center;
        padding: 0 32px;
        color: #a6a0c0;
        border: transparent;
    }
    .comment-sergel-reply-form .btn-primary {
        background-color: #250e62 !important;
        color: #fff;
        box-shadow: 0 2px 4px 0 #6a6a6a;
    }
    .comment-sergel-reply-form .form-actions .btn {
        margin-right: 0;
    }
    .comment-sergel-reply-form .button {
        height: 35px;
        border-radius: 0;
        font-size: 16px;
        font-family: "Roboto-Bold";
        font-weight: normal;
        line-height: 17px;
        text-align: center;
        padding: 0 32px;
        color: #a6a0c0;
        border: transparent;
    }
    .form-managed-file .button {
        height: auto;
        font-size: 14px;
        font-family: "Roboto-Bold";
        font-weight: normal;
        padding: 5px 21px;
        border: 1px solid #250e62;
        background: transparent;
        color: #250e62;
        float: right;
        bottom: 41px;
        position: relative;
    }
    .form-managed-file .button:hover,.form-managed-file .button:active,.form-managed-file .button:focus{
        color: #250e62 !important;
        background: transparent !important;
    }
    .file {
        display: table;
        font-size: 75%;
        font-weight: 700;
        margin: 5px 0;
        width: 100%;
    }
    .file {
        height: 44px;
    }
    .file-icon {
        display: table-cell;
        font-size: 150%;
        padding: 0.25em 0.5em;
        text-align: center;
        vertical-align: middle;
    }
    .file-size, .file-icon {
        display: none;
    }
    .file > span {
        background: #fff;
        color: #337ab7;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    .file > span:first-child {
        border-left: 1px solid #ccc;
    }
    .text-primary {
        color: #337ab7;
    }
    .file-link {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
    
    .file-link {
        color: #333 !important;
        font-size: 14px;
        font-weight: normal;
        border-bottom: 2px solid #D8D8D8 !important;
        border-top: 2px solid #D8D8D8 !important;
        text-decoration: none !important;
    }
    .file > span {
        background: #fff;
        color: #337ab7;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    .file-link a, .file-link a:hover, .file-link a:focus, .file-link a:active {
        color: inherit;
    }
}
.visibleMessage{
    height:200px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: transparent !important;
    opacity: 0.5 !important;
}
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}
#node-secure-messages-form{
    .notify-fields {
        display: none;
    }
   
    
}

.form-item-notification {
    width: 33%;
    float: left;
    margin: 0 !important;
}
.file-desc {
  clear: both;
}
