// #overlay{
//     background: #ffffff;
//   color: #666666;
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   z-index: 5000;
//   top: 0;
//   left: 0;
//   float: left;
//   text-align: center;
//   padding-top: 25%;
//   opacity: .80;
//   img{
//     z-index: 6000;
//     position: absolute;
//     top: 45%;
//   }
// }
$offset: 187;
$duration: 1.6s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.overlay {
    position:fixed;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(74,74,74,.8);
    z-index:999;
  }
  .spinner {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #250e62;
  }
	25% { stroke: #f3f7fa; }
	50% { stroke: #ffffff; }
	75% { stroke: #f3f7fa; }
  100% {
    stroke: #250e62;
  }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
